[2022-04-08 06:08] #435 closed, assigned to sitaram-kalluri, murali-shris

[2022-04-08 06:09] murali-shris commented on #436
Published
at_client 3.0.16
at_client_mobile 3.1.12

[2022-04-08 06:09] #436 closed, assigned to sitaram-kalluri, murali-shris

[2022-04-10 05:54] cconstab opened #477 "Notifications sent to self never get a callback."
**Describe the bug**
If an @ sign sends a notification to itself (to notify another client on the same @ sign the call back never gets called.
This could be a bug or a limitation not sure but it had me scratching my head for a while
**To Reproduce**
Steps to reproduce the behavior:
1. First write a small program that sends notification to yourself
2. Then call notificationService.notify(Notificati

[2022-04-10 05:56] cconstab commented on #477
I think we should make this work... But interested in your PoV..

[2022-04-10 20:13] gkc commented on #477
Notifications were deliberately built for sending between different at-signs, it seems, so I think this is probably more of a feature request than a bug

I agree it's useful & I think we should do it once the notifications basics are rock solid

[2022-04-10 20:15] cconstab commented on #477
migrated to enhancement

[2022-04-11 04:30] sitaram-kalluri commented on #324
The fix is published in at_client_mobile: ^3.1.12.

[2022-04-12 19:15] gkc opened #483 "end2end_tests in at_client_sdk are flaky"
**Describe the bug**
Sometimes the end2end_tests fail. Sometimes they succeed.

**To Reproduce**
They're flaky so it's not consistent. However - noticing that end2end_tests had failed for #482, I re-ran them and they failed again. I re-ran them again, and they worked.

**Expected behavior**
The tests should either succeed or fail consistently.

[2022-04-12 19:43] gkc commented on #483
We need to invest time here, find out why these tests are flaky and fix whatever the problem is. Every time there is a spurious test failure, it chews up some of somebody's time.

[2022-04-13 05:08] murali-shris commented on #467
* Initial doc - https://docs.google.com/document/d/1HbqSSGALkSP4SlVL1RRi4ED6oblzAgml8wjTBvj-anY/edit
* Existing at_client methods and the exceptions handled/thrown in each method was analysed
* proposed exception hierarchy and exception scenarios is documented in https://github.com/atsign-foundation/at_client_sdk/issues/468

[2022-04-13 05:09] murali-shris commented on #468
* Exception hierarchy and scenarios documented in https://docs.google.com/spreadsheets/d/1QsiktmwqTUzo5VEfLuwzLjIuUtuo3OTIGCg86DYD38Q/edit#gid=1339477610
@cconstab @cpswan @gkc @nickelskevin
Please review the above document and give your comments. Exception list is not final and will be updated as and when we introduce new exceptions

[2022-04-16 16:35] murali-shris commented on #430
at_lookup v3.0.17 published which contains caching logic. Have to implement changes in at_client and server to use the cache

[2022-04-17 17:28] #467 closed, assigned to VJag

[2022-04-17 17:32] murali-shris commented on #468
Latest hiearchy updated in
https://app.diagrams.net/#G16cDCBB3jaXXccT5OOxHIzt_h8vd3fC4q

[2022-04-17 17:33] murali-shris commented on #468
The outcome of error handling analysis.

- There is a need to represent various exceptions that can happen in the protocol using exception classes
- Exception classes will have hierarchies where superclasses represent coarse-grained and broader error conditions and the subclasses represent the fine-grained scenarios
- Hierarchy and the exception classes are documented in the following diagram
	# h

[2022-04-17 17:36] murali-shris commented on #469
New exception hierarchy. Work in progress
https://github.com/atsign-foundation/at_tools/tree/error_handling/at_commons

[2022-04-18 05:38] VJag commented on #483
@purnimavenkatasubbu I see that notify_test.dart has "'Notify a key with value to sharedWith atSign and listen for notification from sharedWith atSign' test and it is flaky.

I see that test assumes a single entry that matches the regex ".notifyList(regex: 'phone_$lastNumber')", however, it may not be true, as is the case when the tests failed. Below JSON has four entries that match the above rege

[2022-04-18 05:50] purnimavenkatasubbu commented on #483
Sure @VJag. I will re-write the existing and also the new tests [(e2e_tests)](https://github.com/atsign-foundation/at_client_sdk/pull/479) in the PR

[2022-04-18 06:52] VJag commented on #483
Yes. Idea is to fix other flaky tests of similar nature. Thank you.

[2022-04-18 12:02] purnimavenkatasubbu commented on #483
Fixed the issue as part of the [PR](https://github.com/atsign-foundation/at_client_sdk/pull/486)

[2022-04-18 13:18] sitaram-kalluri commented on #443
The root cause of the issue is Stats Notification Service send a notification in plain text and the app code is trying to decrypt the notification value.
Below are the two approaches to solve the issue:
1. Set `shouldDecrypt` method in subscribe method in notification service to true. This returns the notifications decrypted out of the box.
2. App code should have a logic to ignore the notificatio

[2022-04-18 14:55] srieteja commented on #439
removed the .env file and have added a section in the readme.MD to demonstrate the use of an env file. As suggested in the PR, working on a method to alert the user/developer while building the app that there needs to be an env file. This will be achieved by throwing an exception that suggests the developer to use an env file.

[2022-04-19 08:25] murali-shris commented on #430
Changes in at_client and server to initialise cache pending

[2022-04-19 08:27] #468 closed, assigned to murali-shris, VJag

[2022-04-19 12:02] gkc opened #487 "Publish the MVP Java client library"
Follow-on work from #466 - tidy up and publish the MVP Java client library

[2022-04-19 12:03] gkc commented on #466
Code complete. Added [3SP card](#487 ) (turned out to be another 8 SP) for next sprint to tidy up and publish (add to or create a new github repo).

[2022-04-19 12:03] #466 closed, assigned to gkc, VJag

[2022-04-19 12:05] gkc commented on #411
No progress this past sprint, all time spent on Atmosphere Pro work and the Java client library MVP. Will be my primary focus in PR35

[2022-04-19 12:12] gkc commented on #412
Some progress this past sprint:
* Setup: Spin up local root server, register and start new secondaries on demand
* Execution: In order to be able to have all of the clients be contained within the same test process, each client is running in its own Isolate. Each client can then be instructed to call a function.

Goals for this sprint:
* Control each client sending the respective Isolate by sendin

[2022-04-19 12:18] gkc opened #488 "Add keep-alive heartbeat to monitor"
See https://github.com/atsign-foundation/apps/issues/574 for context

**Is your feature request related to a problem? Please describe.**
Monitor should send periodic heartbeat to ensure that socket issues are detected (and the Monitor can therefore be recreated)

**Describe the solution you'd like**
See #481

[2022-04-19 12:24] gkc opened #489 "Demonstrate mock-based unit-testing using mocktail"
**Is your feature request related to a problem? Please describe.**
We've found that our error handling of edge cases - particularly, but not only, related to connectivity - needs to be improved. Testing these scenarios exhaustively in functional or end-to-end tests is difficult and time-consuming both in engineer effort and in adding to how long it takes those tests to run. Unit testing using mock

[2022-04-19 12:26] gkc commented on #489
Closed by #481

Recording of tech talk and the accompanying slides are [here](https://drive.google.com/drive/folders/1NNKTxTZRg3-ki9-unu0hDboKZ4kFkTmS)

[2022-04-19 12:26] #489 closed, assigned to gkc

[2022-04-19 12:27] gkc commented on #488
Closed by #481

[2022-04-19 12:27] #488 closed, assigned to gkc

[2022-04-19 12:50] gkc commented on #470
There is much work happening on this front already (improvements to error handling, streaming sync) but keeping this ticket open as a place to capture further ideas for enhancement.

[2022-04-19 12:54] VJag commented on #119
We do have a batch verb that we internally use in the SDK and it is not exposed to the app developers. The task is created to expose the batch to the app dev's but it did not make sense. We can close it and create a task if such a requirement arises as part of https://github.com/atsign-foundation/at_client_sdk/issues/470https://github.com/atsign-foundation/at_client_sdk/issues/470

[2022-04-19 12:54] #119 closed

[2022-04-19 12:55] gkc commented on #169
This has come up again recently. Changing priority to High in the backlog.

[2022-04-19 13:27] gkc commented on #483
Great - please merge and then close this ticket - thank you!

[2022-04-19 14:05] gkc commented on #412
Timeboxing to 3SP for this sprint. Next sprint I plan to invest time in teaching the approach to others and getting many more tests written.

[2022-04-19 14:41] gkc commented on #474
Thanks @kmahon99 we will tackle this issue in our next sprint which starts today.

[2022-04-19 14:54] srieteja commented on #439
Necessary changes have been made. The app runs smoothly for me now. @Intiserahmed please take a look at the branch that has been linked to this ticket and see if it resolves the issue that was initially causing.

[2022-04-20 06:02] purnimavenkatasubbu commented on #483
Merged the PR to the trunk. Closing the issue.[PR](https://github.com/atsign-foundation/at_client_sdk/pull/486)

[2022-04-20 06:02] #483 closed, assigned to VJag, purnimavenkatasubbu

[2022-04-20 08:38] yahu1031 commented on #474
@kmahon99 I see server timed out and socket exceptions in mine(custom app) as well. But not the corrupted pad block issue. May be specific to atsign?

[Here are logs](https://cdn.sourceb.in/bins/HfmmeXak2v/0) for future investigation.

### Issues found following these steps.

- Sync wasn't working(local data not syncing to remote) - exception while syncing batch
- SocketException
- Server Timeout

[2022-04-20 09:47] yahu1031 commented on #474
@kmahon99 can you please share your atKeys file with us(May be in discord).

[2022-04-20 12:05] yahu1031 commented on #474
@kmahon99 I would like to confirm a few things.
1. From point 3(reproducible steps), It looks like both sharedWith and sharedBy values are the same which means it must be a self key.
2. Just FYI there is a property called isBinary in metadata, If you pass true values, it will handle the Base64.encode() internally.
3. From point 5(reproducible steps), `getAtKeys()` will return `List<Atkeys>`. Looks

[2022-04-20 19:15] gkc commented on #474
Hi Kevin

I've spent some time looking into this as well, but haven't been able to reproduce it thus far.

Here's the logic trail I'm using to try to narrow down where the problem might be
* Decryption only ever happens in the client - we don't need to think about server interactions
* The only place where the AtKeyException can be thrown with this underlying exception text (which is a decryption

[2022-04-21 10:28] murali-shris commented on #430
Tried few changes in cache layer and caller. Had a review with Jagan and Gary.
https://github.com/atsign-foundation/at_libraries/commits/secondary_url_caching/at_lookup/lib/src
Outcome of the discussion
* Have an interface called SecondaryAddressFinder..CacheableSecondaryAddressFinder will be the concrete implementation
* Inject SecondaryAddressFinder into AtClientManager
* On exception handling b

[2022-04-21 21:19] cconstab opened #490 "Unable to perform initial sync in busy network (read slow) conditions."
**Describe the bug**
If network between at_client and the secondary is busy/congested then bad things can happen.

**To Reproduce**
Steps to reproduce the behavior:
1. First run an app (I used sshnp)
2. Then put load on the network (download a game !)
3. And then delete ~/.sshnp
4.  Then try and send a sshnp command
5. Sometimes the client errors an errors then crashes out as below or worse still

[2022-04-21 21:34] cconstab commented on #490
To create a bad network locally in the past i have used

https://m0n0.ch/wall/index.php

I will see if I can provide a cheatsheet to setting that up as a local VM for whoever wants to look at this tricky issue

[2022-04-25 08:26] #439 closed, assigned to gkc, srieteja

[2022-04-25 08:27] srieteja commented on #439
Issues have been resolved and the changes have been merged to trunk in the PR linked to this ticket. Example app runs smoothly with the env file now.

[2022-04-25 14:04] purnimavenkatasubbu commented on #394
Started testing atKey validation using at_client tests. Adding the scenarios to this [sheet](https://docs.google.com/spreadsheets/d/1rYmCmY6hrYeH72iKyGyloLtddzTnT1LwEL626n8mQ1U/edit?usp=sharing) as I'm testing it

[2022-04-26 17:50] murali-shris commented on #430
published at_lookup 3.0.21 initially which had bug. Fixed and published 3.0.22.
end2end tests are failing https://github.com/atsign-foundation/at_client_sdk/actions/runs/2228011709
Yet to figure out the root cause

[2022-04-28 07:34] murali-shris commented on #430
fixed end2end tests and made code changes in at_client to use secondary address cache. PR is ready for review
https://github.com/atsign-foundation/at_client_sdk/pull/496

[2022-04-28 14:53] sachins-geekyants opened #497 "getKeys gives no data with at_client 3.0.20"
**Describe the bug**
While using at_client: "3.0.20" on atmospherePro, I could not see any received files.
when looked into getAtKeys method, it was giving no data .

`atClient.getAtKeys(
              regex: 'file_transfer_'
            );`

 `var scanResult = await getSecondary().executeVerb(builder);`

Similarly, to populate sent history we also use getAtKeys method which is working as expected

[2022-04-28 15:00] sachins-geekyants commented on #497
Also, I noticed none of the contacts showed up.

 `atContactImpl.listContacts()` also uses getAtKeys method.

[2022-04-30 19:34] kmahon99 commented on #474
Sorry guys, didn't notice that this had been picked up. To answer your questions:

@yahu1031
1. Yes this is a self key, I'm only sharing it with myself to perform a simple test of encrypting an image and then retrieving, decrypting and displaying the image in another widget.
2. I'm not sure what you mean? I do a base64 encode because the `clientSDKinstance.put()` method will only accept strings as

[2022-04-30 19:46] yahu1031 commented on #474
@kmahon99 What I mean by encoding to base64 is, If you set `metadata` of an `AtKey` to `isBinary: true`, You don't actually need to do encoding from your code block. Where `atClientInstance.put(AtKey key, dynamic value)`, you can just pass the bytes there in the place of value. You can refer to the internal code of [put request transformation here](https://github.com/atsign-foundation/at_client_sd

[2022-04-30 20:13] kmahon99 commented on #474
Maybe I'm getting this wrong, but I'm doing `AtClientManager.getInstance().atClient.put(atKey, data);` and I get this error:
![image](https://user-images.githubusercontent.com/10032032/166121177-8a510d30-7ae3-4fa5-a166-46beada9c156.png)

[2022-04-30 20:22] kmahon99 commented on #474
Ah ok, I was using the wrong put method, but I'm still getting the same issue with the pad block.

[2022-04-30 20:39] yahu1031 commented on #474
Looks like you wrote your own class and created a put method there.
BTW can you please check with the latest versions of at_client and at_client_mobile and update us.

[2022-05-02 04:22] sitaram-kalluri commented on #394
Implemented the at_key validations for the put method . Following is the [PR](https://github.com/atsign-foundation/at_client_sdk/pull/492). Spent 8 SP's

[2022-05-02 07:07] murali-shris commented on #430
published at_client v3.0.21 containing caching changes

[2022-05-02 07:08] purnimavenkatasubbu commented on #394
Verified all the valid and invalid scenarios of atKeys using the atClient tests, wavi, and buzz apps and updated the [sheet](https://docs.google.com/spreadsheets/d/1rYmCmY6hrYeH72iKyGyloLtddzTnT1LwEL626n8mQ1U/edit#gid=1870842278) with the results.

[2022-05-02 14:56] kmahon99 commented on #474
I've updated at_client and at_client_mobile, but now I've got the old kotlin issue with biometric storage:
`Execution failed for task ':biometric_storage:kaptDebugKotlin'.

[2022-05-02 14:58] yahu1031 commented on #474
Use `1.5.21` kotlin version. That may resolve it. @kmahon99

[2022-05-02 15:09] murali-shris commented on #430
@cconstab please verify whether the caching solution solves the problem in MWC demo code

[2022-05-02 15:11] cconstab commented on #430
I will test

[2022-05-02 18:14] #497 closed, assigned to sitaram-kalluri, srieteja

[2022-05-02 19:13] gkc commented on #497
@srieteja please add a test to prevent regression - thanks!

[2022-05-03 12:51] gkc commented on #487
99% done is never 99% done. Ended up being another 8SP this sprint

[2022-05-03 12:51] #487 closed, assigned to gkc

[2022-05-03 12:52] gkc commented on #412
No progress in PR35; my time was spent on the Java client library and on eliminating end-to-end notification latency

[2022-05-03 13:06] gkc commented on #412
Time-boxing to 5SP for sprint 36

[2022-05-03 13:07] gkc commented on #411
No progress in PR35; my time was spent on the Java client library and on eliminating end-to-end notification latency

Time-boxing to 5 SP for sprint 36

[2022-05-03 13:28] gkc opened #504 "Streaming sync aka fsync"
New ticket for continuation of work started in #411

[2022-05-03 13:29] gkc commented on #411
Create a new issue #504 for continued work. Updated story points burned so far on this for posterity

[2022-05-03 13:29] #411 closed, assigned to gkc

[2022-05-03 13:51] gkc commented on #487
Updating story points to cumulative total (13 SP)

[2022-05-03 15:42] gkc commented on #443
Per discussion on sprint planning @VJag @cconstab Once fsync is being used this will become irrelevant as statsNotifications will no longer be generated; so we probably don't need to do anything extra server-side

[2022-05-03 15:51] gkc commented on #412
Reducing to 3SP as actually a whole lot of supporting work was completed as part of the notification latency elimination work.

[2022-05-03 17:29] cconstab commented on #443
Yup sounds good

[2022-05-03 20:09] kmahon99 commented on #474
Ok, I've fixed the Kotlin issue but I'm still getting the original pad block error when uploading.

[2022-05-04 08:37] yahu1031 commented on #474
While uploading? We can get on a call if you are sure it is while uploading data.

[2022-05-04 09:27] gkc commented on #474
@kmahon99 two quick questions:
1. What size is the image you are uploading?
2. What is the atSign you are using?

Thanks

Gary

[2022-05-04 09:29] gkc commented on #474
PS Have you tried deleting it, waiting for sync, and then re-creating it?

[2022-05-04 09:42] gkc commented on #474
FYI Here's the code I'm using to try to recreate your issue, @kmahon99

[code]

... but I've failed to reproduce the issue so far.

[2022-05-04 11:28] yahu1031 commented on #474
@kmahon99 Also could you please reconfirm that your code uses the latest version of at_client by checking up the imports.

1. Go to any file where you import at_client/at_client_mobile.
2. `Ctrl/Cmd + click` on the import
3. And you will find the path of the file on the top bar of the code. There you will see the version.
4. Please update the at_client and at_client_mobile versions.

[2022-05-10 23:16] anthonyvprakash opened #507 "Update Github and Pub.dev Readme/Overview for IoT Audience"
- [x] Review all our current Github Readme files and update relevant keywords for IoT
- [x] Review all our current Pub.dev packages and update relevant keywords for IoT

[2022-05-12 06:10] sachins-geekyants opened #508 "_getLastNotificationTime throws FormatException"
**Describe the bug**
Data stored in _latestNotificationId is not in encrypted form, which throws formatException while onboarding.
This issue was seen on 0living atsign.

**To Reproduce**
Steps to reproduce the behavior:
1. onboard with 0living in wavi
2. when sync completes restart the app.
3. we should get an exception and onboarding will fail

**Screenshots**
<img width="1076" alt="Screenshot 2

[2022-05-12 16:30] murali-shris commented on #508
fixed the issue in fix_lastNotificationId_bug branch. this branch also has some of the changes that have to be reverted from trunk that were merged for exception handling

[2022-05-13 09:43] gkc commented on #169
See https://github.com/atsign-foundation/at_tools/pull/184

[2022-05-13 10:44] gkc opened #511 "Use the new dedicated at-signs which have been set up for at_client_sdk e2e tests"
**Describe the bug**
New dedicated secondary servers have been set up for at_client_sdk end-to-end tests. See https://github.com/atsign-foundation/at_client_sdk/issues/447

However, those new at-signs are not yet being used by the at_client_sdk end-to-end tests.

**Expected behavior**
The new at-signs should be being used by the at_client_sdk end-to-end tests

[2022-05-13 10:50] gkc commented on #447
@ce2e1 host cicd1.atsign.wtf is on port 6564
@ce2e2 host cicd2.atsign.wtf is on port 6564

@ce2e3 host cicd1.atsign.wtf is on port 6565
@ce2e4 host cicd2.atsign.wtf port 6565

[2022-05-13 11:06] gkc commented on #511
Hi @cpswan - I've changed the e2e tests' config.yaml to use the atSigns you set up - however, the tests are failing because the credentials aren't being found. ( see [here](https://github.com/atsign-foundation/at_client_sdk/blob/trunk/at_end2end_test/test/at_credentials.dart) for context )

[2022-05-13 11:21] murali-shris commented on #508
Some of the changes related to exception handling and at key validation had to  be reverted. Purnima verified the changes for 0living atsign. Fix is working fine. Have requested Sachin to verify the fix from his end as well.

[2022-05-13 12:57] sachins-geekyants commented on #508
@murali-shris I tried running with `fix_lastNotificationId_bug` at_client branch with 0living, the data in _latestNotificationId key was updated with some encrypted value.

But, I again got FormatException in jsonDecode

        _logger.finer('json from hive: ${atValue.value}');
        return jsonDecode(atValue.value)['epochMillis'];
      }

I looked at the value in AtValue, it was in an encrypt

[2022-05-16 06:39] murali-shris commented on #169
Update after sprint PR 36
* Pull request is ready in at_tools and at_server. End to end tests in server require more changes to support automation of starting and stopping secondary server as a part of test steps
* Changes for at_client is in branch bypass_cache. Pull request will be raised once at_commons is published and server released to prod

[2022-05-16 08:32] murali-shris commented on #410
no work done in PR 36..carry over to PR 37

[2022-05-16 10:25] gkc commented on #412
No progress in PR36, moving to PR37

[2022-05-16 10:27] gkc commented on #504
No progress in PR36; moving to PR37

[2022-05-16 10:46] gkc commented on #412
Moving to backlog until PR38

[2022-05-16 11:39] gkc commented on #508
@murali-shris is your branch ready for @sachins-geekyants to re-test with?

[2022-05-16 12:46] sitaram-kalluri commented on #394
The PR is merged to trunk branch  and yet to be published.

[2022-05-16 12:47] sitaram-kalluri commented on #469
Completed implementation for exception chaining for AtClient get and put methods. Spent 8 SP
Following is the PR: https://github.com/atsign-foundation/at_client_sdk/pull/513

[2022-05-16 14:03] yahu1031 commented on #474
I have been debugging the at_dude app with `@assault30` atsign and found some keys have this issue. And here are the logs of the app.

[LOGS](https://cdn.sourceb.in/bins/NpdvONjP4H/0)
[LOGS with sharedBy details](https://cdn.sourceb.in/bins/fwnsoZLqW8/0)

**NOTE:** On every `SEVERE` of this error, There is the key above it.

[2022-05-16 16:17] ksanty commented on #507
@anthonyvprakash do we have a list of keywords?  If not who will be doing the research and establishing those?

[2022-05-16 18:15] cconstab commented on #443
I have moved to shouldDecrypt  and tested with sshnoports code which is working as expected ... Thanks @kalluriramkumar

[2022-05-16 18:15] #443 closed, assigned to gkc, sitaram-kalluri, murali-shris, VJag

[2022-05-16 18:41] #338 closed, assigned to murali-shris

[2022-05-17 08:43] murali-shris commented on #508
I have just passed the  branch - last_notificationid_bug to Sachin. I have renamed the latest notification id key in my latest fix

[2022-05-17 09:28] sachins-geekyants commented on #508
Working fine with the latest fix.

[2022-05-17 09:43] murali-shris opened #517 "Defensively handle decryption issues in sdk"
**Is your feature request related to a problem? Please describe.**
While decrypting values in at client SDK sometimes we run into issues like pad block, format exception invalid character. Possible causes are encrypting /decrypting with different keys/key pairs, trying to decrypt unencrypted values.

**Describe the solution you'd like**
- defensively handle decryption failures
https://docs.google.

[2022-05-17 10:33] gkc commented on #517
This will also provide workaround https://github.com/atsign-foundation/at_client_sdk/issues/474

[2022-05-17 13:31] CurtlyCritchlow opened #519 "Stream of AtKey from remote secondary"
**Is your feature request related to a problem? Please describe.**

I want to update the UI of my @dude app every time I receive a new dude or `AtKey`. To achieve this I have to use the below code snippet.
[code]
Every time I receive a new `AtKey` sync is called but not every time sync is called I receive a new `AtKey`. This mean I'm trying to get a new `AtKey` even when there isn't a new `AtKey`

[2022-05-17 14:28] murali-shris commented on #508
Published at_client 3.0.23 and at_client_mobile 3.1.15

[2022-05-17 21:59] yahu1031 opened #520 "Remove the AtClient instance while off-boarding the app"
**Is your feature request related to a problem? Please describe.**
Remove the current atsign instance from the `AtClient`/`AtClientManager`.

**Describe the solution you'd like**
Create a function called
[code]

**Describe alternatives you've considered**
We have tried and this worked pretty fine, but needs to be worked on it much to make it more perfect.

[code]

**Additional context**
Using
[cod

[2022-05-18 09:16] kmahon99 commented on #474
@gkc I've managed to successfully retrieve the data and have identified the offending line of code.

The issue isn't with uploading the data, it's with retrieving the data, if I do this:
`var items = (await AtClientManager.getInstance().atClient.getAtKeys()).where((element) => element.key!.startsWith(AuthenticationConsts.ATAPP_STORAGE_IMAGE_KEY));

      for (var item in items){

        var value

[2022-05-18 09:26] gkc commented on #474
@kmahon99 thank you for tracking down the issue!!! We will get that fixed pronto

[2022-05-18 09:49] yahu1031 commented on #474
@kmahon99 Yes, For some reason, we cannot pass the atKey we got from the server directly to the `get()` method. That will throw some errors. Instead, you can just create a new object of `AtKey` and write down the key and namespace to that new object and pass it to the `get()` method. Ideally passing the atkey you fetched to the `get` method must work.

[2022-05-18 12:31] cpswan opened #1571 "at_utf7 pub.dev package points to upstream repo rather than this fork"
**Describe the bug**
On pub.dev the Repository (GitHub) link points to https://github.com/michaelspiss/dart-utf7 rather than https://github.com/atsign-foundation/at_libraries/tree/trunk/dart_utf7

The usage example also imports the upstream utf7 rather than the at_utf7 (Null safety) fork.

**Expected behavior**
- [ ] directory should be named at_utf7 rather than dart_utf7 (fix this first)
- [ ] pu

[2022-05-19 22:58] xavierchanth opened #523 "NotificationService does not match regular expressions"
**Describe the bug**
Notification Service uses String.allMatches().isNotEmpty which only checks for a match against the exact string.
Something like `.*` will not work with `notificationService.subscribe(regex: '.*')`

**To Reproduce**
Steps to reproduce the behavior:
1. Call `notificationService.subscribe(regex: '.*${AtEnv.appNamespace}.*')` in an app
2. Send a notification to that atsign
3. And

[2022-05-20 06:26] murali-shris commented on #169
Published at_commons 3.0.16 and at_lookup 3.0.23.
Released server version 3.0.17a to canary.

[2022-05-20 16:05] cpswan commented on #398
archetype(s) have been updated, along with all the repos using them

[2022-05-20 16:05] #398 closed, assigned to nickelskevin, xavierchanth

[2022-05-20 16:06] cpswan commented on #507
IoT has been sprinkled where it made sense.

[2022-05-20 16:06] #507 closed, assigned to gkc, cpswan

[2022-05-20 19:49] #511 closed, assigned to nobody

[2022-05-20 20:49] xavierchanth opened #527 "Namespace is appended to AtKey.key when using notify"
**Describe the bug**
NotificationParams uses the original reference to AtKey.
In AtClientImpl.notifyChange, the original reference is modified which means the key cannot be reused after notify has been called.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Key
2. Notify using the notificationService.notify
3. Wait for the notify to occur
4. Check the key

**Expected behavior**
The

[2022-05-23 08:10] yahu1031 commented on #474
@kmahon99 Can I know what is the exact key you are getting issues with?

[2022-05-23 09:50] yahu1031 commented on #474
BTW here is what I have tried depending on [this comment](https://github.com/atsign-foundation/at_client_sdk/issues/474#issuecomment-1129771388)
[code]

This is my output
[code]

Please ping us on any of the social media resources. So that we can together debug your issue. If things are working fine, them please let us know and we can close if that fixes.

[2022-05-23 19:28] xavierchanth opened #531 "Review Public API for Notifications"
**Is your feature request related to a problem? Please describe.**

You can't implement the notify verb without manually importing `src/service/notification_service.dart`

**Describe the solution you'd like**

At the bare minimum export NotificationParams from at_client.

**Describe alternatives you've considered**

Maybe also export NotificationService as well so you can do something like:

[code

[2022-05-23 19:29] xavierchanth commented on #531
@gkc @VJag I would love some feedback on this, I can go ahead and make the changes based on your input.

[2022-05-25 10:30] yahu1031 commented on #474
@kmahon99 Can you please share your resolved steps that you have considered this to close.

[2022-05-25 11:41] #474 closed, assigned to sitaram-kalluri, yahu1031

[2022-05-25 18:59] #523 closed, assigned to xavierchanth

[2022-05-25 18:59] #527 closed, assigned to xavierchanth

[2022-05-26 11:38] nitesh2599 opened #534 "Failed to get shared key while encrypting / decrypting message"
**Describe the bug**
Getting the exception `"Null" is not subtype of type 'FutureOr<String>'` while sending and receiving notifications.
We received a notification on atmosphere pro, we got the above mentioned exception while decrypting.

**To Reproduce**
Steps to reproduce the behavior (Not always reproducible):
1. Log in with `perfectbluesnowskiing` on the receiver side.
2. Send a notification t

[2022-05-26 13:41] #324 closed, assigned to sitaram-kalluri

[2022-05-31 05:38] murali-shris commented on #169
No additional work to be done on this. Server latest version has to be released to prod.

[2022-05-31 06:28] sachins-geekyants opened #536 "An indicator to show online status of atsign"
**Is your feature request related to a problem? Please describe.**
This feature request arises out of UX in apps wherein it is good to know if the @ sign addressed for chat, file transfer, etc is online or not.

**Describe the solution you'd like**
A status on @ sign to indicate whether it is online, offline and maybe online but inactive. Also, it can be user choice to display or hide this status.

[2022-05-31 06:28] #508 closed, assigned to murali-shris

[2022-05-31 06:29] murali-shris commented on #517
No significant progress made due to sync P1 issues in PR37. Moving to PR38

[2022-05-31 09:51] murali-shris opened #537 "SyncUtil getLatestServerCommitId handle scenario where server is unable to respond"
There is some additional parsing mechanism of the response variable after the catch block where the result is definitely null.

     var result;
     try {
      result = await remoteSecondary.executeVerb(builder);
    } on AtClientException catch (e) {
      logger.severe(
          'Exception occurred in processing stats verb ${e.errorCode} - ${e.errorMessage}');
          return 'some_thing_sen

[2022-05-31 09:57] murali-shris opened #538 "sample to wait for full sync before first update"
Command-line apps to prevent updates to local secondary before a full sync

   - Any updates to an existing key that happen before  a full sync will be overridden by  the sync process
   - Objective of this task is to provide a sample/pattern to show how to wait for the full sync to finish.

[2022-05-31 11:04] murali-shris opened #539 "client sends null string in batch update command"
One of the problems reported in the below issue
https://github.com/atsign-foundation/at_server/issues/709

[2022-05-31 11:11] gkc commented on #539
Following detailed investigation, we found that the code path which caused this issue existed in the version of the Catweb app that Colin released in December, but no longer exists now.

This change https://github.com/atsign-foundation/at_server/pull/380/files , which removes this code path by having the HiveKeyStore.get() throw KeyNotFoundException rather than returning null, was merged to trunk

[2022-05-31 11:12] #539 closed, assigned to gkc

[2022-05-31 14:07] gkc commented on #169
@cconstab Canary https://github.com/atsign-foundation/at_server/releases/tag/c3.0.18a has been running for 10 days. Shall we roll out to production?

[2022-05-31 14:15] gkc commented on #536
@nickelskevin @cconstab drawing this to your attention as we've discussed this type of 'presence' functionality before

[2022-05-31 15:24] sitaram-kalluri commented on #394
The changes are rolled back to release the fix related to last notification id. The changes are in exception chaining PR.

[2022-05-31 16:04] xavierchanth commented on #519
Work encapsulated in: [at_tools#193](https://github.com/atsign-foundation/at_tools/issues/193)

[2022-05-31 16:04] #519 closed, assigned to nobody

[2022-06-01 01:28] cconstab commented on #169
I see no ships

[2022-06-01 01:30] gkc commented on #169
@cconstab ummm, huh?

[2022-06-01 12:36] purnimavenkatasubbu commented on #534
I was able to replicate this issue only when the network is down.
Steps I followed

- Switched off the network
-  I could see the error in the app
-  Sent a file from a desktop app
- Switched on the network back, I received the notification and was able to download the file.

https://user-images.githubusercontent.com/43639593/171405592-a394ed44-24c9-4c75-911c-a6d66dac5970.mp4

Note: In the desktop

[2022-06-01 13:36] cconstab commented on #169
Sorry yes I think we should push out.. Although there might be danger...

[2022-06-01 14:41] gkc commented on #169
If we wait a little, I can write some more aggressive tests. The most intrusive changes were around notifications, I could do with adding some stress/break tests. How about I do that? And aim to release at the weekend of testing goes well

[2022-06-02 06:31] murali-shris commented on #534
@nitesh2599 did you also face "invalid or corrupted pad block" exception as reported by Purnima?

[2022-06-02 15:01] xavierchanth commented on #531
Closed via #540

[2022-06-02 15:01] #531 closed, assigned to gkc, VJag, xavierchanth

[2022-06-03 10:08] nitesh2599 commented on #534
@murali-shris No, we didn't face "invalid or corrupted pad block".

[2022-06-06 05:43] sitaram-kalluri commented on #394
The changes are merged back to trunk on following PR's
1. [PR-513](https://github.com/atsign-foundation/at_client_sdk/pull/513)
2. [PR-515](https://github.com/atsign-foundation/at_client_sdk/pull/515)

[2022-06-06 06:43] murali-shris commented on #537
pull request https://github.com/atsign-foundation/at_client_sdk/pull/541

[2022-06-06 06:44] #537 closed, assigned to sitaram-kalluri, murali-shris, VJag

[2022-06-06 12:37] purnimavenkatasubbu opened #542 "Incorrect exception thrown for missing public key of current atsign on decryption side"
**Describe the bug**
The exception message is incorrect for the missing public key of the current atsign on the decryption side( receiver's end).

**To Reproduce**
Steps to reproduce the behavior:
1. log in to atsign A and atsign B
2. Then share a key from atsign B to atsign A
3. And then delete the public key on the atsignA

**Expected behavior**
An apparent exception message as "current atsigns'

[2022-06-07 05:33] sitaram-kalluri commented on #534
@sachins-geekyants : This issue is fixed as a part of exception chaining PR and currently the changes are available in at_client trunk branch. Please re-test and let us know if you still see the issue.

[2022-06-08 08:43] purnimavenkatasubbu opened #546 "If the device is offline after reset, App remains struck in loading"
**Describe the bug**
Resetting an atsign and then making the device offline, makes the app struck in loading. Eventually when the network is back the app still remains in the same state.

**To Reproduce**
Steps to reproduce the behavior:
1. Pair an atsign  in @ wavi app and add some data
2. Then reset the atsign from the dashboard
3. Restart the app and switch off the network
4.  Switch on the net

[2022-06-08 09:38] purnimavenkatasubbu opened #547 "After reset, If the atsign is paired in 2 devices, Only data from one device is being synced to cloud"
**Describe the bug**
After reset if an atsign is already paired with 2 devices,  Then the new data gets synced to the cloud only in the device in which the atsign was activated again.

**To Reproduce**
Steps to reproduce the behavior:
1. Pair an atsign with the wavi app on 2 devices, say device 1 and device 2
2. Then Reset the atsign from the dashboard
3. Restart the app on device 1 and wait till

[2022-06-09 09:01] #542 closed, assigned to sitaram-kalluri

[2022-06-11 13:30] yahu1031 commented on #538
This is a working sample code for full sync(initial sync) and delta sync

<details>
<summary>main.dart</summary>

[code]

</details>

<details>
<summary>sync_listener.dart</summary>

[code]

</details>

<details>
<summary>service.dart</summary>

[code]

</details>

---

<details>
<summary>Result when there is no local storage/secondary</summary>

[code]

</details>

<details>
<summary>Result when

[2022-06-13 09:07] purnimavenkatasubbu opened #550 "On the road testing of sync"
**Describe the bug**
Simulate an IP change and a network failure every few seconds from the client-side and assess the sync behavior while updating the same key multiple times during the process.

[2022-06-13 09:56] murali-shris opened #551 "condition to check if full sync is done"
With existing implementation, analyse the condition/ what changes have to be done to verify in full sync(sync:-1) is completed on app load

[2022-06-13 09:58] murali-shris opened #552 "automate test to check sync on IP address change on client side"
**Is your feature request related to a problem? Please describe.**
* when IP of the mobile app or command line app changes, sync behaviour is unknown

**Describe the solution you'd like**
* explore options to automate change of IP address
* check sync progress/status after IP address changes

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions o

[2022-06-13 10:00] murali-shris commented on #552
duplicate of https://github.com/atsign-foundation/at_client_sdk/issues/550

[2022-06-13 10:00] #552 closed, assigned to murali-shris, purnimavenkatasubbu

[2022-06-13 10:10] murali-shris opened #553 "need for client side compaction of commit log"
**Is your feature request related to a problem? Please describe.**
* we do not have client side compaction of commit log. In apps that update log of distinct keys, commit log size may grow beyond accepted size.

**Describe the solution you'd like**
* explore options to compact on client side / alternative data structure to commit log

[2022-06-13 10:36] gkc commented on #534
@sachins-geekyants can you confirm this has been fixed?

[2022-06-13 10:52] sachins-geekyants commented on #534
@gkc I haven't experienced this issue lately, but we can keep this ticket open until a new version of atmosphere is available to test for wider users.

[2022-06-13 11:18] yahu1031 commented on #538
This may need some enhancements/more variables to be exposed in SDK.
CC: @VJag @murali-shris

[2022-06-13 14:48] anthonyvprakash opened #554 "New Client Onboarding(StarHub/InQSmart/ScanBo)"
Integrating atsigns into their tech

- [ ] Provide resources, time and effort to onboard and integrate potential new clients
- [ ] StarHub
- [ ] ScanBo
- [ ] InQSmart

[2022-06-13 15:18] murali-shris commented on #169
server version 3.0.18 released to prod

[2022-06-13 15:23] sitaram-kalluri commented on #394
Moving to PR 39 to publish the changes

[2022-06-14 14:05] sitaram-kalluri opened #556 "Discussion on breaking change in exception chaining"
At the moment, AtClientException class in defined in at_client package. During the refactoring of exception hierarchies, AtClientException class is deprecated in at_client package and moved to at_commons package.

Now the apps have both the imports:
`import at_client/at_client.dart` and
`import at_commons/at_commons.dart` because of which AtClientException fails to resolve.

`The name 'AtClientExc

[2022-06-14 14:51] gkc commented on #556
@kalluriramkumar Thanks. Would this work?
* Publish at_client package and in its pubspec have it require a new minimum at_commons version
* Publish new at_commons version

[2022-06-14 15:17] kalluriramkumar commented on #556
@gkc : Yes, that should work.

[2022-06-14 15:17] sitaram-kalluri commented on #556
@gkc : Yes, this should work.

[2022-06-15 07:11] murali-shris commented on #551
introduce lastSyncedCommitId and serverCommitId in SyncProgress
apps can the use the below condition to check if initial sync is fully done
(syncProgress.isInitialSync && syncProgress.lastSyncedCommitId == syncProgress.serverCommitId)
Any error during the initial sync will be informed through syncProgress.syncStatus (already implemented.)
we can add additional information related to the error in s

[2022-06-15 10:33] purnimavenkatasubbu commented on #550
Tested Scenario

1)  Started the server locally
2) Ran an at_client test, That updates the key multiple times every few seconds
3)  Switched between 2 network connections
4) Verified whether sync is happening as expected.

https://user-images.githubusercontent.com/43639593/173806792-1f6b1a8f-d9c6-4bf4-b343-33f2e90b4bb2.mp4

[2022-06-15 10:47] sitaram-kalluri commented on #394
The changes are published in at_client 3.0.26 version

[2022-06-15 10:47] #394 closed, assigned to sitaram-kalluri, VJag, srieteja

[2022-06-15 10:48] sitaram-kalluri commented on #469
The changes are published in at_client 3.0.26 version.

[2022-06-15 10:48] #469 closed, assigned to sitaram-kalluri, murali-shris, VJag

[2022-06-15 10:49] sitaram-kalluri commented on #556
The packages are published and closing this ticket.

[2022-06-15 10:49] #556 closed, assigned to gkc, murali-shris, VJag

[2022-06-16 07:01] murali-shris opened #560 "improvements for sync observability"
**Is your feature request related to a problem? Please describe.**
* currently app or client cannot figure out whether a particular key can be updated safely to cloud secondary when app and server are not in sync

**Describe the solution you'd like**
* come up with a set of methods to support sync observability

[2022-06-16 09:30] murali-shris opened #561 "sync regex - support to change regex in app"
**Is your feature request related to a problem? Please describe.**
* if sync regex of an app changes after it was created, behaviour of sync has to be validated.
* e.g first app is full synced with regex *.buzz. After some commits regex is changes to *.buzz|*.contacts. in this scenario should we sync contacts data < latest server commit id

[2022-06-17 12:42] xavierchanth commented on #402
Closing stale bug, this one has been resolved by the above comment

[2022-06-17 12:42] #402 closed, assigned to cconstab, sarika01, xavierchanth

[2022-06-20 11:26] sachins-geekyants commented on #534
We have deployed `@mopsherePro` 1.0.7(43), which uses `shouldDecrypt` parameter to decrypt notifications.

[2022-06-22 01:01] anthonyvprakash opened #567 "New IoT Demo : Starhub/ atPlatform being able to route data (AWS/Azure)/ThingsBoard"

[2022-06-22 01:02] anthonyvprakash opened #569 "New IoT Demo : VPN No Ports"

[2022-06-22 01:02] anthonyvprakash opened #570 "New IoT Demo : E2EE SNMP"

[2022-06-22 01:02] anthonyvprakash opened #571 "New IoT Demo : Logging No Ports"

[2022-06-23 17:13] murali-shris commented on #560
Based on discussion with app developers, below information to be added in sync progress callback
* keys that got synced
* direction of sync (local to remote, remote to local)
* local commit id before sync, local commit id, server commit id

[2022-06-26 20:03] yahu1031 opened #573 "Need lints package to be moved to dev_dependencies and upgraded"
**Describe the bug**

The older version of `lints` package is blocking the latest apps to use the latest lints version.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a flutter/at_app project
2. Add at_client/at_client latest version and also the lints package latest version
3. Now pub get

**Expected behavior**
No Errors must be thrown.

**Were you using an @‎application when the bu

[2022-06-27 06:29] purnimavenkatasubbu commented on #550
Tested using [wifi](https://pub.dev/packages/wifi) package. But it doesn't get connected to the wifi. Couldn't find other alternatives yet to connect to wifi.

https://user-images.githubusercontent.com/43639593/175873832-a01f9449-b4a0-41d5-8a77-daef1c7a78ae.mp4

I/flutter (14999): WifiState.error

[2022-06-27 09:43] sachins-geekyants commented on #534
Moving to requires validation.

[2022-06-27 11:31] #551 closed, assigned to murali-shris, VJag

[2022-06-27 11:35] #550 closed, assigned to VJag, purnimavenkatasubbu

[2022-06-27 11:46] murali-shris opened #576 "sync observability - expand tests and sample usage for apps"
sync observability feature is merged with basic functional test.
 - Expand tests to cover more scenarios
 - sample usage code for apps

[2022-06-27 11:48] murali-shris opened #577 "sync conflict resolution"
**Is your feature request related to a problem? Please describe.**
- when a key is updated both in local and remote secondary come up with a conflict resolution strategy that apps can make use of.

[2022-06-27 11:49] murali-shris commented on #577
Below design proposed by @VJag
// Change 1: Sync service provides a way for the app developers to register a KeyConflictResolver
// KeyConflictResolver will be used to resolve what action to take when value in cloud secondary and value in local secondary are different during a sync when the value is pulled fromt he server.
SyncService {
	void addKeyConflictResolver(KeyConflictResolver resolver);

[2022-06-27 12:23] murali-shris commented on #560
merged PR https://github.com/atsign-foundation/at_client_sdk/pull/572

[2022-06-27 12:23] #560 closed, assigned to murali-shris, VJag

[2022-06-27 14:51] gkc opened #578 "Enumerate the primary end-to-end code paths"
**Is your feature request related to a problem? Please describe.**
We've reached a point where knowledge of how things hang together end-to-end is becoming a patchwork quilt in people's heads of what they have picked up from their own work, from documents, and from other people. Among other things, this clearly impacts the length of time it takes people to gain that knowledge, significantly reduce

[2022-06-27 14:57] gkc opened #579 "Close reading, in pairs, of the primary end-to-end code paths"
**Describe the feature**
As the 'enumeration' part of #578 makes progress, start the 'document' part one code-path at a time.

* This should involve two people, one of whom ideally has a lot or some familiarity with the code, the other of whom ideally has a little or no familiarity
* Follow the code through, questioning, for example
  * for each new method - do we know what this method is supposed

[2022-06-27 15:51] xavierchanth commented on #561
related: [at_tools#192](https://github.com/atsign-foundation/at_tools/issues/192)

[2022-06-27 15:54] gkc commented on #504
Some progress in PR39 so reduced from 8SP to 5SP

[2022-06-27 17:13] sachins-geekyants opened #580 "Documentation - missing comments for Metadata parameters"
**Is your feature request related to a problem? Please describe.**
Comments are missing for `Metadata` parameters like `ttr`, `ttl`, etc.

**Describe the solution you'd like**
Can we add comments like what this parameter does and also the unit it accepts the data in.

[2022-06-27 17:56] xavierchanth commented on #578
atsign.dev-3.0 has [mermaid](https://mermaid-js.github.io/mermaid/#/) support

[2022-06-27 19:20] gkc commented on #578
Awesome!

[2022-06-28 09:56] sitaram-kalluri commented on #546
Investigated the issue and below are the observations:

1. When an atsign is reset, the PKAM public key in server is lost. When the network is down, the client fails to write the PKAM Public key to the server. As a result, when the network is back the connections fails to authenticate and proceed with sync resulting in apps to struck.
2. At the moment we do not have a check in at_client and at_loo

[2022-06-28 10:51] purnimavenkatasubbu commented on #576
Added tests and raised  PR #581 for the same.

[2022-06-30 21:00] cconstab opened #584 "Text Notifications are sent in the clear - Bug or Feature ?"
**Describe the bug**
When using the notifcationService you can send the NotificationParams.forText('MESSAGE', toAtsign))

This results in an unencrypted text 'MESSAGE" on the wire under the TLS encryption so the secondary can see the data in the clear.

It is not clear to me why this data should not be encrypted ? It is also not clear to a dev that this is sent not E2E Encrypted currently.

**To R

[2022-06-30 21:02] cconstab commented on #584
Worthy of some thought.. I think this was a hangover from the early days of the NSS.. At this point i can think of no reason for the data not to be transparently E2E encrypted..

Thanks

[2022-06-30 21:06] gkc commented on #584
Definitely seems it was intended as a feature back in the dim & distant atPast. Hopefully someone can remember why

[2022-07-01 07:20] purnimavenkatasubbu commented on #576
PR #581 is merged to trunk. Closing the issue.

[2022-07-01 07:20] #576 closed, assigned to murali-shris, purnimavenkatasubbu

[2022-07-03 10:51] yahu1031 opened #586 "The Android Gradle plugin supports only Kotlin Gradle plugin version 1.3.40 and higher."
**Describe the bug**
On developing apps in android using the latest flutter template, I got this issue mentioned below.

[code]
This looks like the `flutter_keychain` kotlin version doesn't match with the app kotlin version.

I have tried with `1.3.40`, `1.5.21`, `1.6.10` kotlin versions in `android/app/build.gradle`. But nothing works.

**To Reproduce**
Steps to reproduce the behavior:
1. Create

[2022-07-03 10:57] yahu1031 commented on #586
This will come under a blocker. There is no other go other than changing the kotlin version of the `flutter_keychain` package.

[2022-07-04 02:43] sitaram-kalluri commented on #561
on # 1. Tested with atmosphere pro app.
After the app is on-boarded, at the moment, the app does not update the regex during runtime. So even if the sync-regex is updated, the behaviour of the app remains same.

[2022-07-04 04:15] VJag commented on #577
## Conflict resolution Flowchart
[code]

[2022-07-04 05:50] VJag commented on #577
## Conflict resolution class diagram
[code]

[2022-07-04 05:55] murali-shris commented on #561
we also have to analyse what is the impact if we make the change to allow sync to read modified regex.

[2022-07-04 10:40] gkc commented on #577
Nice diagrams!

[2022-07-04 11:37] gkc commented on #578
@XavierChanth how does the mermaid support work? Should I just add ```'''mermaid <content>``` blocks in my markdown files as one does for GitHub these days, and something else will take care of rendering etc during site publication?

[2022-07-05 02:50] S-Patel25 opened #587 "at_onboarding widget has version compatibility issues with kotlin version and flutter keychain."
**Describe the bug**

I am trying to use the at_onboarding widget for an app in development, and whenever I try to run the code, I get an error saying ``android gradle`` version only supports ``kotlin version 1.3.40+`` despite the fact that all versions are up-to-date.

**To Reproduce**
Steps to reproduce the behavior:
1. First I install at_onboarding, at client in my flutter app.
2. Then I write

[2022-07-05 06:13] sitaram-kalluri commented on #561
Updated the sync regex in between and tested using code samples and below are the observations:

After the sync regex is updated, the keys that match the updated regex criteria with the commitId higher than the local commit Id gets sync'ed. The keys that match new regex with commitId lower than the local commitId gets ignored.

For example:

Keys in wavi app before sync regex updated

sync regex =

[2022-07-05 08:53] yahu1031 opened #1601 "packages depending on fluttertoast are being a blocker for the apps/widgets which use file_picker/image_picker in iOS"
### Which at_widget package you find issue with?

at_location_flutter

### On what platforms did you experience the issue?

iOS

### What version are you using?

at_location_flutter: ^3.1.6

### What happened?

Because of the `fluttertoast` used in `at_location_flutter`, we cannot pick any file from iCloud. Either the `fluttertoast` can be a direct dependency or a transitive dependency the issue e

[2022-07-05 09:02] yahu1031 commented on #1601
### Solution I propose
Make use of ScaffoldMessenger and make custom toasts.

### Additional Info
I see them in
- `at_theme_flutter`
- `at_events_flutter`
- `at_location_flutter`
- `at_contacts_group_flutter`

[2022-07-05 09:07] yahu1031 commented on #587
Similar/duplicate of https://github.com/atsign-foundation/at_client_sdk/issues/586

[2022-07-05 09:35] murali-shris commented on #577
Sample app code for resolution

syncService.setKeyConflictResolver(MyConflictResolver());

[code]

[2022-07-05 13:07] gkc commented on #1601
I see you [raised an issue](https://github.com/ponnamkarthik/FlutterToast/issues/391) on the [fluttertoast repo](https://github.com/ponnamkarthik/FlutterToast). Let's wait to hear back from the fluttertoast maintainer if they can resolve the issue. Alternatively, if you know how to resolve the issue, you could do the fix and test it and submit a PR to FlutterToast

[2022-07-05 13:12] yahu1031 commented on #1601
@gkc Yes, I [did raise](https://github.com/ponnamkarthik/FlutterToast/issues/391) it in the rest of the repos that were being blocked by this package. Sadly I don't know the solution cause no traces were being found. So need to wait. And also this is a blocker for all the apps that use the above packages I mentioned. They can't move forward. They will get stuck on onboarding itself. I will wait fo

[2022-07-05 17:23] S-Patel25 commented on #587
issue is related to the buzz issue as i have same problem with onboarding widget compatibility and that it wont run on android devices. The only packages I used were at_client and at_onboarding, and only when I tried implementing the onboarding widget did it give me the version compatibility errors.

[2022-07-05 17:33] yahu1031 commented on #587
When I dig deeper, `at_onboarding_flutter` has `at_client_mobile` utilisation in it. And as the error says, `flutter_keychain` was used in `at_client_mobile`. So the packages which have `at_client_mobile` dependency, it throw this error and it will reflect as the package error. So as I already have raised #586 which is related to it, I marked this as a duplicate.

[2022-07-05 17:39] S-Patel25 commented on #587
#586 is similar to the error I am having, so we can close this one.

[2022-07-05 17:39] #587 closed, assigned to nobody

[2022-07-05 18:55] cconstab opened #589 "Multiple updates of the same data when receiving a notification..."
**Describe the bug**
When sending a single notification on a regular basis the receiving atsign gets the data but it uses more bandwidth than expecting and gives an error: 'Error code AT0003 error message Invalid syntax` sometimes/often
**To Reproduce**
Steps to reproduce the behavior:
1. First I send an updated key using notification every 2 or three seconds with a TTL of 10000
2. Then when recei

[2022-07-05 20:55] xavierchanth commented on #578
@gkc my preference:

In [atsign.dev-3.0](https://github.com/atsign-foundation/atsign.dev-3.0) create each diagram in a single markdown file under `/layouts/shortcodes/mermaid`

Example file: `/layouts/shortcodes/mermaid/my-diagram.md`

File content will be the usual format:
\```mermaid
// Diagram here
\```

This setup will:
- Make sure it is easy to review in GitHub.
- Allow us to use the diagrams

[2022-07-05 20:58] gkc commented on #578
Got it - thanks!

[2022-07-07 12:57] murali-shris commented on #577
latest code changes
https://github.com/atsign-foundation/at_client_sdk/tree/sync_conflict_resolution
Discussed with Gary and Jagan.. Decision was made not to complicate the conflict resolution..Just determine conflict exists or not and then add conflict information to KeyInfo object and pass to sync progress call back.

[2022-07-07 13:06] murali-shris commented on #169
Reopening the issue since at client pull request was accidentally missed

[2022-07-07 13:07] murali-shris commented on #169
pull request https://github.com/atsign-foundation/at_client_sdk/pull/591

[2022-07-07 15:10] murali-shris commented on #577
latest changes in a new branch
https://github.com/atsign-foundation/at_client_sdk/commit/7093cc9a2e9dbbae4014084bb456be719288d0dd

[2022-07-08 10:16] purnimavenkatasubbu opened #593 "Sync() is trying to sync cached keys"
**Describe the bug**
Cached keys are being tried to sync.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the e2e tests in the client

**Expected behavior**
Cached keys should not be synced

**Logs**
SEVERE|2022-07-08 08:07:40.614293|SyncService|update/delete for key cached:@ce2e4:phone2be257ab-07b4-412a-b5c4-a0e65df94368.wavi@ce2e1 failed. Error code AT0003 error message Invalid syntax

[2022-07-11 05:04] sitaram-kalluri commented on #490
Made progress on this issue:
1. Under slow network conditions, intermittently the `_syncInProgress` remains in true state even after the `AtTimeoutException` is thrown by the server. This leads to a new sync process not syncing keys (since the `_syncInProgress` remained in true, it assumes that previous sync is still running).

Attaching the error snippet

[code]

[2022-07-11 05:04] sitaram-kalluri commented on #490
Spent 5 SP in PR-40

[2022-07-11 09:00] gkc commented on #578
5 SP this sprint. Estimate 8SP remaining work; time-boxing to 5SP next sprint also

[2022-07-11 11:54] murali-shris commented on #577
burnt 8SP in PR 40.
Pending task - complete unit tests, PR review and publish at client

[2022-07-11 11:55] murali-shris commented on #169
pending tasks- fix end2end test issue , merge and publish

[2022-07-11 12:03] murali-shris commented on #561
@kalluriramkumar we have to document what are the changes required to support change in regex and create new task for implementation

[2022-07-11 12:24] sitaram-kalluri commented on #490
Enhanced the outbound message listener to handle partial responses and responses sent in multiple packets under slow network conditions. [PR-185](https://github.com/atsign-foundation/at_libraries/pull/185). Burned 3 SP for this.

[2022-07-11 12:24] sitaram-kalluri commented on #490
Total 8SP burned in PR-40

[2022-07-11 12:29] purnimavenkatasubbu opened #594 "Analysis of SDK behaviour on different network scenarios"
**Describe the bug**
Analyze the SDK behavior in relation to networks in different notification and sharing scenarios.

[2022-07-11 12:31] purnimavenkatasubbu commented on #589
Behavior of SDK on different network scenarios has been documented in the [sheet](https://github.com/atsign-foundation/at_client_sdk/issues/594)

[2022-07-11 12:36] purnimavenkatasubbu commented on #594
The behavior in SDK, @ buzz and @ mosphere pro can be found in this [SDK behavior Doc](https://docs.google.com/spreadsheets/d/1MWI0ME-7n6Dr81agjKqgxT_i3iKMFwZTRu3T5sPGQAI/edit#gid=0)

[2022-07-11 12:36] #594 closed, assigned to sitaram-kalluri, purnimavenkatasubbu

[2022-07-11 14:18] sitaram-kalluri opened #595 "Enable the notify text encryption/decryption"
**Is your feature request related to a problem? Please describe.**
At the moment, the notification text does not have encryption/decryption. The messages are sent has a plain text.

**Describe the solution you'd like**
Enhance the notify text to optionally have encryption/decryption.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or featur

[2022-07-11 14:23] sitaram-kalluri opened #596 "Refrain from syncing the stats notification id to cloud storage"
**Is your feature request related to a problem? Please describe.**
The stats notification id gets sync'ed to the cloud secondary. Enhance the code to prevent the stats notification id being sync'ed to cloud secondary.

A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you

[2022-07-11 14:24] sitaram-kalluri opened #597 "Implement the exception chaining to notification and sync service."
**Is your feature request related to a problem? Please describe.**

- [x] Implement exception chaining in notification service
- [x] Implement exception chaining in sync service
- [x] Refactor the exisitng code for writing unit tests
- [x] Write unit tests
- [x] Scan through all the repo's to the usage of sync utils static methods (remove the static keyword for writing unit tests)

**Describe the

[2022-07-11 14:35] VJag commented on #553
This can be moved to backlog

[2022-07-11 14:58] sitaram-kalluri commented on #584
Duplicate issue: https://github.com/atsign-foundation/at_client_sdk/issues/595

[2022-07-11 14:58] sitaram-kalluri commented on #584
Duplicate issue: https://github.com/atsign-foundation/at_client_sdk/issues/595

[2022-07-11 15:01] sitaram-kalluri commented on #595
This is a duplicate issue of https://github.com/atsign-foundation/at_client_sdk/issues/584. Hence closing the issue.

[2022-07-11 15:02] #595 closed, assigned to nobody

[2022-07-12 16:32] murali-shris opened #601 "Documentation - sync conflict info in sync progress callback"
feature - https://github.com/atsign-foundation/at_client_sdk/issues/577

Documentation to be added
* implementation flow
* how app developers can read the conflict info in the callback

[2022-07-14 14:00] sitaram-kalluri opened #604 "Fix sync conflict bug"
**Describe the bug**
 When resolving the sync conflict, the following keys result in exception.
1. Public key that holds encryption public key of other atsign - `public.bob@alice`
2. Self key that holds the shared key. - `shared_key.bob@alice`
3. The cached keys

**Expected behavior**
Sync conflict should not result in exception.

[2022-07-14 14:06] kalluriramkumar commented on #604
Pulled [PR-602](https://github.com/atsign-foundation/at_client_sdk/pull/602) changes into this PR since e2e tests are failing.

[2022-07-14 14:34] #604 closed, assigned to sitaram-kalluri

[2022-07-14 18:10] sitaram-kalluri commented on #593
The issue is fixed in [PR-603](https://github.com/atsign-foundation/at_client_sdk/pull/603)

[2022-07-14 22:46] gkc opened #606 "Dart no-local-secondary"
**Is your feature request related to a problem?
Not currently possible to run the Dart client in remote-only mode - ie without a local secondary. This introduces overhead when running multiple clients which is that each client maintains its own hive database

**Describe the solution you'd like**
AtClient should be usable without local secondary data store.

**Describe alternatives you've considere

[2022-07-14 22:49] gkc commented on #606
@cconstab created this as placeholder, please add more context. @XavierChanth please can you create another issue re the local daemon and simplified client and link to this one?

[2022-07-14 23:41] xavierchanth opened #607 "Dart client daemon for desktop (at_daemon)"
**Is your feature request related to a problem? Please describe.**
Browser support; preventing local secondary cache duplication.

**Describe the solution you'd like**
A desktop application or daemon that exposes the atProtocol locally through one or more of the following:
- REST API
- GraphQL API
- Secure websockets

Features:
- The daemon app could perform some sort of local handshake with the r

[2022-07-15 02:26] cconstab opened #608 "Out of order notifications"
**Describe the bug**
When using atTalk ([attalk](https://github.com/cconstab/at_talk)) if there is no await on the notification  on line 181 (in branch 'testing-await') then notifications appear out of order. Using the await statement things are in order but VERY slow.

**To Reproduce**
Steps to reproduce the behavior:
1. First I clone the repo and move to the right branch
2. Then I send a file us

[2022-07-15 02:52] cconstab opened #609 "Unable to sync for the first time using AtClient in atTalk"
**Describe the bug**
Using atTalk and a new atSign the atSign synchs within a few seconds but when using atColin the process never finishes and the hive database is not getting larger although the synch process is still not completed.

**To Reproduce**
Steps to reproduce the behavior:
1. First get athe atTalk code and then use an new atSign
2. Evething works as expected
3. And then use atColin or

[2022-07-15 02:54] cconstab commented on #609
I think to figure this one out it will be useful to have the TLS decode options in place so we can see what is happening on the wire

[2022-07-15 05:11] cconstab opened #610 "Pad block errors on initial notifications"
**Describe the bug**
When sending the first notification when using atTalk the first messages fail due to pad block failures.

**To Reproduce**
Steps to reproduce the behavior:
1. First I created two new atSigns
2. Then ran atTalk for them to chat
3. And then on the first message sent it is not decrypyted and the Pad Block error is given.
4.  The second and further messages work just fine

**Expec

[2022-07-15 05:26] cconstab commented on #608
Demo video

https://user-images.githubusercontent.com/6131216/179156613-27622c88-8178-48ee-97bc-f4dbe2c273cc.mp4

[2022-07-15 07:04] murali-shris commented on #577
Sample listener example that app developers can refer to
[code]

[2022-07-17 14:58] gkc commented on #608
@cconstab no I've not ever done any changes client-side re notification order

do the notifications leave the client in the wrong order, or does the ordering problem happen after that?

[2022-07-17 15:11] gkc commented on #608
Have you tried doing an await just for the very first one you send, and no awaits for any subsequent ones?

[2022-07-17 17:03] cconstab commented on #608
I have not but will do and report back... I remember testing this in the past and we saw the same thing and then changed something..

[2022-07-17 17:05] cconstab commented on #608
I will get the de TLS code in place and see for sure what is going on on the wire

[2022-07-18 08:16] sitaram-kalluri commented on #584
The code changes are completed. Following are the PR's

at_commons: [PR-206](https://github.com/atsign-foundation/at_tools/pull/206)
at_server: [PR-812](https://github.com/atsign-foundation/at_server/pull/812)
at_client_sdk: [PR-611](https://github.com/atsign-foundation/at_client_sdk/pull/611)

[2022-07-18 13:56] yahu1031 commented on #586
There was a fix coming up with [remove_flutter_keychain](https://github.com/atsign-foundation/at_client_sdk/tree/remove_flutter_keychain) branch.

[2022-07-18 15:13] sitaram-kalluri commented on #610
The initial notifications fail to decrypt because the when notifying with value, the notification reaches first to the receiver's atsign, but the encrypted shared_key (which is needed to decrypt the value on receiver end) gets sync'ed to the sender cloud secondary (from the sender's client) at a later point of time. Hence receiver fails to find the shared_key which leads to pad block errors.

Atta

[2022-07-18 15:22] gkc commented on #608
Maybe this is the Dart event loop working as intended? Tracing the code through, there are multiple places where we call `await` in the course of sending the notification. Each of those is an opportunity for the event loop to start handling another event (e.g. another notification being sent) and then there's the opportunity for all those many subsequent events to be processed out of order (as far

[2022-07-18 15:41] gkc commented on #608
But we need to see precisely where the order is being lost. Could be in the sender client; could be in the sender's secondary; could be in the receiver's secondary when it is sending to the monitor)

[2022-07-18 21:10] cconstab commented on #608
@gkc from what I am seeing at this point the notifications leave the client in order but we need to set up a test rig where we can see all the notifications, in particular on the secondaries..

[2022-07-18 21:13] gkc commented on #608
Yeah I'll do that tomorrow

[2022-07-19 06:05] purnimavenkatasubbu commented on #593
Issue has been fixed.

[2022-07-19 06:05] #593 closed, assigned to sitaram-kalluri

[2022-07-19 06:50] murali-shris commented on #169
changes published. at_client v3.0.30

[2022-07-19 06:50] #169 closed, assigned to murali-shris

[2022-07-19 06:51] murali-shris commented on #577
changes published. at_client v3.0.30

[2022-07-19 06:51] #577 closed, assigned to murali-shris, VJag

[2022-07-19 10:00] murali-shris commented on #609
@cconstab I tried replicating the issue with at_client v3.0.29..I could see errors related to syncing cached keys. We fixed this issue in v3.0.30.
With v3.0.30, sync completed in approx 4 mins
INFO|2022-07-19 15:23:17.669417|SyncService|Returning the serverCommitId 429392

.INFO|2022-07-19 15:23:18.013272|SyncService|Returning the serverCommitId 429392

............................................

[2022-07-19 12:02] gkc commented on #608
@cconstab The notifications are definitely not in order when leaving the sender client in my test rig. What I'm seeing is a semi-random order when alice client is sending `notify` commands to alice secondary, but then the order is perfectly preserved in alice secondary, bob secondary, and bob client

I've done a few things to make it easier to see what's going on. I'm investigating in more detail

[2022-07-19 14:02] gkc commented on #608
#### Observations:
* Every time an await goes to do I/O especially network I/O, the time to do the I/O is not consistent. This allows for events to overtake each other
* When we send the very first chat message, a few things happen - looking up secondary address, fetching shared key, creating it if it's not there, etc
  * We also call `isNetworkAvailable()` on every single request
* The various ca

[2022-07-19 14:30] gkc commented on #608
@cconstab I've put my branch here https://github.com/gkc/at_talk/tree/OutOfOrderNotifications

[2022-07-19 16:03] cconstab commented on #608
@gkc I looked at your branch and it works fine once I comment out the ` if (!await NetworkUtil.isNetworkAvailable()) {` stuff in at_client_impl.dart.

Do we need to fan out this ticket into three parts to track the issues you  found ?

[2022-07-19 16:06] gkc commented on #608
Yeah I'll fan out some other issues. I'll close this one once I've published the at_client change which removes the call to isNetworkAvailable

[2022-07-19 16:07] gkc commented on #608
PS pubspec in my forked at_talk has a dependencies override to my branch in at_client

[2022-07-19 16:15] cconstab commented on #609
very nice and confirmed with my client too THANKS

[code]

[2022-07-19 17:20] murali-shris commented on #589
@cconstab
Is the below code snippet similar to what you were trying ?
[code]

[2022-07-19 18:06] cconstab commented on #609
@murali-shris I am wondering if it might be an idea/possible to provide a number of commits to go so instead of dots I could provide a countdown to 0 commits left as part of the sync ?

[2022-07-19 18:10] gkc commented on #609
Absolute number not possible without making changes to get a count from server back to the client

An **indicator** of how far along you are is doable just on client side since we know what our starting local commit id is, and what the server commit id is. The difference between those two isn't necessarily the actual number of entries to sync though (because regexes)

[2022-07-20 02:18] cconstab commented on #589
Yes for sure it is

[2022-07-20 08:12] murali-shris commented on #589
@cconstab
Issue # 2 is fixed in at client v3.0.30
Regarding # 3,  are you seeing the notification twice on receiver's secondary server or receiver's client side ?

[2022-07-20 21:54] gkc commented on #608
I've addressed all three points above in #615

[2022-07-20 22:05] gkc commented on #609
We can close this as fixed. @cconstab I will file a feature request re the sync progress per your comment above

[2022-07-20 22:08] gkc opened #617 "Better quantify sync progress"
**Is your feature request related to a problem? Please describe.**
(From @cconstab )
Is it possible to provide a number of commits to go so instead of dots showing activity I could provide a countdown to 0 commits left as part of the sync ?

**Additional context**
Add any other context or screenshots about the feature request here.
(From @gkc)

Absolute number not possible without making changes t

[2022-07-20 22:10] gkc commented on #609
Filed #617

[2022-07-20 22:10] #609 closed, assigned to gkc, cconstab, sitaram-kalluri, murali-shris, VJag

[2022-07-20 22:16] gkc commented on #610
@cconstab as a partial mitigation workaround we could have the sender start (before sync) by sharing something (anything) with the other atSign, then waiting for sync.

[2022-07-20 22:18] gkc commented on #610
@kalluriramkumar what are your thoughts so far re a fix? We can discuss in tomorrows early sync

[2022-07-20 22:22] gkc commented on #610
Also - we should be able to do better than just "pad block" - can we improve the exception handling here in terms of intent and chaining and explanation? I'd like to see something like, "Failed to decrypt value shared by atSign because we have not yet received the encryption shared key from them"

[2022-07-20 22:27] cconstab commented on #610
As a side note... I see this odd cached key in the public space which I do not think it should ever be public.

[code]

I wondered if the key is actually in place but not being found as it is here ?

[2022-07-21 04:58] sitaram-kalluri commented on #610
Sure Gary. will implement this.

[2022-07-21 08:45] murali-shris commented on #561
to be clarified in architecture call. When sync regex changes should we sync old keys(commit id < local commit id - sync from local to remote , commit id < server commit id - sync from remote to local) matching new regex.

[2022-07-21 08:51] gkc commented on #561
I think this is fundamentally intractable and we should actively prevent changing sync regex after its initially been set, but add a method which allows resetting of the regex makes it clear that this will trigger a **full sync**

[2022-07-21 22:52] xavierchanth commented on #561
I do think there is a case to be made for being able to sync a subset of the app's overall sync space.
For example:

Assume my app uses `.wavi` and `.contact`.
I would like to refresh my contact screen from remote.
Thus I only want to sync `.contact` even though my app's overall sync space is `(.wavi|.contact)`

The app developer could be responsible for specifying a master sync space for the app.

[2022-07-21 22:58] gkc commented on #561
Great points Xavier

I've been thinking some more ... what if sync allowed requesting sync for multiple regexes, and allowed to start sync from a different server commit id? Could then send all of them in a combined sync request (as json) ... then adding a "new" regex would default to start from server commit id 0, but next time each would be starting from the same latest server commit id

[2022-07-22 06:14] murali-shris commented on #601
[code]

[2022-07-22 06:17] murali-shris commented on #601
Sample listener example that app developers can refer to
[code]

[2022-07-22 06:17] murali-shris commented on #577
https://github.com/atsign-foundation/at_client_sdk/issues/601#issuecomment-1192223344

[2022-07-22 06:18] murali-shris commented on #577
doc task https://github.com/atsign-foundation/at_client_sdk/issues/601

[2022-07-22 06:18] #601 closed, assigned to murali-shris

[2022-07-25 08:21] sitaram-kalluri opened #620 "Return specific exception on KeyNotFoundException"
**Is your feature request related to a problem? Please describe.**
At the moment, when a key is not found in the key store, `KeyNotFoundException` is throw from the hive key-store. On the at_client SDK, to preserve the backward compatibility we wrap the message of `KeyNotFoundException` into `AtClientException` (Since KeyNotFoundException is not a sub-class of AtClientException) and return it.

Fo

[2022-07-25 08:51] gkc commented on #608
Will be in at_client release 3.0.31. In the meanwhile, at_talk is using dependency override to at_client trunk

[2022-07-25 08:51] #608 closed, assigned to gkc, sitaram-kalluri, murali-shris, VJag

[2022-07-25 12:11] purnimavenkatasubbu commented on #596
Failing tests needs to be fixed.

[2022-07-25 14:10] gkc commented on #1601
What's latest on this @yahu1031 ?

[2022-07-25 14:15] yahu1031 commented on #1601
@gkc Currently, no work is seen on that ticket. And also no activity was found. There was a solution that needs to be done from our side.
That is, Remove the [fluttertoast](https://pub.dev/packages/fluttertoast) from the packages and create our own custom toasts with [ScaffoldMessanger](https://api.flutter.dev/flutter/material/ScaffoldMessenger-class.html). We can create a package and use it.

[2022-07-25 14:25] gkc commented on #455
@murali-shris did we implement the `skip cache` feature?

[2022-07-25 14:28] sitaram-kalluri commented on #584
The changes are merged and published in version at_client 3.0.31

[2022-07-25 14:28] #584 closed, assigned to gkc, nickelskevin, sitaram-kalluri, murali-shris, VJag

[2022-07-25 14:33] gkc commented on #42
@murali-shris as this keeps on coming up, shall we at least try to have a discussion on it during this sprint?

[2022-07-25 14:40] gkc commented on #1573
@gkc start thinking about this again

[2022-07-25 15:09] sitaram-kalluri commented on #597
Code changes are completed and checked-in [notify-exception-chaining](https://github.com/atsign-foundation/at_client_sdk/tree/notify_exception_chaining).
Pending work is to merge the changes and publish. Moving to PR-42

[2022-07-25 15:40] yahu1031 commented on #573
This is going to be marked as a duplicate WRT https://github.com/atsign-foundation/at_widgets/issues/432. This is going to be close simultaneously with that linked issue if it resolves.

[2022-07-25 15:42] #490 closed, assigned to gkc, murali-shris, VJag

[2022-07-25 15:43] sitaram-kalluri commented on #490
The work is getting tracked in the following Git issue: https://github.com/atsign-foundation/apps/issues/552

[2022-07-26 11:20] purnimavenkatasubbu commented on #596
PR merged to trunk #619

[2022-07-26 11:20] #596 closed, assigned to sitaram-kalluri, murali-shris

[2022-07-26 12:30] sachins-geekyants commented on #586
@yahu1031 are you facing the same issue while running wavi or atmopsherePro app ?

[2022-07-27 17:12] ksanty commented on #477
@gkc or @cconstab is this still an active ticket?  If so can you please assign a priority or close?  TY!

[2022-07-27 17:14] gkc commented on #477
Still active. Will set to Medium priority

[2022-07-28 00:47] ksanty commented on #115
@murali-shris should we move this to high priority to work on PR43?

[2022-07-28 00:54] ksanty commented on #1615
@sachins-geekyants @nitesh2599 not sure the status of this ticket.  Looks like this might be completed based on ticket above?

[2022-07-28 00:58] ksanty commented on #1573
@gkc should we re-prioritize to high for PR43 sprint planning?

[2022-07-28 01:08] ksanty commented on #171
@kalluriramkumar should we close or re-prioritize to high, so we can work on PR43 and close?

[2022-07-28 01:12] ksanty commented on #166
@cconstab is this still a priority?  Should we re-prioritize to high and add to PR43 sprint planning?

[2022-07-28 01:13] ksanty commented on #42
@gkc should we raise to high priority for review during PR43?

[2022-07-28 01:22] ksanty commented on #1605
@nickelskevin @sachins-geekyants should we flag for discussion PR43?

[2022-07-28 01:52] ksanty commented on #1604
@nickelskevin flagging for arch call discussion

[2022-07-28 01:54] ksanty commented on #1617
@sachins-geekyants moving to high priority so we can finish

[2022-07-28 01:58] ksanty commented on #1618
@sachins-geekyants reassigning high priority so we can handle in PR43

[2022-07-28 01:59] ksanty commented on #1613
@sonle-geekyants moving to high priority, so we can finish in PR43

[2022-07-28 02:01] ksanty commented on #1602
@XavierChanth I moved this up to med priority since the above issue is med.

[2022-07-28 02:02] ksanty commented on #1601
@yahu1031 I'm reassigning priority to high, so we can add to PR43 or PR44

[2022-07-28 06:09] VJag commented on #115
I don't think this is a high priority. @cconstab please suggest.

[2022-07-28 09:03] sachins-geekyants commented on #1615
@ksanty yes, It have been addressed, we are in process of releasing new at_onboarding_flutter version.

[2022-07-28 13:30] gkc commented on #42
@ksanty I've flagged it for discussion on architecture call. @murali-shris @kalluriramkumar as you have both recently been through the process of adding to the metadata, please can you edit the description above providing more detail on the issue (e.g. enumerate all the places where things need to change), a couple of options with pros and cons, and an outline design for the option you'd like to g

[2022-07-28 13:38] gkc commented on #1573
I've flagged it for architecture discussion. The question to be answered is whether we want a standalone library just for sending / receiving notifications.

[2022-07-28 17:22] ksanty commented on #115
@VJag I tagged for arch discussion

[2022-07-29 08:04] murali-shris opened #624 "sync service - do not return keyinfo list on exception"
**Describe the bug**
- in sync service impl --> _syncFromServer , currently we return keyinfo list when there is exception in syncing a key
[code]

**Expected behavior**
- continue syncing other keys when there is an exception syncing a key

[2022-07-29 08:42] gkc opened #627 "Add tests to catch sync issues"
**Describe the bug**
No tests caught the sync issue which is fixed by #625

**Expected behavior**
We need unit tests which cover this scenario.

**Additional context**
sshnoports issue encountered by Colin (**TODO**: when it is created, link to the ticket from here)

[2022-07-29 19:27] ksanty commented on #380
@nickelskevin moving this to arch call so the team can revisit.

[2022-07-29 19:33] ksanty commented on #389
@sachins-geekyants @nitesh2599 can you take a look at this issue and see if we should raise to high priority for work in PR43/44?

[2022-07-29 19:41] ksanty commented on #412
@gkc should I move to high priority?

[2022-07-29 19:42] gkc commented on #412
Yes

[2022-07-29 19:43] ksanty commented on #449
@murali-shris should we move this up so we can work on in PR43/44?

[2022-07-29 19:44] ksanty commented on #410
@murali-shris is this a discussion item ticket for arch call?

[2022-07-29 19:45] gkc commented on #449
This is more a question for Kevin / Colin as it is a prioritization call

[2022-07-29 19:45] ksanty commented on #462
@XavierChanth is this an arch discussion item?

[2022-07-29 19:46] ksanty commented on #470
@gkc is this an arch discussion item?

[2022-07-29 19:46] gkc commented on #410
Up to Colin / Kevin as to when we focus on this again

[2022-07-29 19:48] gkc commented on #462
It's related to our overall testing approach, particularly automated retesting when deiendencues change  and yes we need to discuss it

[2022-07-29 19:49] ksanty commented on #504
@gkc should we move up to high priority?

[2022-07-29 19:49] gkc commented on #470
Yes. But particularly for IoT apps which are unattended by humans

[2022-07-29 19:50] gkc commented on #504
No. Holding off until what we have is stable

[2022-08-01 10:18] murali-shris commented on #455
Duplicate of https://github.com/atsign-foundation/at_client_sdk/pull/591

[2022-08-01 10:18] #455 closed, assigned to sitaram-kalluri

[2022-08-01 11:08] gkc commented on #624
Fixed by https://github.com/atsign-foundation/at_client_sdk/pull/625

[2022-08-01 11:09] #624 closed, assigned to murali-shris

[2022-08-01 18:17] yahu1031 opened #632 "at client mobile 3.2.1 breakage"
**Describe the bug**
When I call `KeyChainManager.getInstance().getAtsignsWithStatus()`, I get this invalid format exception.

**To Reproduce**
Just call `KeyChainManager.getInstance().getAtsignsWithStatus()`.

**Expected behavior**
It must either return empty array or some array data.

**Screenshots**
![Screenshot 2022-08-01 at 11 43 18 PM](https://user-images.githubusercontent.com/35523357/18221

[2022-08-02 04:14] sitaram-kalluri commented on #620
The changes are merged to at_commons trunk branch: [PR-213](https://github.com/atsign-foundation/at_tools/pull/213)

[2022-08-03 11:24] sachins-geekyants opened #640 "authenticate returns true for invalid atKeys file"
**Describe the bug**
If we reset an atSign and activate it again we will have a new atKeys file and old atkeys file will become invalid.
`AtClientService.authenticate` returns **true** for old atkeys file as well.

**To Reproduce**
Steps to reproduce the behavior:
1. activate an atSign and get the atKeys file.
2. reset the atSign.
3. activate again and get new atKeys file.
4. If we upload old atKe

[2022-08-05 05:54] sitaram-kalluri commented on #610
This is implemented in the following [PR-621](https://github.com/atsign-foundation/at_client_sdk/pull/621).  This specific changes are in encryption_util.dart file and notification_service_impl.dart-> _internalNotificationCallback in the PR.

[2022-08-05 09:47] sonle-geekyants opened #1600 "[at_onboarding] [MacOS] Need a feature allow user share atSign between apps"
In the new onboarding widget, we can give the user an option to share the the keychain between different apps. But this feature is only available in macos.

We need to decide whether adding this feature only on macos will be fine or not.
Currently this feature is disabled.

[2022-08-05 14:34] sitaram-kalluri commented on #580
The changes are pushed and merged to trunk branch in the following [PR-217](https://github.com/atsign-foundation/at_tools/pull/217)

[2022-08-06 15:28] allstar-app[bot] opened #642 "Security Policy violation Branch Protection"
_This issue was automatically created by [Allstar](https://github.com/ossf/allstar/)._

**Security Policy Violation**
Dismiss stale reviews not configured for branch trunk

---

This issue will auto resolve when the policy is in compliance.

Issue created by Allstar. See https://github.com/ossf/allstar/ for more information. For questions specific to the repository, please contact the owner or mai

[2022-08-07 15:04] #642 closed, assigned to nobody

[2022-08-08 08:40] xavierchanth commented on #607
An MVP was completed in PR 42, I will continue work on this in PR 43.

[2022-08-08 09:27] murali-shris commented on #589
@cconstab can you please re-check this scenario with latest at_client version

[2022-08-08 09:55] murali-shris commented on #632
Issue can be closed once at client is published

[2022-08-08 11:09] xavierchanth opened #643 "Tool Idea: Public API verification (papiana)"
**Is your feature request related to a problem? Please describe.**
at_client_mobile 3.2.0 had breaking changes that were published as a minor release.

**Describe the solution you'd like**
A better way to ensure that breaking changes are caught and published appropriately (as a major version change).

**Describe alternatives you've considered**
1. Build & implement a public API analyzer tool
2. Us

[2022-08-08 11:11] xavierchanth commented on #643
@gkc I would like to pursue number 1.
I think we could benefit from our own analyzer built with the intention of it being run in at_mono.
The idea is that it analyzes our trunk against latest on pub.dev.

[2022-08-08 12:31] sitaram-kalluri commented on #580
The changes are published the at_commons 3.0.22. Hence closing the issue.

[2022-08-08 12:31] #580 closed, assigned to gkc, murali-shris

[2022-08-08 12:33] sitaram-kalluri commented on #597
Additionally spent 3 SP to refactor the existing code to write unit tests - Following the PR link: https://github.com/atsign-foundation/at_client_sdk/pull/641

Adding 1SP to scan through the repos and carry forwarding to PR 43

[2022-08-08 12:47] sitaram-kalluri commented on #620
The changes are published in at_commons 3.0.22. Hence closing the git issue.

[2022-08-08 12:47] #620 closed, assigned to sitaram-kalluri

[2022-08-08 12:53] sitaram-kalluri commented on #610
The changes related to exception chaining  are completed and need to merge it trunk branch.  Futher @gkc proposed to write the shared_key directly to remote secondary instead of sync to expedite the sync'ing of shared key. Hence carry forwarding the issue to PR-43

[2022-08-08 12:55] sitaram-kalluri commented on #610
- [x] Chain the exceptions
- [ ] Write shared_key to cloud secondary expedite the sync'ing of shared key

[2022-08-08 13:12] sitaram-kalluri commented on #573
The lint version of at_client and at_client_mobile are updated to at_client - 2.0.0 and at_client_mobile - 3.2.1. Spent 2 SP in PR-42

[2022-08-08 14:30] gkc commented on #578
Time-boxing effort for this sprint to 4SP

[2022-08-08 14:37] gkc commented on #554
0 SP and flagged for discussion on an architecture call

[2022-08-08 14:38] gkc commented on #567
Moving to PR43

[2022-08-08 14:40] gkc commented on #570
Moving to PR43

[2022-08-08 15:42] yahu1031 commented on #573
This version has been deployed. So closing this as completed.

[2022-08-08 15:42] #573 closed, assigned to murali-shris

[2022-08-08 15:42] anthonyvprakash opened #644 "(Tracker) GCP/Travelers - Atsign on Marketplace"
### **GOAL: To get revenue by end of Oct 2022**
Context: The use case picked for the ‘pilot’ was ‘cryptographic consent’ where the buyer inputs a few data points on a form and there is digital fetch of the DUNS # after validation and the buyer is asked for a ‘consent’ on the DUNS #
Proposed [workflow](https://docs.google.com/presentation/d/1d-VmgV2hkyBzVk_q-O62IUwHDuxJv5zx56rJa5rVY0w/edit#slide=id

[2022-08-08 15:44] gkc commented on #644
Placeholder. Will be updated as we get more clarity about what we want to do

[2022-08-08 15:44] anthonyvprakash commented on #644
- Need to ping Christin on the GCP team connect
- Need GCP credits?
- Market Place
- What do we want to put up there?
- Who is going to build it?
- How do we ensure that Henna and Bill are on the same page?
- Actually getting it up on Marketplace
- Who is on our team building this?
- Anything missing?

[2022-08-08 16:04] cconstab commented on #640
Possible that the old keys are being synched from an old client ?

[2022-08-09 11:02] yahu1031 commented on #586
Nope @sachins-geekyants, We don't see this issue anymore with the latest releases. Closing this as completed. Please reopen if you find this issue anywhere.

[2022-08-09 11:02] #586 closed, assigned to yahu1031

[2022-08-09 11:05] yahu1031 commented on #1601
@sonle-geekyants @sachins-geekyants @nitesh2599 Any idea or updates?

[2022-08-09 11:07] yahu1031 commented on #1601
[code]
This code block will show the toast same as now. So we can get rid of flutter toast package. LMK what do you think.

[2022-08-09 11:27] sachins-geekyants commented on #1601
@yahu1031 Are we replacing toast message with snackbar ?

[2022-08-09 11:28] yahu1031 commented on #1601
May be. I suggest to do so.

[2022-08-09 16:42] purnimavenkatasubbu commented on #632
Verified with the trunk branch of at_client_mobile. I don't see the above exceptions anymore. Attaching the app logs for reference.
[client_mobile_trunk_logs.txt](https://github.com/atsign-foundation/at_client_sdk/files/9292990/client_mobile_trunk_logs.txt)
[buzz_clientMobile_trunk_logs.txt](https://github.com/atsign-foundation/at_client_sdk/files/9292993/buzz_clientMobile_trunk_logs.txt)

[2022-08-09 19:52] murali-shris commented on #632
https://github.com/atsign-foundation/at_client_sdk/pull/647
Publishing of at_client_mobile is blocked by end to end test failures

[2022-08-09 22:23] gkc commented on #632
#647 is unblocked, has been merged to trunk, is ready for the package to be published

[2022-08-10 02:20] sitaram-kalluri commented on #632
The at_client_mobile v3.2.2 is published. Marking this issue as fixed.

[2022-08-10 05:56] murali-shris commented on #632
at client mobile 3.2.2 published.
@cconstab please re-test with 3.2.2 and let us know whether onboarding is successful.

[2022-08-10 15:57] nickelskevin commented on #1600
IMHO - making use of keys that we have available to us to improve their experience is the preferred option.

[2022-08-10 15:59] cconstab commented on #1600
It would be my suggestion to make sure that the other desktops env all act the same . So that needs investigation. If they do this is a good idea.

 I think we should also look into allowing multiple instances of applications so they do no step on each others hive files..

[2022-08-10 17:07] ksanty commented on #1600
Leaving as a follow-up arch call discussion item

[2022-08-10 17:08] ksanty commented on #554
Leaving open for now.  Will know more as we progress our client onboarding.

[2022-08-11 07:09] nitesh2599 commented on #1600
@sonle-geekyants We will have to check a few things here :

Platform that supports share feature:

Desktop Platforms:
- [x] MacOS
- [x] Windows
- [ ] Linux

Mobile Platforms:
- [ ] Android
- [x] iOS (We will have to create ios app groups and test)

Data Related check:
- [x] We also need to make sure that if we use the share feature on a platform, two apps should not step on each others hive files

[2022-08-11 09:04] sachins-geekyants commented on #1601
@Pritam-deb please test this branch by Minnu : https://github.com/atsign-foundation/at_widgets/tree/toast_fix

Where flutter toast is replaced by snackbar.

[2022-08-11 13:12] yahu1031 commented on #1601
Moving this ticket **requires validation**

[2022-08-11 15:02] Pritam-deb commented on #1601
The text can be a bit bigger.
The toast could also pop a bit higher.

[2022-08-11 15:26] sachins-geekyants commented on #1601
@Pritam-deb can you share screenshots of both the UI? it will be easier to compare.

[2022-08-13 10:29] murali-shris opened #655 "malformed key exception in buzz"
**Describe the bug**
flutter: SEVERE|2022-08-13 13:29:52.260256|LoadingScreen|Failed to load data : Exception: _latestNotificationIdv2.buzz is not well-formed key

**To Reproduce**
Steps to reproduce the behavior:
- point buzz app to at_client trunk branch
- onboard with any atsign
**Expected behavior**
- no exception during onboard

[2022-08-13 10:46] gkc commented on #655
@murali-shris Does the test in stats_notification_sync_test.dart make any sense to you? I don't really understand what it's trying to do, and in any event I don't believe we are syncing the notification ID any more (see `SyncUtil.shouldSync`)

[2022-08-13 11:04] gkc commented on #655
From `NotificationServiceImpl._getLastNotificationTime()`
[code]
`AtKey.fromString` is the only place that generates a "is not well-formed key" message

The error is valid - it is indeed not a well-formed key - but it shouldn't be happening, because currentAtSign() should not be null.

It can only be happening because, for some reason, current atSign is not set when `_getLastNotificationTime()` is

[2022-08-13 11:11] gkc commented on #655
@yahu1031 @murali-shris where is the Buzz source code?

[2022-08-13 11:15] yahu1031 commented on #655
Lemme update the code with new branch @gkc

[2022-08-13 11:16] gkc commented on #655
Can you point me at the source code please @yahu1031 ?

[2022-08-13 12:45] murali-shris commented on #655
it triggers a sync and asserts that notificationKey is not synced. But I think the check should happen in the onDone call back instead of main()

[2022-08-13 12:45] murali-shris commented on #655
it triggers a sync and asserts that notificationKey is not synced. But I think the getAtKey and assert should happen in the onDone call back instead of main()

[2022-08-14 07:46] yahu1031 commented on #655
@gkc When I call
[code]
in the app, I get this exception
<img width="641" alt="Screenshot 2022-08-14 at 1 15 51 PM" src="https://user-images.githubusercontent.com/35523357/184527426-8c794d84-5d7d-4a6f-9016-e78741e0dc04.png">

Related code is [here](https://github.com/ramtulluri/contacts-app/tree/atbuzz-2.0)

Logs:
[code]

[2022-08-14 07:51] yahu1031 commented on #655
This doesn't happen all the time IDK why.

[2022-08-14 08:55] yahu1031 opened #656 "Can't onboard with existing atsign in buzz"
**Describe the bug**
I have onboarded with an atsign (`@mangotangostable`). But whenever I restarted my code, I can't auto onboard to the app.

**To Reproduce**
Steps to reproduce the behavior:
- Clone the latest buzz app from [here](https://github.com/ramtulluri/contacts-app/tree/atbuzz-2.0).
- Run the code and onboard with an atsign.
- Try hot-restarting the app.

**Expected behavior**
The app m

[2022-08-14 09:50] gkc commented on #655
Is context.read() async?

[2022-08-14 11:07] yahu1031 commented on #655
Nope @gkc it is not. And also there is no way of missing awaits. Cause my lints are a little strict. So no awaits will be missing.

Thanks.

[2022-08-14 11:09] gkc commented on #655
👍

Well for whatever reason, the problem seems to be that

is returning empty string

[2022-08-14 11:42] yahu1031 commented on #655
Thanks @gkc for the help and guidance. I fixed the issue and it is from the app as you mentioned.

[2022-08-14 11:43] yahu1031 commented on #655
Closing the issue as fixed from the app side.

[2022-08-14 11:43] #655 closed, assigned to gkc

[2022-08-14 14:22] gkc opened #657 "setCurrentAtSign allows empty string"
**Describe the bug**
AtClientManager.setCurrentAtSign allows empty string argument for atSign. This results, later, in exceptions which are not obvious to diagnose.

**Expected behavior**
AtClientManager.setCurrentAtSign should immediately reject malformed atSign arguments with an exception

**Additional context**
See also https://github.com/atsign-foundation/at_client_sdk/issues/655

[2022-08-14 16:36] yahu1031 commented on #1601
@Pritam-deb Toast has `fontSize` and `gravity` properties now.

[2022-08-16 08:20] Pritam-deb commented on #1601
[minnu customToast.webm](https://user-images.githubusercontent.com/49619791/184832110-51f3ddde-71e5-4f9d-8562-a87074742b7a.webm)
This is branch on which @yahu1031 worked in.
[flutterToast.webm](https://user-images.githubusercontent.com/49619791/184832155-b8118cea-70ff-4ea2-8255-4622cf89781e.webm)
Here, I have used FlutterToast here

Hence, looks good enough.

[2022-08-16 12:55] purnimavenkatasubbu opened #1599 "atMospherePro throws error while building the app wrt qr_code_scanner package"
### Which at_widget package you find issue with?

at_onboarding_flutter

### On what platforms did you experience the issue?

Android

### What version are you using?

[code]

### What happened?

Build fails with the below mentioned error

### Steps to reproduce

[code]

### Additional info

_No response_

### Relevant log output

[code]

### Flutter analyze output

_No response_

### Flutter doct

[2022-08-16 14:57] yahu1031 opened #659 "Sync happens for ever sometimes"
## Describe the bug
I have onboarded to the buzz app with latest atbuzz-2.0 code. I see the `servercommitId` and `localCommitId` are same with `changedEntries: 45`. But sync never completes.

## To Reproduce
Steps to reproduce the behavior:
1. Clone the latest atbuzz-2.0 code from [here](https://github.com/ramtulluri/contacts-app/tree/atbuzz-2.0)
2. Run the ap once and wait for the sync completes

[2022-08-16 15:02] yahu1031 commented on #659
[complete logs](https://github.com/atsign-foundation/at_client_sdk/files/9352183/atbuzz_logs.log) are here with some exceptions

[2022-08-17 08:55] sitaram-kalluri commented on #597
The changes are published in at_client 3.0.34

[2022-08-17 08:55] #597 closed, assigned to sitaram-kalluri

[2022-08-17 13:39] purnimavenkatasubbu commented on #1599
I was able to build atMosphere Pro app today by making the following changes:

1) kotlin version to '1.7.10'
2) distributionUrl=https://services.gradle.org/distributions/gradle-7.5.1-bin.zip

After changing the above, I faced a different exception

What went wrong:
Execution failed for task ':biometric_storage:kaptDebugKotlin'.

For this, I added biometric_storage in dependency_overrides
 biometri

[2022-08-17 14:38] yahu1031 commented on #656
I have deep-dived into the code and found something. So the direct use of `KeyChainManager.getInstance().getAtSign()` and `KeyChainManager.getInstance().getAtsignsWithStatus()` don't give the expected values where as `KeychainUtils.getAtSign()` and `KeychainUtils.getAtsignsWithStatus()` gives the expected results. In this case, We must need a little good docs WRT the changes mentioning not to use

[2022-08-17 15:03] gkc commented on #656
1. Are the old ways of things marked as deprecated?
2. If we are maintaining the "old ways", then their implementation needs to be changed so that internally they use the "new ways"

[2022-08-17 15:21] yahu1031 commented on #656
@gkc
1. Nope they weren't deprecated. Instead, if we don't have any `KeyChainManager` usage and `KeychainUtil` replaces the `KeyChainManager`, We can make the `KeyChainManager` a private class. So all the functions cannot be accessed outside.
2. They have updated their approaches for storing keys WRT `biometric_storage` and `flutter_keychain`.

[2022-08-18 11:17] sachins-geekyants opened #661 "Receiving multiple notifications for a single notify"
**Describe the bug**
On running atmospherePro from trunk branch, when we receive any file notification, we get multiple callbacks for the same data.

**To Reproduce**
Steps to reproduce the behavior:
1. run atmospsherePro trunk branch and onboard with any atSign(`@a`).
2. send file to `@a`
3. notificationcallback gets triggered twice and received items shows duplicate data.

**Expected behavior**

[2022-08-18 14:54] yahu1031 commented on #656
Now I can able to get values and can onboard the app automatically WRT the [hotfix changes](https://github.com/atsign-foundation/at_client_sdk/compare/trunk...hotfix/get-atsign-return-null).

[2022-08-19 04:55] xavierchanth commented on #643
This grew into 8-13 SP, a number of my other cards will be moved to PR 44

[2022-08-20 03:15] xavierchanth commented on #607
@gkc shall we lower the number of SPs for PR 44?

[2022-08-20 04:11] gkc commented on #607
sgtm

[2022-08-22 06:48] Sardar1208 commented on #659
@yahu1031 Can you please provide the latest update on this branch?
I have the same issue assigned to me - https://github.com/atsign-foundation/apps/issues/686

Judging by the logs there is this error with sync on wavi mobile.
<img width="1390" alt="Screenshot 2022-08-22 at 12 17 45 PM" src="https://user-images.githubusercontent.com/74557219/185856685-d73b0c8f-5e9a-4c7e-9c1c-1cdc24f1819b.png">

[2022-08-22 07:39] sonle-geekyants commented on #1613
I’ve fixed it on branch `feature/switch-theme-new` in the at_widgets. @ayushkumarrojha, could you please test it?

[2022-08-22 11:36] gkc commented on #504
Will complete in PR44

[2022-08-22 11:47] #632 closed, assigned to murali-shris, yahu1031, purnimavenkatasubbu

[2022-08-22 11:49] murali-shris commented on #627
Purnima tried to replicated exception scenario for sync failure. Have to explore on alternate possibilities

[2022-08-22 13:41] sachins-geekyants commented on #1600
Reducing SP and moving to next sprint.

[2022-08-22 13:43] sachins-geekyants commented on #1613
Needs validation and release.
Moving to next sprint.

[2022-08-22 17:44] sitaram-kalluri opened #665 "Invalid keys in ce2e1 and ce2e4"
**Describe the bug**
In at_client SDK e2e test atSign's - (ce2e1 and ce2e4), found invalid key's in the secondary server.

Invalid key found in the cloud secondary: `isencoded:false:isencoded:false:cached:publickey@ce2e2`. There a bunch of such keys created in the cloud secondaries.

**Investigation**
`isencoded` is the metadata attributed created as a part of "encoding public data when new line c

[2022-08-24 09:05] sitaram-kalluri commented on #665
@cpswan  has reset the ce2e1 and ce2e4 atsign's and at_client e2e tests are running successfully. Hence closing this issue.

![image](https://user-images.githubusercontent.com/16645698/186377698-62153daf-4e34-49d7-adf1-dea43bd61b1f.png)

[2022-08-24 14:02] #665 closed, assigned to nobody

[2022-08-25 08:32] yahu1031 commented on #659
Hey @Sardar1208 Here are some logs today it reproduced. [buzz.log](https://github.com/atsign-foundation/at_client_sdk/files/9422948/buzz.log)

[2022-08-25 11:15] Pritam-deb opened #1598 "Header texts are not displayed while onboarding"
### Which at_widget package you find issue with?

at_onboarding_flutter

### On what platforms did you experience the issue?

Android, iOS

### What version are you using?

package version 5.0.0

### What happened?

When onboarding the header texts on two onboarding screens are not visible.

### Steps to reproduce

[code]

### Additional info

_No response_

### Relevant log output

_No response_

[2022-08-25 16:28] #627 closed, assigned to murali-shris, purnimavenkatasubbu

[2022-08-26 12:01] Pritam-deb commented on #1598
done and raised PR https://github.com/atsign-foundation/at_widgets/pull/496

[2022-08-26 12:38] purnimavenkatasubbu commented on #657
PR #671 merged to trunk.

[2022-08-26 12:38] #657 closed, assigned to sitaram-kalluri, murali-shris

[2022-08-29 02:48] sitaram-kalluri commented on #640
Fixed the issue and the changes are available in https://github.com/atsign-foundation/at_client_sdk/pull/666. Request the apps team/QA team to test the changes. The changes are available in `fix_auth_issue` in at_client_sdk repo.

[2022-08-29 06:43] sachins-geekyants commented on #1613
@ayushkumarrojha can we test the packages for theme implementations ?

[2022-08-29 12:34] sachins-geekyants commented on #640
@kalluriramkumar  With the shared at_client branch, the issue is not reproducibile.

[2022-08-29 12:53] sitaram-kalluri commented on #640
@sachins-geekyants : Great, Can you please confirm the regression tests are also covered?

[2022-08-29 15:36] ksanty commented on #1600
Would like Gary's input when he's back

[2022-08-30 06:12] sonle-geekyants commented on #1600
@gkc and @sachins-geekyants
Related to this issue:
- MacOS: ok
- iOS: ok. the app must add `Keychain Sharing` to `Capabilities` in XCode
- Android: don't support. `biometric_storage` use `KeyStore` in Android and can't share between apps
- Linux: don't support for now
- Windows: ok.

And don't make any impact to hive data if app use share atSign.

[2022-08-30 13:03] ayushkumarrojha commented on #640
@sachins-geekyants

This issue is not reproducible with atmosphere pro invalid-atkey branch on the below configurations:

**Device Details:**
Device: iPhone XR
OS: iOS 15.6

[2022-08-31 07:31] gkc commented on #657
Thanks @purnimavenkatasubbu

[2022-09-01 09:46] sachins-geekyants commented on #661
start monitor was getting called multiple times, whenever sync progress was happening. This created multiple listeners for the same regex thus we were receiving multiple notifications.

[2022-09-01 10:24] #640 closed, assigned to sitaram-kalluri

[2022-09-01 11:40] sitaram-kalluri commented on #640
The changes are published in at_client_mobile : 3.2.5

[2022-09-01 11:42] sitaram-kalluri commented on #661
The root cause of the issue is the NotificationService is being subscribed for multiple times and hence the same notification is being delivered. Spent 5 SP on this.

[2022-09-01 11:45] sitaram-kalluri commented on #659
Debugged this issue on .wavi - This is because the put request is being invoked by the wavi app continuously. The key 'privateaccount' is getting updated in a loop as a result the key is being sync'ed for ever causing the sync to run. Updated the findings to @sachins-geekyants . Spent 5 SP on this.

[2022-09-02 04:45] cconstab commented on #166
Def priority and @nickelskevin and @cconstab are looking at it this sprint.

[2022-09-02 10:30] sachins-geekyants commented on #659
@kalluriramkumar I could not reproduce this issue, for me 'privateaccount' key was getting updated only once.
Also, sync was not running forever.

[2022-09-02 15:01] cconstab commented on #389
Yes still important and so let's bump it up to next sprint

[2022-09-02 17:03] VJag commented on #389
I was thinking that the stats notification would have solved this problem. May be not.

[2022-09-05 06:04] sitaram-kalluri opened #683 "Enhance e2e tests for cross version testing."
**Is your feature request related to a problem? Please describe.**
Enhance the e2e tests in at_client as below:
1. Run tests against two servers running on trunk
2. Run tests against one server on trunk and another on canary.

**Describe the solution you'd like**
Update the test in github actions.

[2022-09-05 06:05] #683 closed, assigned to sitaram-kalluri

[2022-09-05 06:16] sitaram-kalluri opened #684 "NotificationService.subscribe fails to return existing listener on same regex"
**Describe the bug**
When trying to reproduce the following issue: https://github.com/atsign-foundation/at_client_sdk/issues/661, Found that the notification service-> subscribe method fails to return the existing listener when already present. Instead creates a new StreamController.

The root cause of the issue is we are check on String (regex) instead of comparing on the NotificationConfig objec

[2022-09-05 06:19] sitaram-kalluri commented on #684
Assigning 0SP because of the effort of this is accounted in the following git issue: https://github.com/atsign-foundation/at_client_sdk/issues/661

[2022-09-05 07:18] yahu1031 commented on #659
@kalluriramkumar I got this today here are the logs https://cdn.sourceb.in/bins/8f8ozX6Asj/0

[2022-09-05 07:44] purnimavenkatasubbu commented on #661
Tested atMosphere_pro app, Now the notification is being received only once.

response => AtNotification{id: 6fab06b5-9730-489c-a6cb-5fc6ee693e7a, key: @judicialabseiling:file_transfer_ac11698b-45e7-421c-8bd5-d19b66f839e6.mospherepro@jittery5justfriends, from: @jittery5justfriends, to: @judicialabseiling, epochMillis: 1662363077285, value: {"transferId":"file_transfer_ac11698b-45e7-421c-8bd5-d19b6

[2022-09-05 08:44] purnimavenkatasubbu commented on #684
Tested atMosphere_pro app with the "fix_multiple_notification_issue", Now the notification is being received only once.

response => AtNotification{id: 6fab06b5-9730-489c-a6cb-5fc6ee693e7a, key: @judicialabseiling:file_transfer_ac11698b-45e7-421c-8bd5-d19b66f839e6.mospherepro@jittery5justfriends, from: @jittery5justfriends, to: @judicialabseiling, epochMillis: 1662363077285, value: {"transferId":"

[2022-09-05 17:12] cconstab commented on #389
Not on the client side.. App currently needs to be in foreground

[2022-09-05 20:29] anthonyvprakash opened #685 "Hacktoberfest 2022"
[Event](https://hacktoberfest.com/) dates: 9/26/22 - 10/27/22

- [x] Decide on Repos that we will open up for Hacktoberfest 2022
- [x] New Labels / Reuse Labels from 2021
- [x] Assign tickets for individual owners to create new issues and apply the corresponding labels
- [ ] Can we have a goal of opening up about 100 tickets?

[2022-09-05 20:30] anthonyvprakash opened #686 "Dev Site Pending Documentation"
**Context** : The new docs site https://docs.atsign.com still has a lot of outdated content. The documentation needs to be refreshed and made up to date.

We need the following to happen :
- [ ] @XavierChanth @JeremyTubongbanua  and @TylerTrott to tell the Engg and App teams on what sections need content
- [ ] @XavierChanth @JeremyTubongbanua  and @TylerTrott to create individual tickets for place

[2022-09-06 02:01] nickelskevin opened #687 "atClientPreference in at_client_service.dart includes the atSign private key as a public member"
**Describe the bug**
A clear and concise description of what the bug is.

In the at_client_service.dart source code, the atClientPreference in at_client_service.dart includes the atSign private key as a public member. I cannot think of any need for the private key to be accessible from the preference object and am suggesting that it be private or removed.

**To Reproduce**
1. Create an instance ``

[2022-09-06 06:04] ayushkumarrojha commented on #1613
@sonle-geekyants @sachins-geekyants

We have validated the switch themes feature with the atwidget feature/switch-theme-new branch, below issues are observed for the same:

**Observations:**
1. Red screen appears in at_follows_flutter when we tab on the screen
2. at_onboarding flutter is not getting build
3. Error message appears when Start onboarding button is clicked on macOS
4. Some buttons and

[2022-09-06 09:00] #684 closed, assigned to sitaram-kalluri

[2022-09-06 09:41] gkc commented on #504
Some progress in PR44. Expect to complete in PR45.

[2022-09-06 09:51] sitaram-kalluri opened #688 "Expose notification strategy in the notification params factory methods"
**Describe the bug**
In the NotificationParams, factory methods we do not have the option to set the notification strategy. So, it restricts user from using the notification strategy latest. Modify the code for user to optional set the notification strategy.

The changes are available in "enhance_notify_text" branch for testing.

[2022-09-06 09:52] #688 closed, assigned to sitaram-kalluri

[2022-09-06 09:52] sitaram-kalluri commented on #688
This is an unplanned work to support colin's iot testing.

[2022-09-06 11:05] sachins-geekyants commented on #1613
Assigning 5 SP and moving to next sprint.

[2022-09-06 12:31] sachins-geekyants commented on #1598
package deployed, can be tested.

[2022-09-06 14:27] nickelskevin opened #689 "pub.dev score badge error"
**Describe the bug**
The pub.dev score badge on the readme.md file for at_client_mpbile is erroring (like a 404)

**To Reproduce**
Visit https://github.com/atsign-foundation/at_client_sdk/blob/trunk/at_client_mobile/README.md

[2022-09-06 14:28] #661 closed, assigned to sitaram-kalluri, murali-shris

[2022-09-06 15:48] #570 closed, assigned to cconstab

[2022-09-06 15:48] anthonyvprakash opened #690 "IoT Demos for Santa Clara Event"
1. Integration of atPlatform with Badge from Dr.Bergmann
2. Floow integration

[2022-09-06 15:52] murali-shris commented on #689
@nickelskevin we can make it a practise to check pub score before publishing
https://pub.dev/help/scoring
You can view your pub points report to get suggestions before publishing, by running pana locally:

When run pana will make modifications to the package, so start by making a copy of the directory holding your package: cp /dev/mypkg /tmp/mypkg

Make sure you have the latest pana tool: dart pub

[2022-09-06 16:05] cconstab commented on #589
Checked and not able to reproduce with new client code

[2022-09-06 16:05] #589 closed, assigned to cconstab, murali-shris

[2022-09-06 16:19] ksanty commented on #687
Move to high priority after arch discussion

[2022-09-06 16:49] ksanty commented on #690
@anthonyvprakash do we need to add to PR45?

[2022-09-06 16:50] anthonyvprakash commented on #690
@ksanty  - we can keep this for the next Sprint

[2022-09-06 22:42] ksanty commented on #685
@anthonyvprakash happy to go into the labels repo and update last years labels with current.  They look pretty generic.  Have a look - https://github.com/atsign-company/labels/labels?page=1&sort=name-asc.

[2022-09-07 09:37] cpswan opened #694 "Mandatory end_to_end tests are being skipped by GitHub Actions for Dependabot PRs"
**Describe the bug**

We can't merge Dependabot PRs because end_to_end tests are Required, but are being skipped.

![image](https://user-images.githubusercontent.com/478926/188844758-71f3c524-681f-45f6-b604-877bd16b18c9.png)

We have a section at the end of the end2end_tests that should just skip the final step:

[code]

But the workflow never gets that far because we skip the entire prep job for

[2022-09-09 05:49] purnimavenkatasubbu commented on #689
Fix for the issue is available in PR #693. PR merged to trunk

[2022-09-13 09:52] cpswan commented on #685
I've added the `hacktoberfest` topic to all of the repos we feature on our GitHub org(s) home page.

Labels are already in place from last year.

[2022-09-15 12:55] cconstab commented on #610
Any update on this issue ?

[2022-09-15 13:30] sitaram-kalluri commented on #610
@cconstab : The changes related to the exception chaining are merged and published. To expedite the sync'ing of the shared_key, we have approach ready. But it needs a minor change in sync_conflict_resolution code. Hence wanted to check with @gkc before pushing the changes.

[2022-09-19 05:37] murali-shris commented on #687
Spent 8SP in this sprint.
https://github.com/atsign-foundation/at_client_sdk/pull/698
When app or client is init for the first time, we have to read the private key from keychain and pass it to at_client_impl create. Have to discuss in architecture call whether passing private key to at client impl create is an acceptable approach.

[2022-09-19 05:44] purnimavenkatasubbu commented on #689
Closing the issue as the new version with the fix is published to pub.dev
[at_client](https://pub.dev/packages/at_client)

[2022-09-19 05:44] #689 closed, assigned to purnimavenkatasubbu

[2022-09-19 08:28] purnimavenkatasubbu opened #708 "Fix pub.dev score of at_client_mobile"
**Describe the bug**
Fix the score in at_client_mobile
https://pub.dev/packages/at_client_mobile/score

[2022-09-19 12:53] gkc commented on #643
@XavierChanth any update?

[2022-09-19 12:57] sachins-geekyants commented on #1613
Moving to requires validation.

[2022-09-19 12:59] gkc commented on #610
@kalluriramkumar What do I need to review?

[2022-09-19 13:15] gkc opened #711 "Cryptographic Consent - core sample code"
Issue created here for project board purposes - actual issue is in private repo [here ](https://github.com/atsign-company/google-travelers-workshops/issues/1)

[2022-09-19 13:21] gkc opened #712 "Our autobug GitHub action is failing to add new tickets to "Dev Eng Sprint Planning" project board"
**Describe the bug**
* Our autobug GitHub action is failing to add new tickets to "Dev Eng Sprint Planning" project board
* See https://github.com/atsign-foundation/at_client_sdk/actions/runs/3082689892/jobs/4982695756

**To Reproduce**
* Create a new issue in the `at_client_sdk` repo or `at_server` repo
* Likely to be failing in all repos

**Expected behavior**
Issue should be added to the "Dev E

[2022-09-19 13:22] sitaram-kalluri commented on #610
@gkc: When sync'ing the shared key to remote secondary directly, the key gets sync'ed back to local secondary (because server is ahead of the local). At this point, failure occurs in sync conflict resolution because it tried to decrypt the data (we do not encrypt the shared_key).

As part of fixing other bug @murali-shris, added logic in sync conflict resolution to check if isEncrypted is set to t

[2022-09-19 14:14] murali-shris commented on #708
published version 3.2.6 https://pub.dev/packages/at_client_mobile/score
null safety issue has to be fixed

[2022-09-19 14:17] xavierchanth commented on #643
Backlogged due to my capacity in PR46

[2022-09-19 15:34] cconstab opened #713 "Notifications get hung up as secondary syncs"
**Describe the bug**
When sending frequent updates (say 2hertz) there is noticeable delay in notifications received in the client.

**To Reproduce**
Steps to reproduce the behavior:
1. First I send a lot of notifications to a secondary (I used the GPS Demo code)
2. Then I connect a client and subscribe to nofications
3. As the client is synching no notifications are being dealt with and so they ge

[2022-09-19 18:33] cconstab commented on #713
Much improved by removing the old hive boxes on the receiver and changing the onboarding Pref to

[code]

[2022-09-20 08:27] cpswan commented on #712
Looks like something changed causing a permission problem with the token used (and the action isn't smart enough to error out):

[code]

[2022-09-20 10:44] cpswan opened #716 "Test issue for autobug"
Testing if fix to #712 has worked. This should appear in Triage.

[2022-09-20 10:57] cpswan commented on #712
Tested with #716 now working again with extra [project] scope on the token.

https://github.com/leonsteinhaeuser/project-beta-automations/issues/53 raised so that the action author is aware that failures will happen but still show a 'successful' action run.

[2022-09-20 10:57] #712 closed, assigned to gkc, cpswan

[2022-09-20 10:57] #716 closed, assigned to cpswan

[2022-09-20 13:58] cconstab commented on #713
After leaving over night the symptoms slowly come back, what I also observed is that the monitor can also die in this hang which leads to more delays.

[code]

[2022-09-20 23:46] cconstab commented on #713
I failed to put a SyncProgressListener in place.. Not sure of the correct way to do it on the GPS code..  Let me know when you can and I will add and run a new test over night..
@VJag @kalluriramkumar

[2022-09-21 02:35] VJag commented on #713
Hi @cconstab. Can you please check "at_functional_test/test/atclient_sync_callback_test.dart" in SDK.

[2022-09-21 02:54] cconstab commented on #713
Yup that's where I was looking earlier but I could not see understand  how to get a progress Listener and then to use it..

Sorry for being a noob !

[2022-09-21 04:43] sitaram-kalluri commented on #713
Added sync progress listener and pushed the changes to a new branch  `add-sync-progress-listener`.

Following are the changes added: https://github.com/atsign-foundation/mwc_demo/commit/2f1756835206cf28a9937463279ac974b98d2d64

[2022-09-21 07:08] purnimavenkatasubbu commented on #708
The null safety issue on dart:Indexed_db is from a package that is blocked by flutter. See the following link for reference.
https://github.com/dart-lang/pana/issues/891

Hence moving this issue to backlog

[2022-09-21 08:26] murali-shris commented on #686
@XavierChanth @TylerTrott
I documented few minor changes required on at client sdk and server documentation.
https://docs.google.com/document/d/1DGj49jVsAqr4gS5wN6HlcEyWT9M-tHEF--MsW6_hyjo/edit
If you are fine with the changes, I can request @purnimavenkatasubbu to work on the changes

[2022-09-22 04:53] cconstab commented on #713
@VJag @kalluriramkumar.. This might be significant in that when starting up a flutter app the sync runs (in my case as you onboard the atSign)  and during that time the whole app "locks" up as soon as the second message apears things move along..

[code]

This is repeatable, but only with atsigns that have had a lot of commitIds (16919324 in this case)  or  just have had a lot of notifications fro

[2022-09-22 14:18] sitaram-kalluri commented on #713
@cconstab : Found the potential cause for sync to trigger. Fixed the issue and changes are pushed to the following branch : [ignore_latestNotificationKey_from_sync](https://github.com/atsign-foundation/at_client_sdk/tree/ignore_latestNotificationKey_from_sync)

Can you please point to the above at_client SDK and test?

**Testing Notes:** Tested on `@87bluebaton` and the when receiving the notifica

[2022-09-22 14:30] cconstab commented on #713
For sure thanks

[2022-09-22 14:31] cconstab commented on #713
I think that's solves one thing but does not solve the lock up when you hit a high number of commits..

[2022-09-22 14:36] VJag commented on #713
This fix prevents unnecessary sync's hence there is no commit log and the related logic to compare commit id's. However, murali is working on implementing commit log compaction. The ticket for it is https://github.com/atsign-foundation/at_client_sdk/issues/553.

[2022-09-23 12:38] athandle commented on #644
Did we make any progress on this from GCP people?

[2022-09-26 21:14] cconstab opened #720 "Some atSigns not synching and or not calling the OnDone callback"
**Describe the bug**
WIth some atSigns they never sync and hence the OnDone callback is never called

**To Reproduce**
Steps to reproduce the behavior:
1. First I used a broken atSign (iot_manager)
2. Then I run set_hro2_receivers.dart from the mwc demo repo
3. And then I see `..................................................` indicating the atSign has not synched..
4.

**Expected behavior**
atSi

[2022-09-26 21:19] cconstab commented on #720
Wireshark of working atsign

[code]

[2022-09-26 21:26] cconstab commented on #720
Wireshark of non working atSign

[code]

Seems to halt

[2022-09-26 21:29] cconstab commented on #720
Setting Synch batch size does not seem to work as we still see `10`

[code]

Wireshark dump

[code]

Plus these records look odd at the start of the sync

[code]

[2022-09-26 21:40] cconstab commented on #720
Reseting the clients hive database resets it back to commit to -1 but the sync still hangs after the data and prompt is returned.
Once again a bunch of values that are null

[code]

[2022-09-26 22:02] cconstab commented on #720
Full logs

Client side (FINEST)
[code]

Server

[code]

Wireshark
[code]

[2022-09-27 06:52] murali-shris commented on #720
@cconstab set_hro2_receivers.dart..is this file checked in to a remote branch?

[2022-09-27 06:56] cconstab commented on #720
The trunk of the mwc demo in the dart folder

https://github.com/atsign-foundation/mwc_demo/tree/trunk/dart/iot_sender/bin

But at_talk works just as well to test.

[2022-09-27 07:02] murali-shris commented on #720
thanks Colin..got it..for some reason github search was not showing the file in search result

[2022-09-27 09:28] cpswan opened #721 "Functional tests failing due to certificate errors."
**Describe the bug**

Functional tests (running in GitHub Actions) are failing, with error messages like:

`CERTIFICATE_VERIFY_FAILED: unable to get local issuer certificate`

More fully:

[code]

We saw a fair bit of that message a year ago when the DST CA X3 Root expired.

**To Reproduce**

See logs for recent PRs such as:

Run [#1136](https://github.com/atsign-foundation/at_client_sdk/actions/r

[2022-09-27 10:13] cpswan commented on #721
Tried on a VM running Ubuntu 20.04.4 with Dart 2.18.1:

[code]

[2022-09-27 10:16] cpswan commented on #721
@gkc @murali-shris tagging you both in on this to get some extra eyes on it

I'd note that the preamble tests work, so when we run `dart run test/check_docker_readiness.dart` and `dart run test/check_docker_readiness.dart` they're just fine; and those tests are making use of TLS connections to the VE that would cause certificate problems if this was a straight OS <-> certs issue. So we're only see

[2022-09-27 10:22] cpswan commented on #721
<details>
<summary>Here's the pubspec.lock from my failing test environment</summary>

[code]
</details>

Hopefully we can get diffs for pubspec.lock in passing/failing envs to see what's changed @kalluriramkumar

[2022-09-27 11:08] murali-shris commented on #720
end processing counter 14
processing counter 15 {atKey: publickeynull, value: null, metadata: null, commitId: 1186, operation: -}
SEVERE|2022-09-27 15:49:02.507895|SyncService|error in _syncFromServer Bad state: No element
[code]
bad key is causing issue
the above stack trace is due to the below line
var cause = (e is AtException) ? e.getTraceMessage() : e.toString();
we are catching the exception

[2022-09-27 11:47] murali-shris commented on #720
Fix in at_commons
https://github.com/atsign-foundation/at_tools/pull/235

[2022-09-27 14:21] #721 closed, assigned to gkc, cpswan, sitaram-kalluri, murali-shris

[2022-09-27 14:45] cpswan opened #724 "What is the process to keep testData cert.pem up to date?"
**Is your feature request related to a problem? Please describe.**

#590 introduced [cert.pem](https://github.com/atsign-foundation/at_client_sdk/blob/trunk/at_functional_test/test/testData/cert.pem), which is a certificate for vip.ve.atsign.zone that expires on 13 Oct 2022:

<details><summary>certinfo for cert.pem</summary>

[code]
</details>

Does this cert need to be kept up to date, and if so

[2022-09-27 18:01] cconstab commented on #720
Fixed confirmed and feel free to close this issue once published to pub.dev

[2022-09-28 08:45] gkc commented on #720
Has been [published](https://pub.dev/packages/at_commons/changelog) - closing the issue. Thanks @murali-shris for super-fast diagnosis and resolution! 👏

[2022-09-28 08:45] #720 closed, assigned to gkc, murali-shris, VJag

[2022-09-28 11:50] purnimavenkatasubbu commented on #686
Raised a [PR](https://github.com/atsign-foundation/docs.atsign.com/pull/154) for the following changes.

- AtClientManager - discuss notification service and sync service before stating how to fetch it using AtClientManager
- Key Basics - Remove "in atProtocol" from subheading
- CRUD operations - move this section to beginning of the page
- Root Server - The second diagram can be moved to secondar

[2022-09-29 13:58] sitaram-kalluri opened #731 "Empty batch requests being sent to server"
**Describe the bug**
When uncommitted entries contains the keys are not synced to secondary server (the cached keys and keys that are local to client),
the sync service skips the entries. But this causes the delay keys to sync because the non sync keys in uncommitted entries list is being iterated and an empty batch requests are being sent to server.

Client Logs:

[code]

Server Logs:

[code]

<d

[2022-10-02 18:15] gkc commented on #711
* Completed. See https://github.com/atsign-company/google-travelers-workshops/issues/1

[2022-10-02 18:15] #711 closed, assigned to gkc, VJag

[2022-10-03 04:52] sitaram-kalluri opened #732 "end to end tests failing in at_client SDK"
**Describe the bug**
The end2end tests are failing in at_client sdk and following are the observations

- The Hive keystore and commit log keystore are being removed and the end of test and being re-initialized for every test. As a result the initial sync happens before all the tests in a given file (in some cases before each test). which is time consuming and also blocking the server.

- The empt

[2022-10-03 04:53] sitaram-kalluri commented on #732
Spent 5 SP for the analysis in PR 46

[2022-10-03 07:20] nitesh2599 commented on #1600
Could not be worked on in this sprint, moving to next sprint.

[2022-10-03 08:49] murali-shris commented on #553
Initial version of draft implementation done. Addressing review comments and completing implementation, documentation and unit testing pending

[2022-10-03 09:30] VJag opened #733 "design client performance test rigs"
**Is your feature request related to a problem? Please describe.
Design the tests that measure the performance bottlenecks which will become driving factors to refactor/redesign the client

**Describe the solution you'd like
By identifying and measuring performance bottlenecks and how and what clogs the event loop we should be able to design the system for the parallelism

Describe alternatives yo

[2022-10-03 09:32] sitaram-kalluri commented on #713
Spent 5 SP to set the at_gps demo in local, find the root cause of the issue and provide a fix.

[2022-10-03 09:34] VJag opened #734 "build client performance test rigs"
**Is your feature request related to a problem? Please describe.
Build the tests that measure the performance bottlenecks

**Describe the solution you'd like
Use design from #733

**Describe alternatives you've considered
NA

**Additional context
NA

[2022-10-03 09:38] gkc opened #735 "Incorporate signing library into cryptographic consent POC code"
**Describe the solution you'd like**
Srie Teja is building the signing library based on design completed last sprint. The POC programs need to be amended to use that library once complete

[2022-10-03 11:09] gkc opened #737 "Review core code paths"
**Describe the solution you'd like**
Per #579 invest 3SP in PR47 and spend two blocks of 3-4 hours reviewing core code paths for structure, clarity, correctness, latent bugs

[2022-10-03 11:25] gkc commented on #733
_**High**_ priority because we have a platform objective of having reliable latency for notification delivery.

Note: We do not have a formal objective at this time. We need to agree a set of SLOs along the following lines
* Notification delivery latency from one atSign secondary to another should be less than 50-milliseconds-plus-speed-of-light for 99.9% of notifications after initial secondary-t

[2022-10-03 11:27] gkc commented on #731
Setting to High priority as it is a bug.

[2022-10-03 14:26] cpswan commented on #685
Hacktoberfest is now underway, and we've seen considerable traffic relating to it.

@anthonyvprakash is the aim to have 100 across the month, as we didn't have that many at the start?

[2022-10-03 15:10] xavierchanth commented on #686
Backlogging this for the next 2 sprints @anthonyvprakash @cpswan @TylerTrott , we can reassess after Hacktoberfest.

[2022-10-03 20:36] anthonyvprakash commented on #685
@cpswan - Yes, that was at least a target for us to shoot for so that we could build on that year over year.

[2022-10-04 07:33] ayushkumarrojha commented on #1613
@sonle-geekyants @sachins-geekyants

We have validated the switch themes feature with the atwidget feature/switch-theme-new branch, below issues are observed for the same:

**Observations:**
1. We are not able to build at_contacts_flutter and at_onboarding-flutter
2. Pop-up box text is not visible in at_location flutter
<img width="340" alt="Screenshot 2022-10-04 at 12 55 56 pm" src="https://user-

[2022-10-05 15:39] gkc opened #740 "We currently have no tests for the 'fetchOfflineNotifications' flag"
**Describe the bug**
* A [recent PR](https://github.com/atsign-foundation/at_client_sdk/pull/701) added the fetchOfflineNotifications flag and made associated changes in NotificationServiceImpl. No tests were added for this feature.
* fetchOfflineNotification is currently only checked when the NotificationServiceImpl starts its Monitor. It should also be checked when it restarts its Monitor

**Exp

[2022-10-06 08:21] sonle-geekyants commented on #1613
I have checked and I see that all issues are not occurring.
Popup has changed theme color and I still build successfully at_contacts_flutter and at_onboarding_flutter on iOS.
Could you please pull the newest code from branch "feature/switch-theme-new" and test it again? @ayushkumarrojha

https://user-images.githubusercontent.com/88494375/194253901-ff24b79a-5f64-42a1-9a6d-9357b6669318.mov

https://

[2022-10-06 09:14] gkc commented on #740
Background: spent several hours yesterday with Colin & Kevin trying to figure out why their demo for the IOT expo had stopped working.

Eventually we figured out that the problem was that the client app wasn't syncing

The only thing that had changed was that fetchOfflineNotifications was set to false. Setting it back to true resulted in everything working normally

We logically concluded that imp

[2022-10-06 09:50] VJag commented on #740
My guess is, if we change the code and set fetchOfflineNotifications to false in the demo code it might work again. To me, it seems like a timing issue. Any idea if the test was done using a brand new atsign?

[2022-10-06 09:52] gkc commented on #740
Don't know what the issue was, just that setting that flag to false resulted in client not syncing. Should be impossible, right?

[2022-10-06 15:21] ralfeus opened #741 ""Connection is invalid" on listening for AtNotification"
**Describe the bug**
While listening for `AtNotification` stream eventually sooner or later I'm getting an error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run the code:
[code]
2. Wait 30-120 minutes

**Expected behavior**
Should listen for events indefinitely.
- In case of network failure it might notify of one and try to reconnect but never stop listening.
- In case of long te

[2022-10-06 15:28] ralfeus opened #742 "Synchronisation error"
**Describe the bug**
After some moment, probably after the key is expired the errors are logged every 0.15 seconds:

[code]

When the key with same name is created again it's never synchronised to the remote secondary.

**To Reproduce**
Steps to reproduce the behavior:
1. Receive a key with TTL 60 seconds. The code to send a key:
[code]
2. Have the recipient to get the key. The receiving code:
[co

[2022-10-06 15:33] ralfeus opened #743 "Keys are sent in lowercase regardless of what case they are created"
**Describe the bug**
If I create the key that has UPPERCASE letters, they are replaced with lowercase upon storing

**To Reproduce**
Steps to reproduce the behavior:
1. Create and save the key with the code:
[code]
2. Observe the output of a kind:
[code]

**Expected behavior**
Key case remains intact

[2022-10-07 10:54] gkc commented on #743
Hi @ralfeus - thanks very much for this!

Yep that is the intended behaviour right now, but it's not explicitly documented anywhere. It would be a lot of effort to allow mixed-case key names now, as there are assumptions about it throughout the codebase - but of course we could do it if there's a lot of demand. How important is this to you? How important do you think it might be in general for the

[2022-10-07 10:58] gkc commented on #742
Thanks @ralfeus - an unexpected consequence of some fairly recent changes. We'll fix the bug and add some tests to cover this scenario.

[2022-10-07 10:59] gkc commented on #741
Thanks @ralfeus.

[2022-10-07 11:08] ralfeus commented on #743
In general it seems to be a conflict with the naming convention of the Dart and Java. I would understand if primary language was Python where snake_case is used. But both Dart and Java adopt camelCase so it would be logical to follow same naming conventions in key names.

My use case is generating keys from an enum, which according to Dart's best practices has camel case elements. So in case of fo

[2022-10-07 13:14] cpswan commented on #724
Assigned @kumarnarendra701 as he should be able to take existing actions/scripts and apply to this.

[2022-10-07 16:56] gkc opened #744 "Caching-related enhancements"
### NB
Original bug report preserved below, but we've split off the bug into a [separate ticket](https://github.com/atsign-foundation/at_client_sdk/issues/759) (completed), and this ticket is now for discussion of enhancements we can make related to caching of data, and essentially two questions:
1. should receiver atSign secondary always cache (currently leaning towards 'yes')
2. should we make i

[2022-10-07 17:01] gkc opened #745 "getKeys does not return expected values when sharedBy is not supplied"
**Describe the bug**
* getKeys does not return expected values when sharedBy is not supplied

**Expected behavior**
* should return all keys which match the regex

**More Context**
* Talk to @nickelskevin

[2022-10-08 16:03] gkc commented on #740
When this ticket was originally filed, it looked as if setting this boolean to false was causing sync problem with the iot_receiver demo app. That sync problem was very likely a coincidence, possibly a side-effect of https://github.com/atsign-foundation/at_widgets/issues/546

[2022-10-08 16:05] gkc commented on #745
@nickelskevin Wonder if what you observed was a side-effect of the sync problem you were encountering at the time. No sync ==> no keys in local key store.

[2022-10-08 16:46] gkc commented on #744
Looking at the server-side code, when sharedBy is supplied it results in the current atSign's cloud secondary connecting to sharedBy's cloud secondary and scanning there.

@cconstab @nickelskevin FYI as to why this is necessary - it's because if alice shares something with bob, it is only sent to bob's key store if ttr is non-null and not equal to zero. Thus bob can only be sure to see everything

[2022-10-08 17:22] gkc commented on #744
@cconstab @nickelskevin I think we need to review this area, as the behaviour for shared data with ttr == {null | zero} could be confusing / surprising on the client side when doing scans / gets / etc.

I think we should talk about the following
* 1 The use case for prevention of caching on sharedWith's secondary
* 2a) If we re-affirm that we need the ability to prevent caching, what do we need to

[2022-10-08 18:38] gkc commented on #744
@gkc and @nickelskevin discussing
* ttr for ensuring fresh data is obsolete for secondaries which are both implementing notifications (and autoNotify)
* Can see situations where future implementers of atProtocol might not wish to honour notifications or at least autoNotify
* The receiver opinion matters as well as the sender. Receiver might not want to cache anything, or some things.
* In fact rea

[2022-10-08 19:18] gkc commented on #744
Need to split this into two tickets
(1) Short-term : Change `LocalSecondary._scan` so it doesn't create a new `RemoteSecondary` object (and thus a new connection) every time we do a `getKeys` where we are supplying `sharedBy`
  =>> Created new ticket, #759 (Complete)
(2) Medium-term (this ticket): Changes discussed above as an enhancement

[2022-10-09 11:47] gkc commented on #744
@nickelskevin we didn't discuss public keys, where I think ttr _does_ have a role. I think the same behaviour we discussed above still apply, but we should talk through this scenario also

[2022-10-10 07:51] ralfeus commented on #742
Not sure if it's related or a different issue - please advice.
I put a key `memberInviteRequest` shared with `@81bored7` to a store. Then it's supposed to be synchronised and I see following in the log:

[code]

Naturally nothing is synchronised.

[2022-10-10 09:04] murali-shris commented on #742
@ralfeus Thanks for sharing the logs. I am trying to replicate your issue in my local environment. I will keep you updated with my findings.

[2022-10-10 11:27] #694 closed, assigned to sitaram-kalluri

[2022-10-11 09:33] murali-shris commented on #742
Updates from my local testing:
1) there is discrepancy in the way keys are added in metadata cache in create and put methods of hive_keystore.in put method we are not encoding the key before adding to cache. whereas in create method we are encoding the key.
2) Due to issue # 1 certain expired keys still remain in cache since remove(key) doesn't clear the entry from cache.
3) Side effects of issue

[2022-10-11 14:07] murali-shris commented on #742
@ralfeus do you have local secondary server setup where you can run your client pointing to local server?

[2022-10-11 14:14] ralfeus commented on #742
No, I don't use local secondary server.

On Tue, Oct 11, 2022 at 4:07 PM Muralidharan ***@***.***>
wrote:

[2022-10-12 05:28] ralfeus opened #749 "Synchronisation error - Invalid or corrupted pad block"
### Describe the bug

Sometimes after key creation the synchronisation fails with following error:
[code]

No further indication of the error

### Steps to reproduce

1. Create a key and put it to local storage
2. Have keys synchronized

### Expected behavior

Keys are synchronised as they are

### Screenshots

_No response_

### Smartphones

- Device: Emulator
- OS: Android

### Were you using an

[2022-10-12 10:16] sonle-geekyants commented on #1600
I've done this task and pushed code on branch
- `feature/enable-user-sharing` of the Wavi app
- `feature/enable-user-sharing` of the Atmosphere app
@nitesh2599 @sachins-geekyants @ayushkumarrojha you can test it on macOS, iOS and Windows.

[2022-10-13 07:39] sitaram-kalluri opened #750 "Skip latestNotificationId to sync to server"
### Is your feature request related to a problem? Please describe.

At the moment, the latestNotificationId keys gets sync'ed the server. The key gets updated for every notification received and as a result the key gets continuously sync'ed to the server which created a lot of load on the server. Further, server does not need to know the latestNotificationId.

Proposed Solution:
------------------

[2022-10-13 12:05] #740 closed, assigned to gkc

[2022-10-13 14:04] ralfeus opened #752 "Listening for notifications fails"
### Describe the bug

When the application listens for notifications at some point the error occurs:

[code]
Even though waiting for notifications is wrapped into `try-catch` the exception is still not caught and application is crashed.
A snipped of listening:
[code]

### Steps to reproduce

1. Start listening for notifications with the code similar to one above
2. Wait for some time (can be 4 hou

[2022-10-14 06:55] murali-shris opened #753 "stream verb is broken"
### Describe the bug

While sending a stream transfer from sender to receiver, notification is received is on receiver's secondary. But stream ack is not propogated back to sender and the sender times out.

### Steps to reproduce

* setup local virtual environment
* run at_client/samples/stream_receiver.dart and then at_client/samples/stream_sender.dart
* Stream sender timesout.

### Expected beha

[2022-10-14 10:03] cpswan opened #755 "Introduce support for ECC keys"
### Is your feature request related to a problem? Please describe.

Not a problem yet...

But as we move to using SIMs implementing [IoT SAFE](https://www.gsma.com/iot/iot-safe/) there will be a need for support.

### Describe the solution you'd like

Introduce NIST P256 and Ed25519 curves to complement our existing use of RSA2048

### Describe alternatives you've considered

We should also give s

[2022-10-14 10:06] cpswan opened #756 "[Tracker] Use private keys within secure element rather than in memory"
### Is your feature request related to a problem? Please describe.

We generally work with private keys that have been copied from a secure element into memory, but this isn't best practice, and isn't possible with properly implemented hardware generated keys e.g. IoT SAFE.

### Describe the solution you'd like

Delegate operations using private keys to hardware based elements where possible so th

[2022-10-14 11:32] ayushkumarrojha commented on #1613
@sonle-geekyants @sachins-geekyants

We have validated the switch themes feature with the atwidget feature/switch-theme-new branch, below issue is observed for the same:

**Observations:**
1. Text is not displayed in Group Name text box while creating a new group in at_contacts_group_flutter
![File_000 (6)](https://user-images.githubusercontent.com/106963334/195836823-f57251dd-0e7d-442e-b05a-7b5b1

[2022-10-14 13:02] murali-shris commented on #553
https://github.com/atsign-foundation/at_server/pull/950
No progress in PR47 due to priority bugs

[2022-10-14 15:50] gkc commented on #687
Was this discussed, and what was the conclusion?

[2022-10-15 12:32] gkc opened #759 "getKeys, when specifying sharedBy, results in creation of a single-use-only RemoteSecondary each time"
### Describe the bug

getKeys, when specifying sharedBy, results in LocalSecondary._scan() making a new one-time-use-only connection to the cloud secondary, by creating a new RemoteSecondary object

### Steps to reproduce

It's what happens now

### Expected behavior

Should use the existing remote secondary

### Screenshots

_No response_

### Smartphones

_No response_

### Were you using an atA

[2022-10-15 12:37] gkc commented on #759
Marked as 5SP in this sprint to include (1) the analysis in #744 (2) the effort in #758

[2022-10-15 12:52] gkc commented on #610
We (@gkc @VJag @murali-shris and @kalluriramkumar) discussed this on Thursday Oct 13, @Vjag will review where we are and how we will fix this properly. @VJag when you are ready, please can you add (into this ticket) your assessment of where we are and recommendations for what we need to do

[2022-10-15 12:54] gkc commented on #737
Did not happen, too much other unplanned work. Moving to PR48

[2022-10-15 13:01] gkc commented on #750
@kalluriramkumar Any progress on this?

[2022-10-16 03:08] sitaram-kalluri commented on #750
The code changes are completed. Following are the PR's
* at_commons: https://github.com/atsign-foundation/at_tools/pull/242
* at_persistence_secondary_server: https://github.com/atsign-foundation/at_server/pull/979
* at_client_sdk: https://github.com/atsign-foundation/at_client_sdk/pull/760

[2022-10-16 09:19] gkc commented on #744
Adding something that I wrote in [another conversation](https://github.com/atsign-foundation/at_java/pull/64):

[2022-10-16 21:01] #759 closed, assigned to gkc

[2022-10-17 06:14] purnimavenkatasubbu commented on #733
The performance tests include
- [x] Notification text latency

**What are we measuring**:
These tests measure the latency/time difference between the time that the notification is sent from the sender's client to the time the notification is received by the client of the recipient.

**Scenarios**
      -  Sender notifies using notify:text and receiver is receiving notifications (without sync) - Th

[2022-10-17 06:32] purnimavenkatasubbu commented on #734
See [comment](https://github.com/atsign-foundation/at_client_sdk/issues/733#issuecomment-1280341043)  for more reference

- [x] Notification Latency test
As part of notification latency,  Added tests that include

1.  Sender, that sends a notification text (notify: text) continuously to a receiver without any expiry,
[sender_test](https://github.com/atsign-foundation/at_client_sdk/blob/latency_tes

[2022-10-17 09:36] murali-shris commented on #687
not yet Gary.Arch call discussion pending.

[2022-10-17 09:41] murali-shris commented on #742
pending addressing some review comments and PR merge.

[2022-10-17 09:59] sitaram-kalluri commented on #731
Spent 2 SP in PR-47 for root cause analysis

When fetching the uncommitted entries on the client side following happens:

Step 1: Lets say server is at commit Id - 10
Step 2: Lets say the client is at commit id 5, and there are 3 uncommitted entries which are at hive seq 6,7,8 respectively.
Step 3: When sync completes, first the 5 commits in server are pulled to local, then 3 uncommitted entries a

[2022-10-17 11:58] kumarnarendra701 commented on #724
@cpswan - I didn’t get the bandwidth to work on this task. Can you please move it to the next sprint?

[2022-10-17 12:12] sachins-geekyants commented on #1600
Reducing SP and moving to next sprint for testing and deployment.

[2022-10-17 12:36] gkc commented on #610
@gkc and @VJag had follow-up discussion today.

In summary, we need to break down this important lifecycle (delivery of shared encryption key to recipient) into several parts
1. Sender generates symmetric encryption key, and encrypts it with asymmetric public key of recipient ==> Requires public key of recipient to be available.
2. Sender delivers symmetric encryption key to its cloud secondary ==

[2022-10-17 12:38] gkc commented on #610
Burned 3SP in PR47. Moving to PR48. Estimate 8SP for implementation including extensive testing to ensure we have a rock-solid solution.

[2022-10-17 12:39] gkc commented on #610
@VJag if you think this is 13SP please update the label

[2022-10-17 12:41] gkc commented on #741
Impl complete including new tests. Plan to release tomorrow Oct 18

[2022-10-17 12:50] cpswan commented on #724
@kumarnarendra701 OK - moved to PR48

[2022-10-17 12:53] gkc commented on #504
Will be my primary focus in PR49 to make this available for user testing. We continue to see a drip drip of new sync-related bugs, I don't think it's correct any longer to 'wait until what we have is stable'.

[2022-10-17 13:15] sitaram-kalluri commented on #750
The code changes are completed in PR-47. Pending work: PR reviews, merging to trunk and publishing packages. Moving to PR-48 and re-estimating to 3 SP.

[2022-10-17 13:15] cpswan commented on #685
Moving to PR48, which will take us through to almost the end of Oct (and Hacktoberfest)

[2022-10-17 13:30] gkc opened #761 "Gather diagnostic info"
### Is your feature request related to a problem? Please describe.

Currently it is difficult if not impossible to diagnose some issues, especially sync, short of debugging jointly with a customer. Even then, some info is not readily available

### Describe the solution you'd like

Implement a simple DiagosticService and simple DiagnosticObserver

Enhance AtClient to share diagnostics via the Diag

[2022-10-17 15:18] anthonyvprakash opened #762 "Industry Use Case Demos"
Master Card to capture all new Demos for Nov and Dec 2022

- [ ] **Insurance** - Pick use cases from Prudential and Travelers
- [ ] **Speed of Deployment (Generic)** - to showcase what we claim about speed to install new IoT Devices in a new environment
- [ ] **Industrial**  -  Showcase a scenario that might exist in a factory or a workhouse ( Potential to work with VT-ARC)
- [ ]  **LoraWan Gatewa

[2022-10-17 15:29] ksanty commented on #743
Needs arch discussion

[2022-10-17 16:03] ksanty commented on #644
App is being developed in the atCompany org - repo https://github.com/atsign-company/google-travelers-workshops

[2022-10-18 01:45] #690 closed, assigned to gkc, nickelskevin, cconstab

[2022-10-18 01:45] ksanty commented on #690
Event completed

[2022-10-18 07:11] sitaram-kalluri commented on #752
Found the potential root cause of the issue:
- When the server responses are delayed/timeout, the `monitorResponse` will have null value. In the subsequent line, we check for `isError` which leads to a null pointer exception.
- Approach to fix the delayed monitorResponse from server is to throw `AtTimeoutException` in `getQueueResponse` method which will be handled in `start` method.

[2022-10-18 09:22] VJag commented on #610
Notes from the meeting that I and Gary had on the potential solutions:

Sol 1: Make the shared encryption key part of the payload
Conclusion: It was concluded that making the shared encryption key part of the payload is not the best way to solve the problem as it increases the payload size. When the key is cached and accessible to the recipient sending it repeatedly as part of the payload can be a

[2022-10-18 09:32] VJag commented on #610
Another solution approach I have in my mind is:

"A sender continues to send the shared AES encryption key as part of the payload till the time he sees a notification/cached key from the recipient to indicate that the shared encryption key is available to the client"

Let's say this confirmation key is "cached:@gary:share_key_accessible@jagan". So @jagan will make the shared key part of the payloa

[2022-10-18 09:37] purnimavenkatasubbu commented on #749
From the logs, the shared_key has been appended by the atsigns twice.( @baboon9blue:@baboon9blue and @81bored7@81bored7) which is incorrect.

The correct syntax of the key is as follows
![Screenshot from 2022-10-18 13-54-05](https://user-images.githubusercontent.com/43639593/196394341-6af09aa2-697b-4e08-a5c5-59dcd10814ea.png)

Here murali is the sharedWIth atsign and sitaram is the sharedBy atsign

[2022-10-18 09:45] gkc commented on #610
Continuing to send key in payload fixes one problem but does not address the issue regarding collision when more than one sender client is in play, and both of them create a symmetric encryption key (and we assume there is only one in the data store)

[2022-10-18 09:56] VJag commented on #610
Yes, Gary. Though it is not elegant, it does solve the two-client problem. The explanation would be when the key is part of the payload, the one from the payload should be used for decryption. So it does not matter if the two clients would have generated two keys as the keys are still decryptable. However, we still have a problem where the recipient might get two cached shared keys at two differen

[2022-10-18 10:03] gkc commented on #610
True. But we need to agree that either (1) we will have a single shared encryption key per atsign pair (current intended behaviour) or (2) we can have multiple shared encryption keys per atsign pair

(2) is where I believe we need to go anyway. If we stick with (1) then we need to make it right

[2022-10-18 10:59] yahu1031 commented on #1601
@Pritam-deb This issue from the fluttertoast seems fixed, Cross check this with fluttertoast package, If it works, use it. https://github.com/ponnamkarthik/FlutterToast/issues/391#event-7594635351

[2022-10-18 14:47] sitaram-kalluri commented on #749
**Root cause of the issue:**

On the sender side, a sharedKey (AES key) is generated and is encrypted with the receiver's public key and the resultant which is encryptedSharedKey is notified to the receiver's atsign. On the receiver side, when a notification related to sharedKey arrives, it is treated a SharedKey and SharedKeyDecryption is performed; which means the encryptedSharedKey is decrypted

[2022-10-19 01:09] cconstab commented on #610
I think we should just stick with one aes key as it's tough to manage 1 let alone X.

So we need some where to offer a mutex for aes creation.. The atServer is well placed I think for that.. More discussion to be

A diagram that shows a way to not have atClients create a new shared AES key with a new atSign for tomorrows arch call or for you to improve on over night..

https://mermaid.live/edit#pa

[2022-10-19 01:40] sitaram-kalluri commented on #752
* Following PR: https://github.com/atsign-foundation/at_client_sdk/pull/763 fixes the issues.
- [x]  Merge to trunk
- [x] Publish at_client package

[2022-10-19 03:30] gkc commented on #610
@cconstab once we've solved this for one AES key, the same pattern will work for many. We can start by making this work for what we have now - one. In future we will need to support at least two for when it becomes time to re-encrypt and re-share as we move to a higher key length or different algorithm or whatever.

We can use the server as mutex indeed that's by far the simplest way to solve the

[2022-10-19 03:47] cconstab commented on #610
We do not cut the key on the server instead we use it to manage a mutex.

[2022-10-19 03:55] gkc commented on #610
Oh ok I thought you were proposing something new. (Can't read diagram on my phone!) Yes that's what Jagan & I were discussing; we have two ways of doing it : (1) server code to handle this specific case (2) introduce concept of variable mutability e.g. in this case we would want write once, no subsequent delete or change (but ttl would hold, for auto deletion)

[2022-10-19 07:48] VJag commented on #610
[code]

[2022-10-19 07:49] VJag commented on #610
Colin's diagram is embedded as a mark down. Its the same diagram.

[2022-10-19 09:59] sitaram-kalluri commented on #732
- [ ] Refactor tests such that sync and creation of encryption keys happens at the beginning of all tests and clears at the end of all tests

[2022-10-20 06:14] murali-shris commented on #687
discussion in architecture call.
* persisting private key from keychain to keystore should be independent of at client --> create
* work on design and finalise implementation approach in PR48

[2022-10-20 06:30] murali-shris commented on #742
Discussion from architecture call.
While deleting non existent keys, throw KeyNotFoundException instead of data:null.
Review the impact of changes on app/client side.

[2022-10-20 09:28] purnimavenkatasubbu commented on #750
Verified the changes with atMospherePro app and latency tests.

1. With atMosphere pro app,

- With an old atsign the _latestNotificationIdv2 was available for the first time, But later the key was not synced.
-  With a new atsign, the _latestNotificationIdV2 was not being created.
Attaching app logs,
[atMosphereProLogs.txt](https://github.com/atsign-foundation/at_client_sdk/files/9828352/atMosphe

[2022-10-20 10:37] purnimavenkatasubbu commented on #734
Re-tested with the [skip_latestNotificationId](https://github.com/atsign-foundation/at_client_sdk/tree/skip_latestNotificationId). Now the latency results are better compared to the previous results. Results can be found in the following sheet.

Tab -1 Previous results(without the fix for skipping latestnotification Id)
Tab 2 - After fix (Receiver that only listens to the notification)
Tab -3 Afte

[2022-10-21 05:37] murali-shris commented on #742
Updated server pull request https://github.com/atsign-foundation/at_server/pull/966 with latest changes for throwing KeyNotFoundException. Working on changes in at_client

[2022-10-21 05:53] sitaram-kalluri commented on #713
The following https://github.com/atsign-foundation/at_client_sdk/issues/750 issue is the potential cause for the notifications getting hung when the sync runs and PR: https://github.com/atsign-foundation/at_client_sdk/pull/760 has the fix

[2022-10-26 04:58] sitaram-kalluri commented on #749
The issue is fixed and changes are merged to trunk branch

[2022-10-26 11:59] purnimavenkatasubbu commented on #732
Refactored the tests and pushed the changes to the [refactor_tests](https://github.com/atsign-foundation/at_client_sdk/tree/refactor_tests)

[2022-10-26 15:05] srieteja commented on #731
Had a productive discussion with Sitaram. We have a possible solution based on an assumption; which we are testing out in-depth and I will be linking the PR after the testing.

[2022-10-26 19:01] gkc commented on #756
As a first step on this journey, we need to
* isolate all of the operations that depend on private keys into an interface (at-chops)
* inject an instance of at_chops into the various moving parts of the client
  * So every piece of code that needs an operation that depends on private keys is using an instance of at_chops
* replace all current direct usages of keys in those various moving parts (At

[2022-10-28 06:14] sitaram-kalluri commented on #749
The changes are published in v3.0.42. Hence marking the issue as fixed.

[2022-10-28 06:15] sitaram-kalluri commented on #752
The changes are published in v3.0.42. Hence marking the issue has fixed.

[2022-10-29 18:47] kumarnarendra701 commented on #724
@cpswan - Modified Refreshcerts script to sync with the latest script and raised PR with renewed certificate and script.
https://github.com/atsign-foundation/at_server/pull/1017
https://github.com/atsign-foundation/at_server/pull/1016

[2022-10-30 16:23] gkc commented on #745
@nickelskevin I've reviewed the code and the existing tests as well as the new tests I added and I don't think there is a bug here. Will close this ticket.

[2022-10-30 16:24] #745 closed, assigned to nobody

[2022-10-30 16:34] gkc commented on #744
No progress in PR48 - moving to backlog

[2022-10-30 16:35] gkc commented on #741
Oops forgot about this. Will try to create PR this week along with some other PRs in at_client_sdk

[2022-10-30 16:37] gkc commented on #735
Moving to PR49

[2022-10-30 16:41] gkc commented on #761
5SP effort during PR48.

Will close out in PR49 (move some code to at_commons, PRs for at_commons and at_client_sdk, publish packages

[2022-10-30 17:00] gkc opened #770 "Clients will miss pending notifications upon startup if there is a delay between NotificationService creation and client calling NotificationService.subscribe"
### Describe the bug

Clients will miss pending notifications upon startup if there is a delay between Monitor creation and client calling NotificationService.subscribe

### Steps to reproduce

Introduce a delay (for example by waiting for sync to complete) before calling subscribe on NotificationService.

### Expected behavior

Clients should not miss notifications

### Screenshots

_No response_

[2022-10-30 17:14] gkc opened #771 "Better support for notification subscriptions"
### Is your feature request related to a problem? Please describe.

See #770 for details

In summary - current implementation means that the notifications start to come as soon as the Monitor is created, and as currently we don't send any regex with the monitor command, we immediately start to receive all notifications from the time specified. In turn this means that if the client-side subscriptio

[2022-10-31 02:01] gkc commented on #756
More on this:
* The interface should live in a new package called at_chops (Cryptography and Hashing OPerationS) which we can place in the at_libraries repo. It needs to live in its own package as it will be used by multiple other packages including at_client, at_secondary_server, at_lookup, at_onboarding_cli
* To the extent that is reasonably possible (e.g. not prohibitively time-consuming) , we

[2022-10-31 02:05] gkc commented on #756
Applying the 'Urgent' label as the first part of this (creating the interface and restructuring code to use it) is a prerequisite for for multiple other platform improvements.

[2022-10-31 02:39] gkc commented on #749
Thanks @kalluriramkumar ... did you look into why the error message says `Failed to decrypt @baboon9blue:@baboon9blue:shared_key@81bored7@81bored7` instead of `Failed to decrypt @baboon9blue:shared_key@81bored7` ?

[2022-10-31 02:56] sitaram-kalluri commented on #749
Yes, @gkc. In the update_verb_handler.dart, we prefix and append the sharedWith and sharedBy to the key before sending the notification. So, the key in the notification looks like "@‎bob:phone@alice"; when logging the key, we have an atKey.toString which will again add sharedWith and sharedBy to the key. Hence the atsign's are shown twice.

[2022-10-31 02:58] gkc commented on #749
Great - have you created a ticket to track fixing that bug?

[2022-10-31 03:00] sitaram-kalluri commented on #749
I remember seeing a similar bug. I will go through the bugs list. If there is no issue, will create one and update the git issue here.

[2022-10-31 03:17] sitaram-kalluri opened #772 "Calling toString on the notification atKey has atsign twice prefixed and appended"
### Describe the bug

When atKey.toString is called on the key received in the notification callback, the resultant has the duplicate atsign's.
For example, the key looks like `@baboon9blue:@baboon9blue:shared_key@81bored7@81bored7` instead of `@baboon9blue:shared_key@81bored7`.

### Steps to reproduce

1. Send a notification of the type messageType.key from the server
2. On the at_client SDK, whe

[2022-10-31 03:19] sitaram-kalluri commented on #749
Created a git issue to the bug: https://github.com/atsign-foundation/at_client_sdk/issues/772

[2022-10-31 03:25] sitaram-kalluri commented on #750
Added validations in the verb builder so as to guard the sharedWith, isLocal, isPublic and isCached. The changes are in the following PR. Spend 5SP on this in PR-48.

[2022-10-31 03:57] cconstab opened #773 "Document Bugs found during development of HRO2"
A number of bugs / unexpected behavior found whilst developing HRO2 that needs investigation/documenting and raising bug issues.

- [ ] atClient.put when TTL/TTR is involved
- [ ] Sync not happening or seemingly not happening after a atClient.put on an existing key
- [ ] write small examples
- [ ] raise issues - issues to include tasks to create unit/e2d tests

[2022-10-31 05:23] purnimavenkatasubbu commented on #732
Refactored some more tests and pushed the changes to the same branch. [refactor_tests](https://github.com/atsign-foundation/at_client_sdk/tree/refactor_tests)

[2022-10-31 05:34] purnimavenkatasubbu commented on #734
Latency tests have been re-verified again after the fix for "skipping latest notification Id ". The results have been better than the previous results that have been taken without the fix. Results can be found in the following sheet.

https://docs.google.com/spreadsheets/d/1wY9eFI1OdqaexyR7Ho7ctT6IyNdsdIIB/edit#gid=243961569

Tab 2 and 3

[2022-10-31 10:18] purnimavenkatasubbu commented on #734
A sample isolate program.
[sample_receiver_isolate.txt](https://github.com/atsign-foundation/at_client_sdk/files/9900178/sample_receiver_isolate.dart)

[2022-10-31 10:40] cpswan commented on #724
@kumarnarendra701 https://github.com/atsign-foundation/at_server/pull/1017 certainly tidies up the existing script, but doesn't do what was asked for here, which is to have a similar script that updates the testData cert.pem certificate in *this* repo.

Moving to PR49

[2022-10-31 11:01] cpswan commented on #685
Closing, as today's the last day of Hacktoberfest.

[2022-10-31 11:01] #685 closed, assigned to cpswan, xavierchanth, TylerTrott, anthonyvprakash

[2022-10-31 11:23] sachins-geekyants commented on #1600
This could not be tested in the last sprint. Moving to next sprint.

@tinashe404 can you help us test following branch.
`feature/enable-user-sharing` of the Wavi app
`feature/enable-user-sharing` of the Atmosphere app

[2022-10-31 11:47] purnimavenkatasubbu commented on #733
The design isolates part is pending in the ticket. That can be tracked as part of the ticket [Build ticket](https://github.com/atsign-foundation/at_client_sdk/issues/734)

[2022-10-31 11:47] #733 closed, assigned to gkc, VJag

[2022-10-31 12:30] murali-shris commented on #742
https://github.com/atsign-foundation/at_client_sdk/pull/768/files
client PR review comments addressed. Pending final review and merge

[2022-10-31 12:34] srieteja commented on #731
The approach used in the linked PR is: when 'enableCommitId' is true (indicating that the persistence server belongs to the client) then a check is placed to ensure only keys without commit Ids are returned.

[2022-10-31 12:35] srieteja commented on #731
Moving to PR49 for testing.

[2022-10-31 14:50] gkc commented on #687
Hi @murali-shris - please see also #756

[2022-10-31 15:01] gkc commented on #771
Marking as 2SP to prepare proposal for discussion on arch call

[2022-10-31 15:41] gkc commented on #756
I removed the urgent label again as I guess it's not currently truly urgent. It is very very important though.

[2022-10-31 15:55] gkc commented on #756
8SP for PR49 to design / define the interface, get it reviewed and agreed on arch call(s)

[2022-10-31 20:57] tinashe404 commented on #1600
@sachins-geekyants sure lets have a chat about this when you're back on Wednesday.

[2022-11-01 09:32] murali-shris commented on #742
Test scenarios covered
test 1: put a key using at_client and then delete the key. Delete should return true
test 2: put a key at_client, delete the key. Now try deleting the same key again. First delete should return true, second delete should return false.

[2022-11-02 04:31] sitaram-kalluri commented on #610
@gkc: Had a discussion with @VJag and the following is the first step in implementation - Ensure the notifications are not triggered unless the encrypted shared is synced to the respective atsign cloud secondary. Can you please confirm if this is fine?

[2022-11-02 07:42] purnimavenkatasubbu commented on #732
Refactoring tests are done, The tests are failing in the GitHub actions that need to be looked at.
Draft PR - (#774 )

[2022-11-02 09:00] sitaram-kalluri commented on #772
@gkc and @VJag : Below is the approach to fix this issue. Please review and let me know if there needs a modification in the approach.

1. In the update_verb_handler.dart and notify_verb_handler.dart, do not concatenate sharedWith and sharedBy atSigns to the key. In the update_verb_handler.dart, introduce a new variable that will hold the fully formed key (sharedWith:key@sharedBy) to insert/fetch

[2022-11-03 18:27] kumarnarendra701 commented on #724
@cpswan - Added Refreshcerts script to raise PR with renewed certificate and script.
Workflow Script  PR - https://github.com/atsign-foundation/at_client_sdk/pull/777
Renewed cert PR - https://github.com/atsign-foundation/at_client_sdk/pull/776

[2022-11-04 14:57] gkc commented on #610
Sounds good, yes

[2022-11-07 06:51] kumarnarendra701 commented on #724
@cpswan - Can we close this?

[2022-11-07 09:38] #724 closed, assigned to kumarnarendra701, srieteja

[2022-11-08 10:50] sonle-geekyants commented on #1600
I've added a function `sharing atSign` on Menu Bar in the Wavi app and the Atmosphere app. Please test it @tinashe404 @ayushkumarrojha @sachins-geekyants

https://user-images.githubusercontent.com/88494375/200545608-597881cf-73fe-4dfb-b0f8-985453a6997e.mov

[2022-11-09 00:29] tinashe404 commented on #1600
I've tried this our on a simulator and have made the following observations

- If you open an app with an already onboarded atSign (in my case atmospherePro) and press start, it will ask if you want to share your atsign. At this point, i'm not sure which atSign is onboarded so i don't know if i want to share it or not. It would be good if we had something that shows which atSign it is. We also nee

[2022-11-09 03:11] sonle-geekyants commented on #1600
-> Wavi will automatically onboard when you log in to HomePage -> enable sharing atSign before.

-> Default should turn on. Because when allow sharing atSign, the app will share all data. If you don't want to share data, you shouldn't turn on sharing atSign.
@tinashe404

[2022-11-09 16:47] sitaram-kalluri opened #780 "Failed to authenticate to ce2e1 atSign"
### Describe the bug

Failed authenticating to the ce2e1 atSign.

[code]

Error when connecting from the openssl command line:

[code]

### Steps to reproduce

Connect via the OpenSSL to ce2e1 atSign and run PKAM verb to authenticate. Authenticate fails.

### Expected behavior

Authentication to ce2e1 atSign should be successful.

[2022-11-09 17:04] cpswan commented on #780
I think I see a possible explanation of the problem:

* Tests have been failing on at_server
* and so the secondary:dess_cicd image might have a broken secondary inside it

We might want to rethink the test matrix for at_client_sdk end2end tests and maybe use the `:dev_env` tag rather than `:dess_cicd`

[2022-11-09 17:08] cpswan commented on #780
I tried updating ce2e1 to `:dev_env`, which takes it back in time a little to gha2076, but works for PKAM auth:

[code]

[2022-11-09 17:14] cpswan commented on #780
I've done a corresponding update for ce2e2 so that's also on `:dev_env` and restarted the GitHub Actions run, which is showing green tests, so I think things are back on track.

On reflection it probably makes sense to be testing against the code released to staging rather than just whatever last got PRed against trunk

[2022-11-09 17:14] #780 closed, assigned to cpswan, sitaram-kalluri

[2022-11-10 15:41] ksanty commented on #644
@gkc @cpswan @anthonyvprakash @athandle I am closing this ticket.  If you have any notes or links to other tickets please add for historical if helpful.

[2022-11-10 15:41] #644 closed, assigned to gkc, cpswan, nickelskevin, cconstab, athandle, anthonyvprakash, ksanty, sachins-geekyants

[2022-11-10 18:11] #750 closed, assigned to sitaram-kalluri

[2022-11-11 00:10] sitaram-kalluri commented on #750
Spent 5SP in PR-49 to refactor the validations in the verb builders, add additional unit tests in at_commons: https://github.com/atsign-foundation/at_tools/pull/245 and consume the changes to at_client SDK and publish at_commons and at_client packages

[2022-11-11 15:47] tinashe404 commented on #1600
Wording...

**Share this atSign with all your atPlatform apps?**

You will not be required to re-upload your atKeys when you use @tinashe404 with other atPlatform apps on this device.

[2022-11-13 14:39] gkc commented on #743
@ralfeus we discussed this and TL;DR we're sticking with lowercase.

We will not throw an exception is using uppercase letters as this is a breaking change, however we will ensure the code docs are very clear about it, and I believe we should log warnings when non-uppercase keys are being used

@srieteja FYI as I think you're working on this.

[2022-11-13 14:48] gkc commented on #504
Moved back to Backlog as we are doing a bottom-up and top-down review of the expectations of sync. Once we have those expectations covered by tests and implemented in the current SyncServiceImpl, it will be straightforward to move to a streaming model rather than the current batch model.

[2022-11-13 14:50] gkc commented on #770
More urgent stuff came up. The patch fix is with the customer via a git branch, but needs a PR raised. Will do in PR50

[2022-11-13 15:08] gkc opened #784 "Secure element: Initial design and implementation of at_chops interface"
### Is your feature request related to a problem? Please describe.

See https://github.com/atsign-foundation/at_client_sdk/issues/756 for overall context

### Describe the solution you'd like

See https://github.com/atsign-foundation/at_client_sdk/issues/756#issuecomment-1296441973

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-11-13 15:09] gkc commented on #756
Removing 8SP label as this issue will be the top-level aggregator of the various other tickets we will create

[2022-11-13 15:30] gkc opened #785 "[Tracker] Future-proof our encryption and encryption key management"
### Is your feature request related to a problem? Please describe.

* We currently support one single type of public-private encryption keypair (RSA). We need to support ECC and likely others in the future
* We currently encrypt  symmetric keys in one way only, by using RSA asymmetric keys. We need to explicitly store some metadata about the asymmetric key that was used to encrypt the symmetric ke

[2022-11-13 15:31] gkc commented on #785
[High-level design](https://docs.google.com/document/d/1vTeH77XFrebGaZshsk3It9ujdmGEFXEALH6fI4MHWQg/edit#) drafted and reviewed during PR49

[2022-11-13 15:33] gkc opened #786 "High level design for future-proofing our encryption"
### Is your feature request related to a problem? Please describe.

See https://github.com/atsign-foundation/at_client_sdk/issues/785

### Describe the solution you'd like

See https://github.com/atsign-foundation/at_client_sdk/issues/785

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-11-13 15:37] gkc opened #787 "Spike the overall implementation for our encryption future-proofing"
### Is your feature request related to a problem? Please describe.

See https://github.com/atsign-foundation/at_client_sdk/issues/786 and [high-level design document](https://docs.google.com/document/d/1vTeH77XFrebGaZshsk3It9ujdmGEFXEALH6fI4MHWQg/edit#)

* encrypted values
  * additional encrypted value metadata
    * key name used
    * cipher mode used
    * IV
    * nonce
  * value encryption a

[2022-11-13 15:43] gkc opened #788 "secure element: at_lookup refactoring to use at_chops"
### Is your feature request related to a problem? Please describe.

See https://github.com/atsign-foundation/at_client_sdk/issues/756

### Describe the solution you'd like

See https://github.com/atsign-foundation/at_client_sdk/issues/756

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-11-13 15:44] gkc opened #789 "secure element: at_client refactoring to use at_chops"
### Is your feature request related to a problem? Please describe.

See https://github.com/atsign-foundation/at_client_sdk/issues/756

### Describe the solution you'd like

See https://github.com/atsign-foundation/at_client_sdk/issues/756

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-11-13 15:44] gkc opened #790 "secure element: at_client_mobile refactoring to use at_chops"
### Is your feature request related to a problem? Please describe.

See https://github.com/atsign-foundation/at_client_sdk/issues/756

### Describe the solution you'd like

See https://github.com/atsign-foundation/at_client_sdk/issues/756

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-11-13 15:45] gkc opened #791 "secure element: at_onboarding_cli refactoring to use at_chops"
### Is your feature request related to a problem? Please describe.

See https://github.com/atsign-foundation/at_client_sdk/issues/756

### Describe the solution you'd like

See https://github.com/atsign-foundation/at_client_sdk/issues/756

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-11-13 15:45] gkc opened #792 "secure element: at_onboarding_flutter refactoring to use at_chops"
### Is your feature request related to a problem? Please describe.

See https://github.com/atsign-foundation/at_client_sdk/issues/756

### Describe the solution you'd like

See https://github.com/atsign-foundation/at_client_sdk/issues/756

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-11-13 16:11] gkc commented on #734
Moving to backlog as the core work in PR50 will be to continue to focus on sync tests, rearchitecting for secure element,  future-proofing our encryption and of course bug fixing

[2022-11-13 16:12] gkc commented on #741
Too much other higher priority work came up during PR49. Hopefully can complete in PR50

[2022-11-13 16:29] gkc commented on #610
Can we try to finish this off in PR50?

[2022-11-13 16:30] gkc commented on #687
Closing this issue as has been superseded by #756

[2022-11-13 16:30] #687 closed, assigned to sitaram-kalluri, murali-shris, VJag

[2022-11-13 16:37] gkc commented on #772
I don't believe this is the right way, as it changes existing behaviour.

Can we come up with a simpler solution?

[2022-11-13 16:46] gkc commented on #772
This changes existing behaviour, so it feels risky. In particular, this bit:

However clearly it is incorrect for the server to be prepending sharedWith and appending sharedBy to what is already a well-formed AtKey, so we need to do something.

It is strange that we have a clear design / intent inconsistency which has been around for a long time and yet it isn't affecting us except in this one sit

[2022-11-14 04:23] sitaram-kalluri commented on #772
Spent 3 SP finding the root cause of the issue and a fix in PR-49. Moving to PR-50 for the remaining work.

[2022-11-14 05:14] purnimavenkatasubbu commented on #732
There is a change in the workflow file that's a part of the PR. But the GitHub actions is considering the workflow file of the trunk branch instead of my local branch. Hence the tests are failing

[2022-11-14 11:08] cpswan commented on #756
Added MVP description section to root comment for this issue.

[2022-11-14 11:15] sitaram-kalluri commented on #731
The changes are in at_persistence_secondary_server and are merged to the trunk. Re-opening the git issue to publish the changes.

[2022-11-14 11:16] gkc opened #793 "(Tracker) Define and implement clear sync contracts"
### Is your feature request related to a problem? Please describe.

Sync is a core enabler of our goal of making it possible for clients to be functional while offline from the network. It has been implemented and evolved organically based on a high-level intent.

However we are missing a clear definition of the overall contract and the individual contracts in the pipeline from client to server an

[2022-11-14 11:23] murali-shris commented on #742
@kalluriramkumar please update this ticket once we have the fix for infinite loop issue on sync service published.

[2022-11-14 11:23] sachins-geekyants commented on #1600
Moving to next sprint.

[2022-11-14 11:27] sitaram-kalluri commented on #731
Pending work is to publish at_persistence_secondary_server package. Hence re-estimating to 0SP

[2022-11-14 11:35] gkc opened #794 "Sync: Define sync contracts by test cases"
### Is your feature request related to a problem? Please describe.

See #793

This task is to cover the work involved in defining the individual contracts that, when strung together, make up the overall sync contract

### Describe the solution you'd like

Define contracts (groups of test cases) for
- [x] (Client) How items are added to the 'uncommitted' queue on the client side (upon data store op

[2022-11-14 11:39] gkc opened #795 "Sync: Write the unit (most), functional (some) and end-to-end (few) tests which verify the sync contracts"
### Is your feature request related to a problem? Please describe.

See #793

This task is to cover the work involved in verifying the individual contracts that, when strung together, make up the overall sync contract. (Definition of those contracts is covered by #794)

### Describe the solution you'd like

Verify the contracts by implementing the test cases for
- [x] (Client) How items are added

[2022-11-14 11:45] gkc commented on #794
@VJag Feel free to either leave this as it is (single ticket) or add individual tickets for each of the subtasks as you wish

[2022-11-14 11:45] gkc commented on #795
@VJag Feel free to either leave this as it is (single ticket) or add individual tickets for each of the subtasks as you wish

[2022-11-14 11:51] gkc commented on #610
Clearing the estimate; we should re-estimate what it's going to take to complete this. @kalluriramkumar can you lay out all of the major tasks required to complete this work, please?

[2022-11-14 12:12] murali-shris commented on #784
initial pull request
https://github.com/atsign-foundation/at_libraries/pull/245

[2022-11-14 12:19] murali-shris commented on #753
Issue fixed in at_client and server branch of stream_transfer_issue.
End2end tests are in progress. @purnimavenkatasubbu is facing an issue running parallel client in the tests..to be discussed

[2022-11-14 12:28] gkc opened #796 "[Tracker] Collections library"
### Is your feature request related to a problem? Please describe.

Currently every app developer has to independently implement the glue code required to join their app's domain objects (and lists of those objects) with put/delete calls to the AtClient API on the one hand, and update/delete notifications from the notification service on the other.

Buzz and the insurance poc app are current examp

[2022-11-14 12:44] gkc opened #797 "Collections: clearly define via design doc and/or code prototype"
### Is your feature request related to a problem? Please describe.

See #796

This ticket is to cover the work required to clearly define what we want to achieve via design doc and/or code prototype. (Take what's been learned from Buzz and the insurance POC, merge it with some of the ideas / objectives in #796, write a detailed design doc and/or code prototype and test cases illustrating the thing

[2022-11-14 12:44] sitaram-kalluri commented on #610
@gkc: Based on my discussion with Jagan the contract on the client should be "SDK should prevent a key or a notification to be shared with another atSign till the time the SDK is sure that the shared key is available to the recipient"

For this to be implemented:

On a high level, refactor getSharedKey method follows:

1. Look IF the shared_key is already available in the Keystore (local and cloud

[2022-11-14 14:29] sitaram-kalluri opened #798 "Refactor the sync unit tests to increase code coverage"
### Is your feature request related to a problem? Please describe.

1. Refactor the existing sync scenario unit tests and write new scenarios to increase the code coverage

### Describe the solution you'd like

The new sync unit test scenarios are added to the following branch: https://github.com/atsign-foundation/at_client_sdk/tree/sync_unit_tests

[2022-11-14 14:33] sitaram-kalluri commented on #798
Spent 8 SP in PR-49 doing a thorough analysis on the sync and framing the unit tests: Following branch to unit tests: https://github.com/atsign-foundation/at_client_sdk/tree/sync_unit_tests

[2022-11-14 15:11] gkc opened #799 "(Tracker) Uplift to docs.atsign.com"
### Is your feature request related to a problem? Please describe.

Our docs on docs.atsign.com are not sufficient right now. For example we need more explanation about what is going on under the hood so that developers can more easily grasp the programming model and the resulting keystore operations and data flows within clients, between clients and cloud servers, and between cloud servers

### D

[2022-11-14 15:14] gkc opened #800 "docs uplift: Review content section by section and create tickets as required"
### Is your feature request related to a problem? Please describe.

See #799 for overall context

### Describe the solution you'd like

In pairs or trios, review content docs.atsign.com section by section, creating tickets as required for corrections, clarifications or missing content

### High-level tasks (please add additional tasks here!)
- [ ] Divide up the docs into sections which are amenabl

[2022-11-14 15:15] gkc commented on #799
Marking as High priority following conversation with @XavierChanth last week

[2022-11-14 15:16] gkc commented on #800
Marking as High priority following conversation with @XavierChanth last week

[2022-11-14 15:26] gkc commented on #798
Thanks @kalluriramkumar !!! Closing this ticket as complete as we now have #794 and #795 to cover the ongoing work

[2022-11-14 15:29] gkc commented on #784
Added "8SP" yesterday as a reflection of work completed during this sprint. @murali-shris can you estimate for this sprint now? Maybe list out the high-level tasks that remain to be done? (Note that #756 links to other tickets which I've created for the integration of at_chops into the various libraries (at_lookup, at_client, at_client_mobile, at_onboarding_cli, at_onboarding_flutter)

[2022-11-14 16:26] gkc commented on #786
Complete - doc is [here](https://docs.google.com/document/d/1vTeH77XFrebGaZshsk3It9ujdmGEFXEALH6fI4MHWQg/edit#)

[2022-11-14 16:26] #786 closed, assigned to gkc

[2022-11-14 16:31] anthonyvprakash opened #801 "Azbil IoT Demo for High Rise Buildings"
- [x] Define the best use case for the demo for Azbil ( workshop on Nov 18, in the Bay Area)
- [x] Build demo for Azbil

[2022-11-14 16:36] gkc commented on #800
Timeboxing to 8SP during this sprint between @gkc and any other volunteers they can enlist

[2022-11-15 04:16] sonle-geekyants commented on #1600
Yes, I don't need to re-upload atKeys because when uploading atKeys in any app, I will save all information of that atSign in device. So I can share them with other atPlatform apps. @tinashe404

[2022-11-16 04:55] sitaram-kalluri commented on #731
The changes are published in at_persistence_secondary_server: v3.0.43.

[2022-11-16 19:44] cconstab commented on #801
- [x] Demo a computer, that allowed a relay to switch on/off using AtPlatform..

- [ ] Stretch goal Standalone and with connected to the Internet

[2022-11-17 16:49] xavierchanth commented on #796
Thoughts from an earlier discussion: https://gist.github.com/XavierChanth/f7f92701657db773b5d42158c014d8d4

Meeting minutes 17/11/2022:
  - Main goal, to avoid writing boilerplate code
  - What shape does this take?
    - If you load the same object into memory 5 times,
      do you want 5 copies? or do you want 1?
      - Assumption: **Same id = Same data**
    - Ability to refer to other objects

[2022-11-17 19:25] xavierchanth commented on #799
https://docs.google.com/document/d/1SAxsT6WgXFh_uyYtWKWKUyZsVCAk3xaxfmKyObvO41I/edit

[2022-11-17 21:28] JeremyTubongbanua commented on #744
@gkc I made a public key on my secondary and it automatically made `ttr:0` (so therefore should not be cached when looked up).

@smoothalligator's secondary with public key ttr 0
[code]

But it is being cached when doing `plookup`

@22easy's secondary server with the cached public key (where the public key has ttr 0)
[code]

Is this a bug related to this ticket @gkc ? Doesn't ttr=0 mean do not cac

[2022-11-17 22:23] gkc commented on #744
@VJag do you know answer to @JeremyTubongbanua's question?

[2022-11-18 02:21] sitaram-kalluri commented on #744
@JeremyTubongbanua: The way caching works for the public key is different from the shared key. TTR does not play a role in caching of the public keys. By design, Public keys get cached on executing the "plookup" verb for the first time. So the above is expected and not a bug.

[2022-11-18 06:32] VJag commented on #744
Yes. We do proactively cache public keys. However, if 'bypassCache' is set to true, plookup will always retrieve the value from the secondary of the owner of the public key.

Syntax for plookup to basspassCache: `plookup:bypassCache:true:phone@alice`

[2022-11-18 15:04] JeremyTubongbanua commented on #744
Thank you @VJag :)

[2022-11-21 12:13] sitaram-kalluri commented on #610
@gkc: Below is the flow chart of the proposed solution:

[code]

[2022-11-24 11:42] gkc opened #812 "Parallelise the unit and functional tests"
### Is your feature request related to a problem? Please describe.
At the moment, the unit tests, dart analyze and functional tests all run sequentially in a single job within the workflow, even though the functional tests do not depend on the unit tests

### Describe the solution you'd like
Unit tests and functional tests should run in separate jobs, in parallel

[2022-11-24 13:18] #812 closed, assigned to gkc

[2022-11-24 15:04] sitaram-kalluri commented on #742
The following PR fixes the issue: https://github.com/atsign-foundation/at_client_sdk/pull/814

[2022-11-24 16:02] sitaram-kalluri opened #815 "Update the Delete method to delete a local key"
### Is your feature request related to a problem? Please describe.

Update the at_client.delete method to delete a local key

### Describe the solution you'd like

Introduce an isLocal attribute to the delete method.

[2022-11-24 18:53] xavierchanth opened #816 "Rethinking the use of enums to represent state"
I noticed that the use of enums has become slightly problematic due to different features needing slightly different ways of expressing what is essentially the type of operation occurring for an event.

For example, we have the OperationEnum which has `update, delete` as well as the legacy `append, remove`.

In addition to that, in at_persistence_secondary_server, we have `UPDATE, DELETE, UPDATE_M

[2022-11-27 11:16] gkc commented on #735
Moving to PR51 when at_chops first release will be available

[2022-11-27 13:32] gkc opened #819 "No tests which verify NotificationServiceImpl's behaviour re monitor retry"
### Is your feature request related to a problem? Please describe.

There are currently no tests to verify the behaviour of `NotificationServiceImpl.monitorRetry()`

### Describe the solution you'd like

There are tests which verify the behaviour of `NotificationServiceImpl.monitorRetry()`

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-11-27 17:00] gkc commented on #741
Added a couple more tests during PR50 so burned down ~1SP this sprint.

[2022-11-27 17:02] gkc commented on #800
We did some initial work in PR50 but mostly this needs to roll over into next sprint

[2022-11-27 17:18] gkc commented on #787
Spiked changes in at_server, at_commons, at_lookup, at_client. No significant design oversights discovered, no major blockers. Spend about 2 days on this. During PR51 will focus on [writing the tests to clearly specify and verify the behaviour in detail](https://github.com/atsign-foundation/at_client_sdk/issues/821).

[2022-11-27 17:23] gkc opened #821 "Write unit (mostly) functional (some) and end-to-end (very few) tests to clearly specify the encryption future-proofing behaviour"
### Is your feature request related to a problem? Please describe.

(Part of the [encryption future-proofing](https://github.com/atsign-foundation/at_client_sdk/issues/785) project)
Having done [design](https://github.com/atsign-foundation/at_client_sdk/issues/786) and an [implementation spike](https://github.com/atsign-foundation/at_client_sdk/issues/787), now need to write all of the test cases

[2022-11-27 17:26] #787 closed, assigned to gkc

[2022-11-27 17:37] gkc commented on #815
@kalluriramkumar please can you describe why the delete doesn't work at the moment, and how your proposed solution will fix the issue?

[2022-11-27 17:40] gkc commented on #610
@kalluriramkumar Can you please link the relevant branch(es) and/or PR(s) to this ticket, and can you also please provide a brief summary of what's left to do?

[2022-11-27 17:41] gkc commented on #732
@purnimavenkatasubbu That is not why the tests are failing, the GitHub actions is using the workflow file of your working branch

[2022-11-27 17:43] gkc commented on #794
@VJag can you tick off whatever's been completed in the task list above, please?

[2022-11-27 17:45] gkc commented on #795
@VJag @srieteja @purnimavenkatasubbu Please can you (1) link branch(es) and/or PR(s) to this ticket and (2) provide brief summary of where we've got to and what's left to do?

[2022-11-28 02:19] sitaram-kalluri commented on #610
Completed changes in at_client SDK and pushed the changes to the following branch : [initial_pad_block_issue](https://github.com/atsign-foundation/at_client_sdk/compare/initial_pad_block_issue)

Pending work:
In the persistence secondary, at the moment, we do not have a way to get the latest commit entry for a given key to check if the key is synced to the cloud secondary. Also, the same at_commit

[2022-11-28 02:29] sitaram-kalluri commented on #815
@gkc: When we introduced the local key as a part of fixing the "latest notification id not to sync to cloud secondary", we only implemented local key changes for update verb and local-lookup verb (did not implement the changes to delete verb builder).

Changes required are:

at_commons:

1. Expose "isLocal" flag to the deleted verb builder
2. Refactor the delete verb builder to use "buildKey" meth

[2022-11-28 05:58] purnimavenkatasubbu commented on #795
Unit tests have been completed for the first 2 groups in the file sync_new_test.dart and the changes are available in the following PR [sync_unit_tests](https://github.com/atsign-foundation/at_client_sdk/pull/807).

Pending Work
1) To continue writing the remaining unit tests
2) Raise enhancement requests for the tests that need a change in the SDK.

[2022-11-28 07:36] #798 closed, assigned to sitaram-kalluri, VJag, purnimavenkatasubbu

[2022-11-28 08:49] VJag commented on #794
- On the client side, done with the design of test cases
- Implemented majority of the test cases (https://github.com/atsign-foundation/at_client_sdk/pull/807)
- On the server side design of the test scenarios is over. We are in the process of refining them. Implementation of the server tests will be taken up in this sprint. (https://github.com/atsign-foundation/at_server/blob/sync_unit_tests/pack

[2022-11-28 09:16] gkc commented on #794
Great! We can close this ticket as completed.

[2022-11-28 09:16] #794 closed, assigned to sitaram-kalluri, VJag, purnimavenkatasubbu

[2022-11-28 09:36] sitaram-kalluri commented on #742
The changes are published in at_client v3.0.45

[2022-11-28 09:36] sitaram-kalluri commented on #731
The at_persistence_secondary_server 3.0.43 version is consumed by at_client in v3.0.45 which fixes the issue.

[2022-11-28 09:36] #731 closed, assigned to sitaram-kalluri, srieteja

[2022-11-28 10:10] murali-shris commented on #788
Changes done in https://github.com/atsign-foundation/at_libraries/pull/253/files.
PR under review