[2020-11-18 15:26] lovung opened #7 "Operation timed out"
Hello, I'm trying to do [this challenge](https://atsign.com/flutter-vikings/). But I got the Operation timed out issue after finish this

[code]

This is the `at_ve_doctor.dart` results:
[code]

I have added DNS already
![image](https://user-images.githubusercontent.com/17726269/99550213-0bfc3c80-29ed-11eb-8bd8-be184682c241.png)

I come from Vietnam. Please help me to figure out this issue. Thanks

[2020-11-18 15:28] lovung commented on #7
About the `openssl s_client -connect localhost:64` step, I got success.

[code]

[2020-11-18 17:08] murali-shris commented on #7
do you have test.do-sf2.atsign.zone entry in your /etc/hosts ?
Can you please paste the output of

[2020-11-19 16:35] lovung commented on #7
@murali-shris Yes, I can not ping. Which IP do I need to link with this domain?

[2020-11-19 17:16] murali-shris commented on #7
you have point to your localhost ip
e.g
127.0.0.1	localhost
127.0.0.1	test.do-sf2.atsign.zone

[2020-11-20 14:04] lovung commented on #7
@murali-shris Thank you so much, I can connect now 👍

[2020-11-20 14:04] #7 closed

[2020-11-20 14:10] lovung opened #8 "Should have callback or stream to receive the message"
I read the code but don't see any method to receive the message automatically. For an application likes a chat app, this is the important method to replace the message queue (because we don't have any server in a p2p connection).

[2020-12-14 01:56] ksanty opened #1575 "Contact groups - Basic, Sharable"

[2020-12-16 12:25] sarika01 opened #11 "Authentication issue for same atsign on multiple devices"
Atsign used: @test_ga5 on staging server
For server logs, testing time: 16 Dec - 4:45pm to 5:30pm IST
Three devices (simulators) used

1. CRAM authentication on Device A and saved a copy of backup keys - everything smooth
2. Paired the second device, Device B with the backup keys - everything smooth
3. Added a contact each on Device A & B. Preference was sync IMMEDIATE, but had to restart the app

[2021-01-26 19:42] BermyToiga opened #29 "Found a typo in at_client_mobile/lib/src/keychain_manager.dart"
The function is named getAtSigMap and used throughout

[2021-02-08 15:28] nitesh2599 opened #36 "Instance of KeyNotFoundException"
After the app is left idle for sometime, for a new notification received, this error is thrown while decrypting the value.

The screenshot of the receiver's terminal & the log file of the receiver  is attached.

[ashish_key_colin.txt](https://github.com/atsign-foundation/at_client_sdk/files/5944639/ashish_key_colin.txt)
![Screenshot 2021-02-08 at 8 38 43 PM](https://user-images.githubusercontent.c

[2021-02-11 07:18] kalluriramkumar opened #39 "notify all throws invalid syntax exception duing encryption process"
The notifyAll process causes invalid syntax exceptions while looking up for a public key in the encryption process.

Log Snippet from AtSecondaryServer:

plookup:publickey@["@murali"]: Instance of 'InvalidSyntaxException'

[2021-02-15 14:09] murali-shris opened #42 "refactor metadata"
Additional attribute in metadata, requires code changes in too many places(SDK, persistence etc.,)
Refactor the code

[2021-02-16 01:29] kalluriramkumar commented on #39
The issue is fixed and tested. Notify All does not throw invalid syntax exception

[2021-02-16 01:29] #39 closed

[2021-02-16 03:29] murali-shris commented on #36
@nitesh2599 is this in @rrive app or @mosphere ?

[2021-02-16 05:42] nitesh2599 commented on #36
@murali-shris in @rrive app

[2021-02-18 11:10] sarika01 opened #46 "Error in getting key values"
Trying it on at_chat_flutter package example. @barbara🛠 has sent @colin🛠 three messages when the listener was not active. When online, trying to retrieve these three messages, only the first one came through and then there was error.
Adding the app logs and server logs.
[server_log_barbara.txt](https://github.com/atsign-foundation/at_client_sdk/files/6002360/server_log_barbara.txt)
[server_log_col

[2021-02-22 15:44] BermyToiga opened #48 "A couple issues I'm having when using atsign_authentication_helper"
Hard to articulate, but I'll do my best to explain.

1. After successful QR screen authentication and loading the next screen, I do not have access to the atClient Instance. I have to log out and re-authenticate with keychain in order to create polls, start monitor, or get the currentAtsign for example.

2. If the device already has an atSign in keychain that was authenticated in a different way (

[2021-02-22 16:07] Sameeraja-Bharathula commented on #48
While trying to build the android apk of takeavote, I am getting following issue. Did you encounter this issue?
BUILD FAILED in 44s
The built failed likely due to AndroidX incompatibilities in a plugin. The tool is about to try using Jetfier to solve the incompatibility.
Building plugin at_contacts_flutter...

[2021-02-22 16:34] BermyToiga commented on #48
Yeah. I'm not able to get the android version to build. I've had that problem for quite a while I'm not sure why. I've been focussing on getting it ready for iOS release and then trying to deal with the android issues

[2021-02-23 07:02] Sameeraja-Bharathula commented on #48
1 and 2 were fixed. It is related to the app service. changes have been made and pushed to a branch called multiple_atsign_poll. This has also fixed the android build fail issue.
Attaching the drive link for the fix scenario.
https://drive.google.com/file/d/11DKgtp6aT1niDCN38PGXWsxzbTgKbaYQ/view?usp=sharing

[2021-02-23 15:39] Sameeraja-Bharathula opened #52 "Response TimeOut Issue"
Ideally timeout is set to 30 seconds. Works fine when a atsign has got minimum amount of data provided internet is fine. If an atsign with large data is authenticated then it throws timeout exception.

[2021-02-23 15:59] BermyToiga commented on #48
Wow great thank you!  I will pull this now and test with it

[2021-02-23 16:49] BermyToiga commented on #48
Okay, I'm glad to see that I'm finally able to use the atClientService again!
The getAtClientForAtsign() function that I had was copied from at_settings repo back when the at_client_mobile version +4 came out and all those changes were needed. I'm not sure when this needed to update to how it is now, but I'd like to know how I can make sure to be aware of things like this that need to change in th

[2021-02-24 16:26] purnimavenkatasubbu opened #54 "Decrypting a private key which is stored as null throws cipher's error"
Decrypting a self key which is stored as null, throws cipher's size long error.

[2021-03-03 05:18] nitesh2599 opened #62 "Getting null in Decrypted data"
Got the issue on virtual environment
Sent a notification from "colin" to "bob".
The notification was successfully received on bob's end.
Bob sent colin an acknowledgment notification, after which colin updated the original notification sent.
This updated notification was not decrypted on bob's end and returned a null.

The screenshot and the server logs are attached.

<img width="1318" alt="Screen

[2021-03-05 04:29] #62 closed

[2021-03-08 10:16] nitesh2599 opened #68 "Invalid or corrupted pad block"
Got the issue on virtual environment.
For a key created from ashish to colin. Got the issue while decrypting.
The issue got solved after refreshing.
![Screenshot 2021-03-08 at 1 50 55 PM](https://user-images.githubusercontent.com/74917928/110307739-4255da00-8025-11eb-90d5-ac54bd190e4f.png)

Here are the server logs:
[ashish-invalid-pad-block.txt](https://github.com/atsign-foundation/at_client_sdk/

[2021-03-08 10:24] nitesh2599 opened #69 "Error in put: FormatException"
Getting these AtClientImpl exception sometimes while sending a notification (in put method) while running in virtual environment .

![Screenshot 2021-03-08 at 2 40 06 PM](https://user-images.githubusercontent.com/74917928/110308526-3f0f1e00-8026-11eb-8d34-4a343404e971.png)

![Screenshot 2021-03-08 at 2 40 22 PM](https://user-images.githubusercontent.com/74917928/110308556-4afae000-8026-11eb-98bf-e

[2021-03-08 14:28] nitesh2599 opened #70 "Instance of 'UnAuthenticatedException'"
Logged in with '@test_sunday2' and '@test_ga3' in staging server at 7:47 PM IST 8th March .
Sent a notification key from '@test_ga3' to 'test_sunday2', after which got this issue.

![Screenshot 2021-03-08 at 7 54 52 PM](https://user-images.githubusercontent.com/74917928/110334225-89a19200-8048-11eb-8a60-8d4c43132b22.png)

[2021-03-08 14:37] nitesh2599 commented on #69
Also facing it in staging

[2021-03-09 17:00] murali-shris commented on #11
@purnimavenkatasubbu please check whether this issue is reproducible  in latest build

[2021-03-10 12:56] purnimavenkatasubbu commented on #11
Tested the above scenario once with @persona and then with @buzz. Now There was no issue and I was able to authenticate to the app and check all the details.

[2021-03-17 08:59] sachins-geekyants opened #79 "Error in decrypt"
I was logged in as @darkcabaretuncertain , when I received any notification , I was getting error while decrypting the value.

I am facing this issue on production server .
On staging server I tried with different atsigns and it was working.

![decrypt_error](https://user-images.githubusercontent.com/74917871/111440912-d06c4780-872c-11eb-8b01-60befe5379aa.png)

[2021-03-18 05:21] ksanty opened #80 "PR2 - at_client calling verbs in a separate connection"

[2021-04-01 02:32] ksanty opened #98 "decrypt stream changes"

[2021-04-01 10:51] sachins-geekyants opened #99 "creator of key not able to access key"
An event atkey was created with key as "createevent-1617269573773"  by atsign - @christianhardcore with two members (@minimumburger60 and @reddeerconcerned) using **notify.all** method.

When I am trying to get all keys of event , it was not returning above created key for the creator whereas it was returning in the shared atsigns.

[code]

[2021-04-01 13:38] sachins-geekyants commented on #99
if we use  **atClientInstance.put** and **atClientInstance.notifyAll** together then keys are getting stored on both creator's and receiver's end.

[2021-04-01 13:38] #99 closed

[2021-04-03 15:39] jtmuller5 opened #102 "Outdated dependencies cause pub get to fail"
I would like to use the newest version of the auto_route package in one of my apps but when I try to run pub get, I see this error:

[code]

It looks like the at libraries have some older dependencies that conflict with those in auto_route. I attempted to fork the at_client library but some of the at libraries that it depends on also have older dependencies (at_utils for example).

[2021-04-05 02:02] jtmuller5 opened #103 "Invalid Syntax when running multiple get calls back to back"
I have an authenticated AtClient and if I try to get an AtKey once everything works fine:

[code]

But if I run the same method back-to-back like this:

[code]

I get an AtLookUpException with the error "Invalid syntax : Invalid syntax. e.g lookup:location@bob".

The same thing happens if I run the get call in a loop like this:
[code]

This is making it impossible to get read multiple keys at once

[2021-04-05 05:30] naresh0689 commented on #103
Hi Joe,

We have to use await before getNoteFromKey method call as it returns future.

Regarding the second part of the issue,
theirNotes.forEach((key) async {
      getNoteFromKey('@donkeypainful82:note_55b853e0-955e-11eb-9509-b7ac56496923@caribouillegal96');
    });

We have to use Future.forEach instead of List.forEach
Ex:

Future.forEach(theirNotes, (key) async {
    var result = await getNote

[2021-04-05 12:03] jtmuller5 commented on #103
Thanks @naresh0689! I wasn't aware of the Futrue.forEach syntax but that worked! I can close this issue.

[2021-04-05 12:03] #103 closed

[2021-04-06 09:13] cpswan opened #105 "GitHub Actions should be in default branch to be more visible to contributors"
But first we need to decide which branch should be the default (and take the opportunity to deprecate 'master').

[2021-04-06 09:17] cpswan opened #106 "Mismatch between comments and action"
https://github.com/atsign-foundation/at_client_sdk/blob/add-github-actions/.github/workflows/at_client_sdk.yaml has comments about `at_contacts` where the action is against `at_client`, which is likely to cause confusion (probably happened due to copy/paste of code from similar actions).

[code]

[2021-04-06 09:19] cpswan opened #107 "Action doesn't seem to be running unit tests yet."
Dependencies are installed with `dart pub get` and linting is done with `dart analyze`, but there's nothing to run the tests.

[2021-04-06 09:21] cpswan opened #108 "Why 9a04e6d73cca37bd455e0608d7e5092f881fd603 ?"
Action seems to be pinned to using a particular hash rather than a release:

[code]

[2021-04-07 07:17] nitesh2599 opened #109 "Re-establishment of outbound connection takes time & socket exception"
As the outbound connection is checked at an interval of 5 mins. So, if connection is out-bounded 1 min after a check, then it will take 4 mins more to reestablish the connection.
Any notification in between that time gets lost.

Sometimes we receive a Socket Exception. Not sure how to handle it & if it has any issues in the app.

![Screenshot 2021-04-07 at 12 40 24 PM](https://user-images.githubus

[2021-04-07 08:31] sarika01 opened #110 "Stream ack call failing due to encryption"
The file transfer in atmosphere basic app is failing due to encryption issue. The file transfer request is received correctly and upon acknowledging, the call fails in the receiver's end.
<img width="1432" alt="Screenshot 2021-04-07 at 1 58 51 PM" src="https://user-images.githubusercontent.com/12222326/113835570-b2cd5380-97a9-11eb-8ba7-e5c2533eba70.png">

[2021-04-07 08:33] sarika01 commented on #110
After failing to receive, it fails to send file as well.
<img width="1431" alt="Screenshot 2021-04-07 at 2 02 20 PM" src="https://user-images.githubusercontent.com/12222326/113835862-f627c200-97a9-11eb-8903-3885674d833e.png">

[2021-04-07 08:38] sarika01 opened #111 "Stream transfer callback is not called"
In atmosphere basic, after a stream transfer initiation, the byte transfer call get the number of byte transferred but the stream completion callback is not called.
<img width="1433" alt="Screenshot 2021-04-07 at 2 05 30 PM" src="https://user-images.githubusercontent.com/12222326/113836621-adbcd400-97aa-11eb-89cb-26048f5f8209.png">

[2021-04-07 08:41] sarika01 commented on #111
There is no error in the app logs. After the "sending stream receive" log, the app just stays idle for a long time.

[2021-04-07 09:31] murali-shris commented on #111
@sarika01 how many bytes are you receiving ? in the log I see total file size is 2604784..Are you getting these many bytes at the receiver ?

[2021-04-07 10:54] rishabhv1509 opened #112 "Multiple file transfer throws exception"
When trying to send multiple files in @mosphere pro this exception is thrown
![Screenshot 2021-04-07 at 4 24 03 PM](https://user-images.githubusercontent.com/16508786/113855467-b074f480-97bd-11eb-872e-d2d8fd01b864.png)

[2021-04-07 11:06] rishabhv1509 commented on #112
![Screenshot 2021-04-07 at 4 36 26 PM](https://user-images.githubusercontent.com/16508786/113856846-6856d180-97bf-11eb-84ba-07fd73e2aec1.png)

[2021-04-07 11:25] rishabhv1509 commented on #112
![Screenshot 2021-04-07 at 4 54 41 PM](https://user-images.githubusercontent.com/16508786/113858951-f59b2580-97c1-11eb-9813-cf00f4b54a1e.png)

[2021-04-07 13:19] sarika01 commented on #111
I didn't track it. But, in the simulator I am seeing this temp file which is incomplete transfer of 46.9Mb

![Simulator Screen Shot - iPhone 8 - 2021-04-07 at 18 48 30](https://user-images.githubusercontent.com/12222326/113872846-e328e800-97d1-11eb-9a20-5e62def53c8d.png)

[2021-04-07 13:23] sarika01 commented on #111
There is one issue of file size being transferred i.e. test_transfer of 19 bytes was successful (This is on current dev_env branch changes). Then there is other random issue (on master / published package) where one image is successfully transferred and fails for another in similar scenario (i.e. file transferred in bytes is visible but completion callback is not called).

[2021-04-07 14:57] ksanty opened #113 "Status of shared data"
- [x] Code changes
- [x] Unit testing
- [x] QA

[2021-04-07 15:12] ksanty commented on #113
https://github.com/atsign-company/server/issues/13

[2021-04-07 15:31] ksanty opened #114 "Stream transfer call back"
https://github.com/atsign-foundation/at_client_sdk/issues/111

[2021-04-07 16:03] ksanty opened #115 "Public key change- Detection and action - Design and Impl"

[2021-04-07 16:09] #54 closed

[2021-04-07 16:09] #52 closed

[2021-04-07 16:18] #48 closed

[2021-04-07 16:19] #46 closed

[2021-04-08 06:10] sarika01 commented on #69
Still facing the issue. Need to retest when ability to open multiple outbound connections is provided.

[2021-04-08 15:21] murali-shris commented on #29
https://github.com/atsign-foundation/at_client_sdk/commit/65ff51a6126e0ba96c8db8bbd574eae1cccb47fd

[2021-04-08 16:08] murali-shris commented on #109
Issue is fixed in "stream_encryption" branch and currently being tested

[2021-04-09 04:14] ksanty opened #118 "Multiple outbound connection"
- [x] Code changes
- [x] QA
- [x] fix issue reported by Nitesh

[2021-04-09 04:28] ksanty opened #119 "batch verb in at_client_sdk"
Naresh - need to discuss with Jagan @naresh0689

[2021-04-09 04:31] ksanty commented on #119
https://github.com/atsign-foundation/at_client_sdk/issues/46

[2021-04-09 15:41] cpswan commented on #102
Hi @jtmuller5 I know you've been talking to the team on [our Discord](https://discord.com/invite/55sHTQFxfz) about this, but just wanted to get something here in case others come across this issue because they're experiencing similar issues.

Cross library dependency issues bedevil any sufficiently complex and popular platform, but we're in the process of levelling up our ability to test across a

[2021-04-14 16:40] murali-shris commented on #111
fixed and pushed to dev_env branch

[2021-04-15 10:02] sarika01 commented on #110
Issue is resolved with the latest code on dev_env branch.

[2021-04-15 10:03] sarika01 commented on #111
@murali-shris Issue is resolved with the latest code on dev_env branch.

[2021-04-15 10:31] sarika01 commented on #110
Encountered it again with the same code after a few restart of the app.

![Uploading Screenshot 2021-04-15 at 4.00.51 PM.png…]()

[2021-04-16 13:25] murali-shris commented on #98
issue fixed

[2021-04-16 13:26] #98 closed

[2021-04-16 13:34] #106 closed

[2021-04-16 13:34] #108 closed

[2021-04-16 13:35] #107 closed

[2021-04-16 13:45] #29 closed

[2021-04-19 06:17] naresh0689 commented on #118
Testing is pending.

[2021-04-19 06:21] #80 closed

[2021-04-19 06:21] naresh0689 commented on #80
Duplicate issue.
https://github.com/atsign-foundation/at_client_sdk/issues/118

[2021-04-19 10:53] murali-shris commented on #111
bug found by Sarika in transferring multiple files is fixed in dev_env..Closing this issue.

[2021-04-19 10:53] #111 closed

[2021-04-19 11:45] sachins-geekyants commented on #109
after auto restart of outbound connection , I am getting socket exception

<img width="668" alt="Screenshot 2021-04-19 at 12 58 45 PM" src="https://user-images.githubusercontent.com/74917871/115230934-9d094800-a132-11eb-9f5a-a608458ca717.png">

[2021-04-19 19:02] ksanty opened #124 "Collapse all working branches onto a trunk"
- [x] Move at_client_sdk to trunk - Sprint 10
- [x] Move at_server to trunk - Sprint 10
- [ ] Create a release tag and CI/CD,deployment pipeline - Sprint 10
- [x] Move libraries - TBD
- [x] Move widget to trunk - TBD

*List is not inclusive which we need to determine and plan

[2021-04-19 19:07] ksanty commented on #124
- [ ]  Move at_client_sdk to trunk - Sprint 10
- [ ] Move at_server to trunk - Sprint 10
- [ ] Create a release tag and CI/CD,deployment pipeline - Sprint 10
- [ ] Move libraries - TBD
- [ ]  Move widget to trunk - TBD

[2021-04-19 19:27] ksanty opened #125 "Run existing unit and functional tests as part of PR prior to merge approval. Target is to have tests run in <15m to provide quick feedback"

[2021-04-19 19:31] ksanty opened #126 "Have a checklist for the commit-deploy process, inc any docs updates."

[2021-04-19 19:32] ksanty opened #127 "Identify and minimise manual steps in the flow"
- [ ] Document the current manual steps

[2021-04-19 19:33] ksanty commented on #127
- [ ] Document the current manual steps

[2021-04-19 19:36] ksanty opened #128 "Start collecting data on test pass/fail (whether tests are automated or not) so that we know which tests are the important ones that are catching bugs"
- [x] Purnima to come up with test cases

[2021-04-19 19:37] ksanty opened #129 "Wrap up trunk based work"
- [ ] Cut releases for what we presently have on repo’s keeping in mind we are moving to a branch based trunk
- [ ] @colin prefers feature based releases (TBC)
- [ ] @kevin repo function will determine plan
- [ ] Release strategy
- [ ] Beginner friendly labels (Chris, Kim, Anthony)

[2021-04-19 23:22] ksanty opened #130 "Prepare for the next release and the mechanics for doing that"
- [ ] Need to decide what makes the next release the next release (mechanics)
- [ ] Need to decide how we cut a release from trunk to live (dev-stage-prod)
- [ ] Different from a patch, major and minor release

[2021-04-19 23:26] ksanty opened #131 "Create a plan for null safety - Spike"

[2021-04-21 16:51] murali-shris commented on #131
- [x] Run migration tool in at_tools
- [x] Run migration in at_lookup and at_server_status
- [x] Prepare plan to migrate rest of the repos

[2021-04-21 17:02] naresh0689 commented on #110
Not able to reproduce the issue. @sarika01 Could you please try again and let us know the steps to reproduce.

[2021-04-23 13:57] sarika01 opened #132 "The client fails to connect to secondary"
Sometimes, an onboarding flow throws error with an already onboarded atsign. On app restart, it is onboarded successfully.

<img width="1112" alt="Screenshot 2021-04-23 at 7 12 42 PM" src="https://user-images.githubusercontent.com/12222326/115881902-dc54d300-a469-11eb-80d7-4d1a2e743a5e.png">

[2021-04-26 05:14] purnimavenkatasubbu commented on #118
Tested using unit tests and it's working fine.

[2021-04-26 07:16] murali-shris commented on #131
Null safety - migrated at_libraries/at_lookup, at_libraries/at_server_status
at_persistence_secondary has dependency on utf7 dart package which doesn’t have null safe version. Manually migrated utf7 and added it to at_libraries/dart_utf7. Facing compile issues after migrating at_persistence_secondary.

[2021-04-26 07:17] murali-shris commented on #102
- [x] Upgrade 3rd party dependencies. Pubspec changes
- [x] Test in staging environment
- [x] Push to production

[2021-04-27 03:20] sitaram-kalluri commented on #127
Documented the manual steps that can be automated in the following link : https://docs.google.com/document/d/1fbZPobMMw2znSir-NxtpBm3AJ1sUHbuUl1Uih9iwbdA/edit#

[2021-04-27 03:20] #127 closed

[2021-04-27 03:58] murali-shris commented on #102
at_client 1.0.1+9
at_client_mobile 1.0.0+10
at_lookup 1.0.0+7
@jtmuller5 We have upgraded the package version in our libraries. Please verify

[2021-04-28 14:37] purnimavenkatasubbu commented on #128
Documented the tasks which are automated and tests that usually fail.

https://docs.google.com/spreadsheets/d/1kHCNSQvKT8KuqRlwlHlqCuTpuWEfCIPOKYkufxr6CNo/edit#gid=1520041462

[2021-04-29 04:24] Sameeraja-Bharathula opened #141 "Publish @buzz to appstore and playstore"
- [x] hosting buzz pages
- [x] appstore doc changes related submission
- [x] submit buzz to apple Store for beta review and main review

[2021-04-29 05:33] purnimavenkatasubbu commented on #125
Functional tests are running as part of PR in the at_server repo (runs in less than 15m)

[2021-04-29 05:34] #125 closed

[2021-04-30 12:31] #128 closed

[2021-05-03 03:46] sitaram-kalluri commented on #126
Added checklist items to the following document: https://docs.google.com/document/d/1fbZPobMMw2znSir-NxtpBm3AJ1sUHbuUl1Uih9iwbdA/edit

[2021-05-03 03:46] #126 closed

[2021-05-03 05:49] murali-shris commented on #131
at_persistence migration done..at_client migration in progress and will be completed in sprint PR11

[2021-05-03 05:49] #131 closed

[2021-05-03 06:02] sitaram-kalluri commented on #130
Add items related to the task in following link: https://docs.google.com/document/d/1fbZPobMMw2znSir-NxtpBm3AJ1sUHbuUl1Uih9iwbdA/edit

[2021-05-03 06:02] #130 closed

[2021-05-03 12:01] sitaram-kalluri commented on #124
Moved at_tools, at_libraries, at_server, at_client_sdk and at_widgets to trunk-based development.

[2021-05-03 12:03] #141 closed, assigned to Sameeraja-Bharathula

[2021-05-03 12:07] murali-shris commented on #118
atlookup exception reported by Nitesh has to be fixed

[2021-05-03 20:21] ksanty opened #143 "Null safety"
- [x] complete at_client
- [x] test apps depending at_client
- [x] server repo migration
- [x] run functional tests
- [x] test apps using null safety branch

[2021-05-03 20:23] ksanty opened #144 "Build out and start using pipelines in Github actions"

[2021-05-03 20:29] ksanty opened #145 "Functional tests around caching of shared data with images"
- [x] Dart libraries
- [x] Sharing of data
- [x] Binary data Sharing

[2021-05-03 20:34] ksanty commented on #102
@aannttoo is going to ping Joe to see if we can close.

[2021-05-03 20:35] ksanty commented on #124
@kalluriramkumar @Sameeraja-Bharathula - Please update status as to when this will close.  We are moving to PR11 as of today.

[2021-05-04 04:52] sitaram-kalluri commented on #124
The open item is carried to the next sprint - https://github.com/atsign-foundation/at_client_sdk/issues/129. Closing this issue.

[2021-05-04 04:52] #124 closed

[2021-05-04 23:57] ksanty opened #146 "Wavi with new logo, colors and a couple of icons (1 SP, PR11)"
V2 wavi launch 6/10/21

Must take into account:
1. We have work still happening on the current @persona app so changes will need to be coordinated with that.
2. We can stage these changes in the stores for testing.
3. Ashish will be there psrson implementing the new atsign.directory design.
4. We can can stage these changes for testing as well.

- [x] Logo tile, reverse, jpg, svg, png - Rocky by 5

[2021-05-07 09:40] sachins-geekyants opened #148 "not receiving notifications"
I was using @adorabledinosaur and @houseofwaxrural atsigns.

on sending file from @adorabledinosaur to @houseofwaxrural:
  - I receive notification with key as "file_shared_key" and not the actual file notification that was sent.

on sending second file to @houseofwaxrural:
  - again "file_shared_key" key notification was received followed by the file notification.

Sometimes we get only "file_sha

[2021-05-07 09:43] sachins-geekyants commented on #148
when trying to send file from @houseofwaxrural to @adorabledinosaur I was not able receive any notification not even "file_shared_key" notification.

[2021-05-07 10:32] murali-shris commented on #148
@sachins-geekyants this scenario was tested in which environment ?.please attach app/server logs.

[2021-05-07 12:04] sachins-geekyants commented on #148
@murali-shris this was on production environment.

[2021-05-07 12:28] sachins-geekyants commented on #148
on app side I could not capture any logs as I was not getting any notification on receiving end.

[2021-05-07 14:13] murali-shris commented on #143
server repo migration in progress

[2021-05-07 17:49] murali-shris commented on #148
logs from prod on receiver end:
[code]

[2021-05-11 22:31] jtmuller5 commented on #102
Looks good, thanks everyone!

[2021-05-16 16:40] murali-shris opened #150 "SPIKE - Unreliability of sync functionality, monitor - all repo's (Murali, Colin 8 sp's)"

[2021-05-16 16:45] murali-shris commented on #150
https://docs.google.com/spreadsheets/d/1Mu6LMfSxnSquEcwA2AKRyYLRlTqfi5Vz4MCa585wyec/edit?usp=sharing
https://app.diagrams.net/#G1vNM857gaWonKK2kXvVIoCsH4OxqhWCaz

[2021-05-17 04:45] sitaram-kalluri commented on #144
Added github actions for trunk branch and a trigger to run action on creation of a tag.

[2021-05-17 14:16] purnimavenkatasubbu commented on #145
Completed writing tests and pushed to the branch "cachedData_tests"

[2021-05-17 14:16] #145 closed, assigned to purnimavenkatasubbu

[2021-05-17 15:13] murali-shris commented on #143
reassigning story points to move to trunk.
Will be moved to trunk..once current trunk is released

[2021-05-17 15:18] #144 closed, assigned to cpswan, sitaram-kalluri

[2021-05-17 15:20] #150 closed, assigned to murali-shris, VJag

[2021-05-17 15:21] murali-shris commented on #113
Have to merge PR from feature branch to trunk

[2021-05-17 15:30] murali-shris opened #151 "Stream verb implementation for connection drops"
[Pending items for release doc](https://docs.google.com/spreadsheets/d/1wvwBLAdv7z8b699oHHlqmwDnoZCiob_RV0WTVSYTtLo/edit?ts=60edaf71#gid=0)

[2021-05-17 15:34] cconstab opened #152 "@Doctor.. Build out a tool/service that allows Developers to know if their environment is correctly set up. Offer hints to fix any issues found."
- [ ] Start with base code in tools in  [tools] (https://github.com/atsign-foundation/at_tools/tree/trunk/at_ve_doctor)

[2021-05-17 15:36] murali-shris opened #153 "Sync design improvement for connection drop"

[2021-05-17 15:37] murali-shris opened #154 "Monitor design improvement for connection drop"

[2021-05-17 15:38] murali-shris opened #155 "Notify design improvement for connection drop"
- [x] Update at_client spec with new method signature

- [x] Implement new notify method with function callbacks

- [x] Dev testing

- [x] Merge into sdk_refactoring branch

[2021-05-17 15:43] murali-shris commented on #8
@sarika01 Please add at_chats widget version available in pub.dev and close this issue

[2021-05-17 15:53] murali-shris commented on #11
@sarika01 are you still facing this issue ?

[2021-05-21 00:43] cconstab opened #157 "Update filebin2 and migrate to production AWS/GCP cluster"
Filebin2 is the backend for @mospherePro

- [x] Move to atsigncompany filebin2 dockerhub rep
- [x] create service on existing GCP cluster
- [x] create service on new AWS cluster
- [x] update to latest filebin2 binary
- [x] test test test

[2021-05-24 17:39] tinashe404 opened #1574 "Inconsistent contacts across apps"
People have noticed that their contacts are not consistent across the apps.

Examples of the issue:
1. On a new atsign, someone added contacts into @mosphere pro. The contacts appeared in @buzz but they did not appear in @mosphere or @rrive
2. Has contacts in @mosphere but had to add them all individually into @mosphere pro using the same atsign

**Expected behavior**
The contacts should be sync'd

[2021-05-26 14:20] nitesh2599 opened #161 "Unable to jsonDecode any received notification"
The atsign `@breakabledreams` is not able to jsonDecode any received notification while other atsigns can. It throws this error

`@breakabledreams` is a production atsign and all the notifications were transferred on 26th May 12:00 PM to 8:00 PM IST on `arrive` app.

![Screenshot 2021-05-26 at 7 47 40 PM](https://user-images.githubusercontent.com/74917928/119676268-5b6b6b80-be5b-11eb-9f59-5bf55528

[2021-05-27 08:53] Sameeraja-Bharathula opened #162 "Code optimization of at_client_sdk to inline with new changes."
at_client_sdk needs some optimisation to avoid some unnecessary calls to the server and to handle backup key files in efficient way.

Covered in other issue cards.

[2021-05-28 12:43] murali-shris commented on #153
- [x] design
- [x] implementation and address review comments
- [x] testing

[2021-05-28 12:45] murali-shris commented on #154
- [x] design
- [x] implementation and address review comments
- [x] testing

[2021-05-28 12:46] #143 closed, assigned to murali-shris

[2021-05-31 14:36] sarika01 opened #1620 "Incomplete authentication leaves the app locked"
Sometimes an incomplete authentication flow leaves the app locked on iOS devices.

Attached is a screenshot of a case where the authentication failed but the atsign was added to the keychain.

<img width="1431" alt="Screenshot 2021-05-27 at 4 01 04 PM" src="https://user-images.githubusercontent.com/12222326/120208204-d1504800-c24a-11eb-87ea-2ded1f4387c7.png">

After getting this error, when the ap

[2021-05-31 14:48] sarika01 commented on #1620
An added feature in at_onboarding_flutter to clear such atsign would be helpful.

[2021-06-01 13:53] murali-shris commented on #153
testing through app is pending

[2021-06-01 13:57] murali-shris opened #165 "at_client sdk changes for @mosphere - unique AES key for each transfer"
- [x] SDK changes
- [x] dev testing
- [x] atmosphere app testing with new changes
- [x] merge to trunk

[2021-06-01 14:23] sitaram-kalluri commented on #129
1. The trunk branches are created in all following repository's : at_server, at_client_sdk, at_tools and at_libraries.
2. GitHub actions in place that you would dart lint rules and unit tests.
3. Run functional tests in at_client_sdk and at_server in GitHub actions
4. In at_server, build and push at_virtual_env and secondary docker image to docker hub.
5. Configure root URL for staging environment

[2021-06-01 14:23] #129 closed

[2021-06-01 16:35] sarika01 commented on #112
The multiple file transfer is now moved to Filebin and not using stream.

[2021-06-01 16:35] #112 closed

[2021-06-01 16:39] sarika01 commented on #8
Latest version of chat library on pub.dev:
at_chat_flutter: ^1.0.1

[2021-06-01 16:39] #8 closed

[2021-06-04 21:09] cconstab opened #166 "Safe way to move/save keys from device to device. With less pain or interaction."

[2021-06-04 21:11] cconstab opened #167 "Way to notify non @sign holders of information being shared by an @sign holder."
Needs to be architected

[2021-06-08 00:44] pcutillas opened #169 "Bypassing the cached version of a key"
**Is your feature request related to a problem? Please describe.**

Sometimes it would be nice to get the most recent version of a key regardless of whether it is cached or not. Currently, this can be done using a low TTR, but because the TTR job runs once a day, it is functionally limited to multiples of 24 hours.

**Describe the solution you'd like**

I think the best solution would be to add an

[2021-06-08 08:05] cpswan commented on #169
Thanks @Frenchman98 - this looks like a good one for our daily architecture discussion.

[2021-06-08 11:19] VJag commented on #169
Thanks @Frenchman98. We will get back to you on this.

[2021-06-08 11:27] sitaram-kalluri opened #171 "Automated Git release tagging on version increase in pubspec.yaml"
**Is your feature request related to a problem? Please describe.**
At the moment, for a snapshot source code of packages related to pub dev, git release has to be tagged manually.

**Describe the solution you'd like**
A GitHub action that would automatically cut the release in GitHub on change in version in pubspec.yaml.
The GitHub action should be in the following repositories:
1.  at_client_sdk

[2021-06-08 22:39] pcutillas commented on #169
No problem, sounds good!

[2021-06-13 15:58] #154 closed, assigned to murali-shris, VJag

[2021-06-13 16:09] #153 closed, assigned to murali-shris, VJag

[2021-06-13 16:10] murali-shris commented on #155
@naresh0689 please update status on this

[2021-06-13 16:11] murali-shris commented on #151
- [x] design
- [x] Explore AES codec
- [x] ability to encrypt and decrypt fixed file chunks
- [x] changes in server
- [x] changes in SDK
- [x] testing
- [x] merge server to trunk and release
- [ ] merge at_client to trunk and publish

[2021-06-13 16:12] murali-shris commented on #11
@Sameeraja-Bharathula please update status on this

[2021-06-14 05:19] Sameeraja-Bharathula commented on #11
Tested with @wavi and seems to be working fine. Will test with @rrive application.

[2021-06-14 06:48] Sameeraja-Bharathula commented on #11
Tested with @rrive application. Everything seems to be working fine. The step 3 is also working fine. Sync will happen only if any put or delete operation is made. Added contact 1 on device A and with adding contact 2 on device B. It synced both contact1 and contact2. Similarly on device A added some event then it synced all contacts.

[2021-06-14 10:13] cpswan commented on #157
We have a fork now at [atsign-company/filebin2](https://github.com/atsign-company/filebin2). Default branch is trunk (leaving master to track upstream). A GitHub Action has been added to generate a Docker image at [atsigncompany/filebin2](https://hub.docker.com/repository/docker/atsigncompany/filebin2/tags?page=1&ordering=last_updated).

A new AWS account has been created for the EKS cluster and R

[2021-06-14 13:20] #11 closed

[2021-06-14 14:11] murali-shris commented on #165
have to coordinate with atmosphere team for perfecting the code and testing

[2021-06-14 14:42] #155 closed, assigned to naresh0689, murali-shris, VJag

[2021-06-14 15:17] cpswan commented on #157
@cconstab do you want this in GCP **and** AWS? I've been working on the assumption of **A** prod service.

[2021-06-14 15:37] #162 closed, assigned to nobody

[2021-06-14 15:51] murali-shris opened #174 "test refactored SDK code with @buzz"
- [x] at_buzz

[2021-06-14 23:25] cconstab commented on #157
It was in AWS as it was free as we were building/testing. In an ideal world this should be in GCP as prod service.

We generally leave AWS to test and backup

[2021-06-16 09:46] naresh0689 commented on #69
Not able to reproduce the issue.
Verified with @nitesh2599  as well. After dedicated connection changes in at_client_sdk, they are not facing this issue.
We will close the issue once changes are available in master and published to pub.dev.

[2021-06-16 12:45] cpswan commented on #157
@cconstab can you please enable billing for the Filebin2 project in GCP (or make me a billing account admin so I can do that).

[2021-06-16 14:52] murali-shris commented on #165
waiting for Sarika  & team to give feedback on this PR
https://github.com/atsign-foundation/at_client_sdk/pull/173/files

[2021-06-17 10:48] murali-shris commented on #165
feedback from Sarika:
1. File transfer object should be returned to the sender.
2. Status of put for each sharedWithAtsign should be returned to the sender. This will help to resend if required.
3. The status of file upload should also be shared.
4. There can be multiple files sent in a single container. So, the input of uploadFile function should be List, not single file.

[2021-06-22 09:58] purnimavenkatasubbu opened #179 "Switching off network throws errors in the @ buzz app"
- [x] Multiple connections are being created

After switching on the network back, Multiple connections are being created and server is exiting with the following error.

Server Logs

FINER|2021-06-28 17:55:45.526536|AtSecondaryServer|In _listen - clientSocket.peerCertificate : null

FINER|2021-06-28 17:55:45.612642|AtSecondaryServer|In _listen - clientSocket.peerCertificate : null

FINER|2021-06-

[2021-06-23 14:57] buzz commented on #179
Please stop mentioning my username. Thank you

[2021-06-23 15:02] buzz commented on #174
Please stop mentioning my username. Thank you

[2021-06-24 11:41] anthonyvprakash opened #183 "atsign.dev 2.0 : Content needed for Persistence under Services"
https://devstaging.atsign.wtf/docs/functional_architecture/services/

[2021-06-24 11:43] anthonyvprakash opened #184 "atsign.dev 2.0 : Content needed for Onboarding under Services"
https://devstaging.atsign.wtf/docs/functional_architecture/services/

[2021-06-24 11:45] anthonyvprakash opened #185 "atsign.dev 2.0 : Content needed for P2P Steams under services"
https://devstaging.atsign.wtf/docs/functional_architecture/services/

[2021-06-24 11:48] naresh0689 commented on #68
Tried different scenarios with the latest trunk changes. Not able to reproduce the issue. @nitesh2599 Please verify from your side as well and close the issue.

[2021-06-24 11:59] anthonyvprakash opened #186 "atsign.dev 2.0 : Content needed for @protocol verbs"
https://devstaging.atsign.wtf/docs/functional_architecture/verbs/

- [x]  need to decide where we have content, sample code and descriptions for the verbs ( on Github or Pub.dev)
- [x]  Once decided we need content for all the verbs in the verb tree ( refer to https://docs.google.com/document/d/19A0g0AIJU3x2MiwgRgcguGmimrNLr03CdmZg0RdnU_Y/edit#heading=h.o9ky6rcbno3i)
- [x]  Once content is up, we

[2021-06-25 12:48] sitaram-kalluri commented on #171
Found a GitHub actions plugin that publishes the packages to pub.dev upon increment in the version in pubspec.yaml. Tried to publish a demo package and found an issue. Raised issue against the plugin.

https://github.com/k-paxian/dart-package-publisher/issues/14

[2021-06-28 08:45] cpswan commented on #157
We now have two deployments with corresponding services and ingress running on the filebin2 GCP project:

* filebin2 - using older fork of code that works with Google Cloud Storage
* filebin2upstream - using later code that presents presigned URLs for S3

We're now ready for test,test,test

[2021-06-28 12:01] #165 closed, assigned to sarika01, murali-shris

[2021-06-28 12:26] purnimavenkatasubbu commented on #174
Tested at_buzz with the sdk_refactoring branch. Currently, a bug on this is open

[https://github.com/atsign-foundation/at_client_sdk/issues/179]

[2021-06-28 12:46] purnimavenkatasubbu commented on #179
After switching back the network, Multiple connections are being created. Assigning back to the developer

[2021-06-28 13:04] murali-shris commented on #110
Closing the issue since it is no longer reproducible

[2021-06-28 13:04] #110 closed

[2021-06-28 13:10] murali-shris commented on #70
@nitesh2599 are you still facing this issue ?

[2021-06-28 13:11] #69 closed

[2021-06-28 13:14] murali-shris commented on #79
@sachins-geekyants are you still facing this issue ?

[2021-06-28 13:16] murali-shris commented on #109
issue fixed in sdk_refactoring branch. Keeping this issue open till code is available in trunk

[2021-06-28 13:18] #174 closed, assigned to purnimavenkatasubbu

[2021-06-28 13:20] murali-shris commented on #151
POC code checked into
https://github.com/atsign-company/murali-snippets/tree/master/stream

[2021-06-28 15:45] ksanty opened #189 "Automate doc published to prod and dev website"
Update dart docs and when released gets updated on website

[2021-06-29 19:13] TylerTrott opened #1619 "Error Authenticating on IOS Simulator"
**Describe the bug**
When uploading an atKeys.zip of a prod level atsign, console throws error => |QR Scan|Uploading backup zip file throws RangeError (index): Invalid value: Only valid value is 0: 1

**To Reproduce**
Steps to reproduce the behavior:
1. First I 'Type in activated atSign into a TextField to pass atSign through Onboarding Parameter'
2. Then I 'Upload backup key .zip file'

**Expecte

[2021-07-01 14:41] cpswan commented on #157
Testing reported as complete (using hybrid GCP/S3 infrastructure) by @sarika01 in engineering stand-up.

I will turn down the pure GCP stack before closing this.

[2021-07-01 14:44] cpswan commented on #157
Pure GCP services have been turned down.

[2021-07-01 14:44] #157 closed, assigned to cpswan, sarika01

[2021-07-01 14:54] sachins-geekyants commented on #79
@murali-shris I haven't checked it recently , I will get back to you after testing it on trunk branch.

[2021-07-07 07:26] sachins-geekyants opened #194 "downloaded files are is encrypted form"
On accepting stream request in atmosphere basic , the downloaded file was in encrypted from.
I was sending file from @ blindtahugejrot to @ adorabledinosaur , these are production atsigns.

**To Reproduce**
1. select files, atsign and send request
2. after accepting on receiving end file should be available on your device's storage
3. sometimes files remains in encrypted form and sometimes it's de

[2021-07-07 16:10] sarika01 commented on #1619
Both ".zip" and ".atKeys" extension files seem to be working fine with at_onboarding_flutter v2.1.0
@TylerTrott  Can you please check with this version?

[2021-07-08 13:18] purnimavenkatasubbu commented on #179
Tested both the issues with the sdk_refactoring branch. Now the issue has been fixed. Hence closing the issue

[2021-07-08 13:18] #179 closed, assigned to purnimavenkatasubbu

[2021-07-09 14:35] sitaram-kalluri commented on #171
Shared the logs with the author, waiting for a response back from the author. Alternatively looking for other plugins.

[2021-07-12 14:19] murali-shris commented on #151
dev testing is done. logic to code when to initiate stream resume from client pending

[2021-07-12 15:34] ksanty opened #199 "Analyse what it takes to makes RSDK backwards compatible."
[Analysis here](https://docs.google.com/spreadsheets/d/1YezL1X5ucz2R9SYHfU8m58eLhEsRhUUb3VMZqrWjQIo/edit?ts=60edba9c#gid=0)

[2021-07-12 15:42] ksanty opened #200 "Apps writing to their namespace only - Design"

[2021-07-12 16:52] ksanty opened #201 "Create content for AtSign.Dev"
Individual issues cards with detailed lists:

- [x] #186
- [x] #185
- [x] #184
- [x] #183
- [x] https://github.com/atsign-foundation/at_libraries/issues/78

[2021-07-12 18:48] ksanty commented on #171
Hi @kalluriramkumar we weren't able to hear you on this mornings sprint call.  Can you please provide status?  Is the above still current?

[2021-07-13 13:24] purnimavenkatasubbu opened #202 "shared key status remains in SHARED_WITH_NOTIFIED when ttr is included while sharing the key"
**Describe the bug**
When an atsign shares a key with another atsign with ttr set, The status of the shared key remains in SHARED_WITH_NOTIFIED  state even after the receiver doing a lookup.

**To Reproduce**
Steps to reproduce the behavior:
1. First I share a key from atsign A to atsign B

@ alice@update:ttr:10000:@ bob:key_cache@ alice caching!!

2. Then do a lookup:all in the sender's end to ch

[2021-07-13 13:36] purnimavenkatasubbu opened #203 "Shared key status is null, if a key is shared with an non-existing atsign"
- [ ] Shared key status is null

**Describe the bug**
The status of the key  which is shared to an atsign which doesn't exist is null

**To Reproduce**
Steps to reproduce the behavior:
1.1. First from atsign A share a key to an atsign C (which doesn't exists)
2. Then llookup:all for checking the key status

branch: sdk_refactoring

- [ ] Notification remains in queue after the above scenario

Step

[2021-07-16 18:13] ksanty opened #205 "Documentation Needed - at_client scores (Scores Tab)"
Need content under [scores tab](https://pub.dev/packages/at_client/score)

- [ ] support multiple platforms
- [ ] follow dart file conventions

[2021-07-19 09:01] cpswan commented on #189
Is this a dupe of https://github.com/atsign-foundation/at_libraries/issues/77 and if not what's needed here that's not been done already?

[2021-07-19 14:44] nickelskevin opened #1573 "Add a generic Dart library for notifications"
**Is your feature request related to a problem? Please describe.**
As described in this [document](https://docs.google.com/document/d/1z8xAjqJQ3NtqYOAhhgIvQULGeF9ZL7EtwqnGSjBjiXU/edit#), there is an opportunity to provide an end-to-end encrypted, peer-to-peer, surveillance free notification service.

**Describe the solution you'd like**
The approach needs to be discussed in the architecture call.

[2021-07-20 04:34] ksanty opened #208 "Review for Missing Documentation - at_client (API Reference)"
- [ ] Review for missing documentation, right nav under documentation and [API reference](https://pub.dev/documentation/at_client/latest/) (samples and examples)
- [ ] Broken [documentation link ](https://atsign.dev/at_docs-dev_env/at_client/index.html)needs to be fixed

Please review library links as well (current, samples and examples)
LIBRARIES

- [ ] [at_client](https://pub.dev/documentation/a

[2021-07-21 05:28] purnimavenkatasubbu opened #209 "Shared key status isn't being updated to local_secondary"
**Describe the bug**
Status of the shared key is not being updated to the local_secondary and remote_secondary

**To Reproduce**
Steps to reproduce the behavior:
1. Run the test of shared_key_status in at_client tests
2. Then check the status of the key

**Expected behavior**
Status of the key should be updated to local_secondary and then to remote_Secondary

**Actual behavior**
Status is null

Br

[2021-07-21 06:54] sitaram-kalluri commented on #209
Fixed the issues in the following commit id's
at_client_sdk: https://github.com/atsign-foundation/at_client_sdk/commit/e55164e8937dab9522416cb9852cfd359b9e6436
at_server: https://github.com/atsign-foundation/at_server/commit/36eaa813868d3488a3471b214c7427e615436c65

[2021-07-21 12:46] cpswan commented on #189
Established to be a dupe - closing.

[2021-07-21 12:46] #189 closed, assigned to cpswan

[2021-07-21 14:49] purnimavenkatasubbu commented on #209
Tested the bug. Now I could see the status being updated.

Metadata{ttl: null, ttb: null, ttr: null,ccd: null, isPublic: false, isHidden: false, availableAt : null, expiresAt : null, refreshAt : null, createdAt : 2021-07-21 14:47:02.153599Z,updatedAt : 2021-07-21 14:47:02.153650Z,isBinary : null, isEncrypted : null, isCached : false, dataSignature: null, sharedKeyStatus: LOCAL_UPDATED}

llookup:al

[2021-07-21 14:49] #209 closed, assigned to purnimavenkatasubbu

[2021-07-22 02:54] ksanty opened #212 "Missing content - at_client_mobile (Scores Tab)"
[Scores tab](https://pub.dev/packages/at_client_mobile/score) missing documentation for:

- [ ] follow dart file conventions
- [ ] provide documentation
- [ ] support multiple platforms
- [ ] support sound null safety

[2021-07-22 03:01] ksanty opened #213 "Review for missing documentation - at_client_mobile (API Reference)"
- [ ] Right nav bar [API reference](https://pub.dev/documentation/at_client_mobile/latest/) link needs documentation content review (samples and examples)
- [ ] [Page not found on documentation](https://atsign.dev/at_docs-dev_env/at_client_mobile/at_client_mobile/at_client_mobile-library.html) link.

Please check libraries (current, samples and examples)
LIBRARIES
- [ ] [at_client_mobile](https://

[2021-07-22 07:31] purnimavenkatasubbu commented on #113
Tested with sdk_refactoring branch. I could see the shared key status as local_updated, remote_updated, shared_with_notifier, Shared_with_llookup

LOCAL_UPDATED

Metadata{ttl: null, ttb: null, ttr: null,ccd: null, isPublic: false, isHidden: false, availableAt : null, expiresAt : null, refreshAt : null, createdAt : 2021-07-22 06:24:42.315807Z,updatedAt : 2021-07-22 06:24:42.315844Z,isBinary : null,

[2021-07-22 07:31] #113 closed

[2021-07-22 08:54] naresh0689 commented on #186
@anthonyvprakash  I have added verb definitions. Please have a look and let me know your comments.

[2021-07-22 09:05] purnimavenkatasubbu commented on #202
This is not a bug. As the status will not be updated for a cached key

[2021-07-22 09:05] #202 closed, assigned to nobody

[2021-07-22 11:10] DivyaYadavareddy commented on #1620
not able to replicate the issue.please provide the atkeys to reproduce the issue

[2021-07-22 11:29] sarika01 commented on #1620
The issue is not atkeys specific. It can happen with any atsign. There are no definite steps to reproduce this issue.

[2021-07-22 15:19] murali-shris commented on #151
server release 2.0.3 for stream resume support

[2021-07-25 16:42] murali-shris commented on #186
PR for dart doc changes in server spec
https://github.com/atsign-foundation/at_server/pull/248/files

[2021-07-25 16:44] murali-shris commented on #186
verb description changes merged to trunk.
PR for changes to link to dart docs
https://github.com/atsign-foundation/atsign.dev/pull/224/

[2021-07-26 03:23] #118 closed

[2021-07-26 08:31] murali-shris commented on #186
at server spec version published to pub.dev
https://pub.dev/packages/at_server_spec/versions/2.0.4
website changes merged to trunk branch of atsign.dev repo

[2021-07-26 08:31] murali-shris commented on #186
@anthonyvprakash please close this issue, if all the requirements are met.

[2021-07-26 08:43] sitaram-kalluri commented on #183
@anthonyvprakash:  Update the content for persistence under services. Below is the link to commit-id
1. https://github.com/atsign-foundation/atsign.dev/commit/030030de0ea998f777e89c7e727f3aa4e9483a46
2. https://github.com/atsign-foundation/atsign.dev/commit/030030de0ea998f777e89c7e727f3aa4e9483a46

[2021-07-26 08:50] #109 closed

[2021-07-26 09:01] nitesh2599 opened #216 "Socket Exception and not receiving incoming notifications"
**Describe the bug**
After starting monitor connection, we get this (Socket Exception) error and no notification is received after that.

**To Reproduce**
Steps to reproduce the behaviour:
1. Start the monitor connection.
2. Transfer few notifications and wait for a few minutes.

**Expected behavior**
Keep receiving incoming notifications.

**Screenshots**
![Screenshot 2021-07-26 at 2 18 59 PM](ht

[2021-07-26 09:02] nitesh2599 commented on #109
Created a new updated issue for this https://github.com/atsign-foundation/at_client_sdk/issues/216.

[2021-07-26 15:29] #199 closed, assigned to VJag

[2021-07-26 15:29] #151 closed, assigned to murali-shris, VJag

[2021-07-26 15:48] ksanty opened #217 "Changes needed for @spacesignal"
Cache public keys on notify

- [x] Delete public keys on notify
- [x] Scan cached public keys

[2021-07-26 16:10] #186 closed, assigned to nickelskevin, cconstab, murali-shris, VJag, TylerTrott

[2021-07-26 16:11] #185 closed, assigned to nickelskevin, cconstab, murali-shris, VJag, TylerTrott

[2021-07-26 16:12] #184 closed, assigned to cconstab, murali-shris, VJag, TylerTrott

[2021-07-26 16:14] murali-shris opened #218 "RSDK implementation with backward compatibility"
- [x]  skeleton code checkin
- [x]  put, putmeta, delete implementation
- [x] monitor implementation
- [x] notify implementation
- [x] testing

App bug dependencies:
Test link - [Decryption Issues](https://github.com/atsign-company/apps/issues/20)

[2021-07-26 16:29] murali-shris commented on #183
@anthonyvprakash please add details on further documentation that has to be done

[2021-07-26 21:25] #146 closed, assigned to nickelskevin, cconstab, Sameeraja-Bharathula

[2021-07-26 21:31] #114 closed

[2021-07-28 05:26] sarika01 opened #1618 "Notes widget"
This is a proposed new widget wherein a user can create a post-it style note with ability to add media as well as text. The actual design is yet to be finalised.

[2021-07-28 05:26] sarika01 opened #1617 "Analytics widget"
Lead: @sarika01

This widget was proposed to address the app level issues. The widget should capture the app issues and take user's permission to share with the app author.
Also, proposed was to have a verb in client sdk to log errors in the system logs.

[2021-07-28 21:53] anthonyvprakash opened #220 "Update Company Tag lines and messaging across Pub.dev once we have a path forward on new messaging."

[2021-08-03 15:13] cconstab opened #223 "Add at_client functionality to at_cli"
Enable as much as possible in at_cli using the at_client lib.

Enabling encrypted put/get etc..

- [x] Add at_client_sdk as dependency.
- [x] Change Authentication mechanism to use .atkeys file instead of cram/pkam
- [x] Change authRequired and isPublic arguments to flags
- [x] Change Verbs implementation from at_lookup to at_client.
- [x] Add documentation where ever
- [x] Dev testing
- [x] QA te

[2021-08-05 03:48] ksanty opened #225 "Update Readme - at_client"
Review [at_client ](https://pub.dev/packages/at_client)readme package version (example the package version is 2.0.3, but the readme description says - dependencies: at_lookup: ^1.0.0)

- [x] Action: remove this section from README and maybe add any other relevant information. We can remove the entire Installation section from README.

[2021-08-05 04:04] ksanty opened #226 "Update Readme - at_client_mobile"
Review [at_client_mobile](https://pub.dev/packages/at_client_mobile) readme package version (example the package version is 2.0.3, but the readme description says - dependencies: at_lookup: ^1.0.0)

- [x] Action: remove this section from README and maybe add any other relevant information. We can remove the entire Installation section from README.

[2021-08-05 09:59] naresh0689 opened #227 "Scan with pagination"
Currently when ever you execute 'Scan' verb, we'll get all the keys in the response. This has to be changed so that one can request for specific number of keys at a time. Example: scan with cursor in redis database.

- [x] Change scan syntax
- [x] scan verb handler changes
- [x] Dev testing
- [x] QA testing

[2021-08-05 10:13] #217 closed, assigned to VJag

[2021-08-05 22:01] cconstab opened #229 "Create some MVP level solutions for the Local Radio Station and Amateur Radio technical communities."
- [x] MVP for monitor commercial LP FM
- [x] Talk to leaders in the HAM world for ideas
- [x] develop MVP / opensource projects to kick start projects
- [x] Create demo wavi page [AI6BH](https://wavi.ng/@ai6bh)

[2021-08-06 16:55] cpswan commented on #227
@naresh0689 can you please provide a fuller description of this in order to help scope the work for sprint planning

[2021-08-06 16:56] cpswan commented on #1618
@sarika01 can you please provide a fuller description of this in order to help scope the work for sprint planning

[2021-08-06 16:57] cpswan commented on #1617
@sarika01 and this one... I'll stop here, but please have a comb through the project board and make sure that it's providing a complete picture.

[2021-08-06 16:58] #105 closed

[2021-08-08 19:16] JasperDanC opened #1616 "Atsign Generator of at_onboarding_flutter (version 2.1.2) not working in @Vento"
**Describe the bug**
When generating a new @sign in the onboarding method of the @Vento app. After generating a new @sign and sending  and filling in a verification code to an email that does not have any @signs associated with it a blank white screen is reached.

After restarting the app using the @sign that I just generated results in a new verification code being sent and then filling that code

[2021-08-09 11:34] pavitra-ga-tyf opened #230 "Verify and login is not working as expected."
@sachins-geekyants Please refer the below clip.

https://user-images.githubusercontent.com/48277913/128700095-ed4853eb-a083-4001-a185-745bfded2214.MP4

[2021-08-09 12:12] anthonyvprakash commented on #183
@murali-shris @kalluriramkumar @TylerTrott  - Sorry for the delay. What we need here is an article similar to the other services that we have content for.

[2021-08-09 13:18] pavitra-ga-tyf opened #232 "Select atsign"
@sachins-geekyants When atsign is selected and then switched to another then selected atsign persists.

[2021-08-09 15:37] #200 closed, assigned to nickelskevin, cconstab, VJag

[2021-08-09 15:53] xavierchanth commented on #1620
Related to atsign-foundation/at_widgets#74 ?

[2021-08-09 19:41] JasperDanC commented on #1616
I would like to add to this. Anytime the app tries to activate a new @sign  for example an @sign generated through atsgin.com where the QR code is generated. Instead of opening the QR code scanner the app will send a verification code to the email that the @sign was generated with and upon entering the verification code the same blank screen is reached.

Seems as though only pre-activated @signs a

[2021-08-09 21:02] ksanty commented on #218
@murali-shris can you please add label(s) to this so we can better track?  TY

[2021-08-09 21:03] ksanty commented on #223
@cconstab can you please add label(s) so we can better track? TY

[2021-08-09 21:05] ksanty commented on #227
@naresh0689 can you please add a [label(s)](https://github.com/atsign-company/labels/labels) to this so we can better track status?  TY

[2021-08-09 21:06] ksanty commented on #229
@cconstab can you please add a [label(s)](https://github.com/atsign-company/labels/labels) to this so we can better track status?  TY

[2021-08-11 20:48] cconstab opened #1615 "at_onboarding_flutter refactoring"
### Now we know what this widget should do..

It's time to refactor and make the code much more readable.

- [ ] Take stock of what the widget needs to do
- [ ] Include the removal of the QRCode button (using the Registrar API we should be able to pop that up if required)
- [ ] Outline the architecture in the architecture call
- [ ] Implement
- [ ] test
- [ ] deploy
- [ ] repeat

[2021-08-12 04:00] sarika01 opened #1614 "at_onboarding widget blocks user on scanner screen"
Once on the scanner screen, there is way to cancel or go back to the previous screen.

[2021-08-16 06:23] #225 closed, assigned to sarika01

[2021-08-16 06:36] purnimavenkatasubbu opened #234 "sync improvements"

[2021-08-16 06:51] sarika01 opened #1613 "Switch themes for packages"
The Flutter widgets provided through pub.dev should have the ability to switch themes between light and dark, controlled by the implementing app.

- [x] at_chat_flutter
- [x] at_common_flutter
- [x] at_contacts_flutter
- [x] at_contacts_group_flutter
- [x] at_events_flutter
- [x] at_follows_flutter
- [x] at_location_flutter
- [x] at_onboarding_flutter
- [x] at_backupkey_flutter

[2021-08-16 10:54] murali-shris commented on #218
sync changes will be taken up as a part of
https://github.com/atsign-foundation/at_client_sdk/issues/234

[2021-08-16 10:55] murali-shris commented on #218
Code changes for monitor and notification merged to trunk

[2021-08-16 10:55] #218 closed, assigned to sitaram-kalluri, murali-shris

[2021-08-17 17:33] tinashe404 opened #1612 "Onboarding Widget - Can't access internal storage on android"
**Describe the bug**
When trying to save or upload atkeys on an android device, people can no longer access their internal storage. They only get the drive, email accounts and other apps as options.

**To Reproduce**
Steps to reproduce the behavior:
1. On an android device, activate a new atsign and when it asks you to save your keys you will see that internal storage isn't available as a default

[2021-08-18 15:47] tinashe404 opened #1611 "Onboarding Widget - Not handling "server unreachable" case correctly"
**Describe the bug**
If a secondary server is unreachable/unusable and it has previously been paired with a specific device, when you try to pair it again the screen will display the spinning icon for a while and then the person will receive a verification code in their email.

It seems this is because the pair attempt times out and the system defaults to sending a QR code after receiving a 503 re

[2021-08-19 10:16] Rajasekhar695 commented on #1614
@sarika01 Fixed and tested the issue, below attached recorded video.

https://user-images.githubusercontent.com/60208690/130052809-b385ee87-8274-4be8-bdec-7f2a0cf56308.mp4

[2021-08-23 06:55] murali-shris commented on #234
scope changed after discussion in architecture call.
* apps will no longer make periodic calls to server. instead server will send a notification with latest commit id
* existing stream sync will be removed

[2021-08-23 09:57] sachins-geekyants commented on #79
@murali-shris still getting this issue after we reset atsign.

![Screenshot 2021-08-23 at 3 25 33 PM](https://user-images.githubusercontent.com/74917871/130428398-5f785e14-b17a-487f-b4cc-9f8d15d40ad1.png)

[2021-08-23 14:26] nitesh2599 commented on #70
@murali-shris We don't get this now.

[2021-08-23 14:27] nitesh2599 commented on #68
@murali-shris We still get this.

[2021-08-23 15:38] anthonyvprakash commented on #183
@TylerTrott @Intiserahmed  - Please work on this ticket this Sprint PR19 and let us get it done.

[2021-08-23 16:05] murali-shris commented on #234
- [x] stats notification service
- [x] replace stream sync with new sync verb with limit
- [x] dev testing
- [x] update new sync on appsand test

[2021-08-23 16:54] sarika01 opened #241 "at_client_sdk (at_client_mobile / at_client_flutter) should support desktop"
The sdk should move from flutter_keychain to support desktop version.

[2021-08-23 20:58] ksanty commented on #241
@sarika01 can you please estimate sprint points here as well as assign a dev?  TY

[2021-08-24 14:52] murali-shris commented on #241
@ksanty this requires a discussion in architecture call before we estimate

[2021-08-24 16:15] naresh0689 commented on #223
Attaching screenshots for referene.

[2021-08-24 16:16] naresh0689 commented on #223
![Screenshot from 2021-08-24 21-42-45](https://user-images.githubusercontent.com/10126219/130652546-a9d54fbe-72f3-47f2-a371-b0f605681739.png)

[2021-08-24 16:17] naresh0689 commented on #223
![Screenshot from 2021-08-24 21-42-37](https://user-images.githubusercontent.com/10126219/130652649-4b0a14d8-f60a-4939-a275-faa65c6a7263.png)

[2021-08-24 16:17] naresh0689 commented on #223
![Screenshot from 2021-08-24 21-42-23](https://user-images.githubusercontent.com/10126219/130652702-78efc6ed-c419-45c1-b9eb-49acd9193aa8.png)

[2021-08-25 09:32] DivyaYadavareddy commented on #1620
@sarika01 can you please check this issue is related to atsign-foundation/at_widgets#74 ? there is reset button to remove an atsign so i think there is no need to add another button.
If the isue is not with this can you please tell me which added feature you are expecting?

[2021-08-25 11:09] sarika01 commented on #1620
@DivyaYadavareddy I think the reset button shown above is in the wavi app and not on the at_onboarding_flutter widget. With the latest version 2.1.3 of the onboarding package on pub.dev, I am getting this screen with no reset button.

![Simulator Screen Shot - iPhone 8 - 2021-08-25 at 16 20 32](https://user-images.githubusercontent.com/12222326/130780323-308ac72a-72cc-46e4-a177-5226d4e36976.png)

[2021-08-25 14:26] murali-shris opened #243 "sync - queueing requests"
- [x] Modify sync service implementation
- [x] Testing

[2021-08-26 11:52] DivyaYadavareddy commented on #1620
@sarika01 Added reset button as a widget in at_onboarding_widget. will release it in next pub.dev version.
please find Below attached screen recording video
https://user-images.githubusercontent.com/60208911/130957329-a2687570-d906-482f-8f7c-2550c18ea32d.mp4

[2021-08-30 08:47] yahu1031 opened #246 "Need Examples"
**Is your feature request related to a problem? Please describe.**
No proper example provided

**Describe the solution you'd like**
Providing an example will help the developer to understand how to use it.

[2021-09-02 07:30] #223 closed, assigned to naresh0689

[2021-09-02 08:16] purnimavenkatasubbu opened #258 "RSDK: Data being lost while switching between the atsigns"
**Describe the bug**
Switching between multiple atsigns in the apps, leads to data not being shown in the app

**To Reproduce**
Steps to reproduce the behavior:
1. First I authenticate to the wavi app as atsign A and add some details
2. Then , Add another atsign into the app, Say atsign B
3. Now select the atsign A again all the data is lost

Note: restarting the app shows the data as it is

**Exp

[2021-09-02 08:23] purnimavenkatasubbu opened #259 "RSDK: Dashboard in wavi is not being displayed for an already paired atsign"
**Describe the bug**
Whenever I pass the atkeys of an already authenticated/paired atsign, App throws error

**To Reproduce**
Steps to reproduce the behavior:
1. First I install the wavi app and use an atsign which is already paired(First time authentication is done)
2. Then pass the atkeys of the atsign

**Expected behavior**
Dashboard should show the paired atsign with the options

**Screenshots

[2021-09-02 08:29] purnimavenkatasubbu opened #260 "RSDK: App remains in loading after restarting the server"
**Describe the bug**
After restarting the server from the dashboard, Using that atsign in the app makes the app unusable

**To Reproduce**
Steps to reproduce the behavior:
1. First install the wavi app and pair with an atsign
2. Then Go to the dashboard and Reset the atsign
3. And then restart the wavi app
4.  Enter the Otp which is sent to the registered mail.

**Expected behavior**
Atsign should

[2021-09-02 09:49] sitaram-kalluri commented on #258
Investigated the issue, Seems like wavi is not refreshing on switching the atsign. Updated @charannnreddy on my observations. Adding @charannnreddy to the assignees list.

[2021-09-02 10:12] #259 closed, assigned to sitaram-kalluri

[2021-09-02 10:50] purnimavenkatasubbu opened #262 "RSDK: Making the keys as All private throws error in wavi"
**Describe the bug**
The self encryption key is not set error while making the keys as All private in wavi

**To Reproduce**
Steps to reproduce the behavior:
1. First I installed the wavi app and paired with an atsign
2. Then I created some data and made the keys as All private

**Expected behavior**
All the keys should become private

**Screenshots**
![Screenshot from 2021-09-02 16-18-45](https:/

[2021-09-03 04:48] purnimavenkatasubbu commented on #259
Testing Notes:

Re-tested the scenario after the fix. I can see the atsign and Edit options now.

https://user-images.githubusercontent.com/43639593/131951676-5fb784f9-e02c-4a7a-ae6b-0b950330ae0f.mp4

[2021-09-03 06:22] #262 closed, assigned to sitaram-kalluri

[2021-09-03 07:16] purnimavenkatasubbu commented on #262
Testing Notes:

Re-tested the scenario by making it to private and checking in the directory and make it back to public and checking the data in the directory.

https://drive.google.com/file/d/1N23o_riSYxFHo-Kuqcuk8kHdtRnGxUR8/view?usp=sharing

[2021-09-06 08:38] purnimavenkatasubbu commented on #258
Tested the scenario with the latest fix branch switch_fix_sync. I'm able to switch between atsigns and able to see the data correctly.

https://user-images.githubusercontent.com/43639593/132186808-2887cafe-bf80-4da1-92d2-e35c08b207b0.mp4

[2021-09-06 09:49] purnimavenkatasubbu opened #266 "Making a custom content private isn't working in wavi - Only for large commit id's"
**Describe the bug**
Making custom content as private in wavi is not making the key private

**To Reproduce**
Steps to reproduce the behavior:
1. First I install the wavi app and create some content, Including custom content
2. Then make the custom content as private
3. And then check the directory whether the key is hidden

**Expected behavior**
The key should become private and the key should no

[2021-09-06 17:44] #234 closed, assigned to sitaram-kalluri, purnimavenkatasubbu

[2021-09-06 17:48] murali-shris commented on #243
below improvements were made on sync
* all sync requests are queued and requests are synced periodically to the server.
Change service to be taken up later

[2021-09-06 17:48] #243 closed, assigned to murali-shris

[2021-09-07 05:42] purnimavenkatasubbu commented on #260
Re-tested the scenario. Still the issue exists. Adding the video clip of the scenario.

https://user-images.githubusercontent.com/43639593/132290332-bde4a1a9-c6e5-4987-882a-95668e04315c.mp4

https://user-images.githubusercontent.com/43639593/132290355-7e7c990e-8657-4c4b-ada7-73d5e35a873f.mp4

[2021-09-07 05:54] #258 closed, assigned to sitaram-kalluri, charannnreddy

[2021-09-07 09:48] sarika01 commented on #1618
Needs to be tested and published.

[2021-09-07 09:50] sarika01 commented on #1617
Needs to be tested with rSDK and published.

[2021-09-07 09:52] sarika01 commented on #1613
Each package needs to be tested and published.

[2021-09-07 10:29] yahu1031 commented on #266
And as far as I noticed it wasn't working while you make a public content to private. It works if we create a new key-value pair as private.

[2021-09-07 12:57] #183 closed, assigned to sitaram-kalluri, Intiserahmed, TylerTrott

[2021-09-07 14:31] murali-shris commented on #227
@naresh0689 please resolve merge conflicts and merge the PR for this feature

[2021-09-07 15:35] nickelskevin commented on #241
Propose that we:
- maintain at_client_sdk as having no flutter depencies
- create a new package called at_client_flutter that provides support for both mobile and desktop
- maintain at_client_mobile as well for now, but plan to deprecate in favor of at_client_flutter

[2021-09-09 07:36] nitesh2599 opened #272 "SocketException in rSDK leads to delayed notifications"
Faced this while testing arrive with rSDK in staging.

Steps to reproduce -
 - Run _arrive_ using the [_feat/arrive-sdk_](https://github.com/atsign-company/arrive/tree/feat/arrive-rsdk) branch.
 - Override the _at_widgets_ dependencies with [_feat/events-new-sdk_](https://github.com/atsign-foundation/at_widgets/tree/feat/events-new-sdk) branch of at_widgets.
 - Send a _share location_ notification

[2021-09-09 08:02] sachins-geekyants opened #273 "Exception in EncryptionService"
**Describe the bug**
For few atsign I am getting Exception in EncryptionService

`flutter: SEVERE|2021-09-09 13:25:44.793779|EncryptionService|Exception while decrypting value: Invalid argument(s): Invalid or corrupted pad block`

**To Reproduce**
Steps to reproduce the behavior:
1.  I am using @ test_ga3 atsign with atmosphere app on staging server.
2. After onboarding I am getting these exceptio

[2021-09-09 11:28] murali-shris commented on #272
@nitesh2599 I am getting dependency issues with feat/events-new-sdk branch of at_widgets.
Are the required widgets pointing to trunk branch of at_client_sdk and 3.0.0/trunk version of at_commons, at_utils and at_lookup ?

[2021-09-09 18:23] ksanty commented on #226
@sarika01 and @murali-shris reopening this ticket as readme is not done.  We just discovered during a Discord call.

https://pub.dev/packages/at_client_mobile

[2021-09-13 06:07] purnimavenkatasubbu opened #276 "Format Exceptions while receiving notifications"
**Describe the bug**
Format exceptions can be seen in the logs while receiving notifications

**To Reproduce**
Steps to reproduce the behavior:
1. First I authenticated to the buzz app in Atsign A and Atsign B
2. Then I sent a notification from Atsign A to B
3. And check the logs in the Atsign B

**Expected behavior**
Notifications should be delivered without any exceptions

**Screenshots**
If app

[2021-09-13 09:38] purnimavenkatasubbu commented on #276
With the latest fix, I don't see format exceptions anymore in the app logs.

I/flutter (19872): 392.72727272727275
I/flutter (19872): FINER|2021-09-13 14:57:30.574208|SyncService|in _processSyncRequests
I/flutter (19872): INFO|2021-09-13 14:57:31.115694|SyncService|Returning the serverCommitId 1036
I/flutter (19872): FINER|2021-09-13 14:57:31.117531|CommitLogKeyStore|startKey: 677 all commit log e

[2021-09-13 10:10] #276 closed, assigned to sitaram-kalluri

[2021-09-14 09:38] purnimavenkatasubbu commented on #260
Retested the scenario. The issue is not replicated now. Hence closing the issue

https://user-images.githubusercontent.com/43639593/133233968-47cde260-aff8-4aea-b20e-19ad49e6e6c2.mp4

[2021-09-14 09:38] #260 closed, assigned to sitaram-kalluri

[2021-09-16 06:31] murali-shris commented on #272
@nitesh2599 issue is fixed and merged to trunk, Please verify

[2021-09-16 06:32] sachins-geekyants opened #1610 "Wavi - Getting ResponseTimeOutException in wavi on followers screen"
**Describe the bug**
In @ wavi if we have more following and followers counts , we are getting server response time out everytime.

**To Reproduce**
Steps to reproduce the behavior:
1. Follow 20+ atsigns
2. open @ wavi and go to followers and following screen
3. On this screen loader keeps spinning for long time and give server response time out message.

**Expected behavior**
Followers / followin

[2021-09-16 11:22] yahu1031 opened #281 "[Cron] - Unhandled Exception: Exception: Closed."
**Describe the bug**
When switching atsigns and navigating to the edit screen we found and cron exception. Sometimes when we click on the other atsigns we found this issue too.

**To Reproduce**
Steps to reproduce the behavior:

https://user-images.githubusercontent.com/35523357/133601446-91cfc8a5-85c8-4e8a-baee-8abb578b17e4.mp4

**Exception:**
[code]

**Expected behavior**
Should not have that ab

[2021-09-16 18:51] murali-shris opened #283 "support app testing"
- [x] setup arrive app in local
- [x] update dependency in widgets
- [x] fix sync and notify issues
- [x] data change atttribute in sync result

[2021-09-16 18:57] murali-shris commented on #283
Open issues
1. If atsign is reset on app and onboarded again into the app, initial sync may take a while(if there are lot of keys in secondary server).If user updates any data while the initial sync is happening, the updates are not propagated to server. This issue will happen across apps
2. On buzz, there are frequent refreshes due to sync onDone calls. A fix has to be put on SDK , so buzz can ma

[2021-09-19 16:06] #283 closed, assigned to sitaram-kalluri, murali-shris

[2021-09-20 09:55] murali-shris opened #288 "initial app load delay"
Initial load in app is taking more than 10 seconds. Probable issue is waiting for monitor response

[2021-09-20 10:11] yahu1031 commented on #288
@kalluriramkumar As I have debugged it and I found `_getQueueResponse()` takes the time delay.
[code]
In this function
[code]
will have a value of 100 and the `for` loop will iterate almost 100 times. So the delay in the for loop will become 90 * 100 ms = 9sec. That is where the delay happens and this function is being called twice so we are getting 20sec delay including the other operations. Here

[2021-09-20 10:22] sarika01 commented on #1618
The design can be improved. Moving this to backlog as not on immediate priority.
Development so far is on:https://github.com/atsign-foundation/at_widgets/tree/create_at_note_flutter

[2021-09-20 10:24] murali-shris opened #289 "large file/image upload to gdrive/icloud"
What we wanted to accomplish through this spike:

Binary data should be uploaded to user gDrive/iDrive and the references/URLs should be saved to the secondary server and when the user tries to view the data it should be loaded from the drive again.

When the data needs to be shared with someone, data in the drive should be made available using a public URL encrypted using other users' public key.

[2021-09-20 11:42] murali-shris opened #290 "support arrive, atmosphere app testing"
- Testing effort from core team for arrive testing
- Testing effort once stream enhancements are merged to trunk and atmosphere app is tested

[2021-09-20 11:48] murali-shris opened #292 "rsdk docs and samples"

[2021-09-20 12:13] murali-shris commented on #272
@nitesh2599 @kalluriramkumar
since this issue is environment specific, let us test with arrive apk/ test build on ios in multiple devices.

[2021-09-20 14:43] murali-shris commented on #288
Issue fixed with at_client v3.0.1

[2021-09-20 15:36] #229 closed, assigned to cconstab

[2021-09-20 15:37] #288 closed, assigned to sitaram-kalluri, yahu1031

[2021-09-21 10:41] Rajasekhar695 commented on #1610
@sachins-geekyants Tested this issue with latest store version, it's working fine, can you also retest it with latest store version and tell still getting same or not?

[2021-09-21 10:47] sachins-geekyants commented on #1610
@Rajasekhar695 It's still showing same for me.

[2021-09-21 10:49] yahu1031 commented on #1612
This is because we have used the [share](https://pub.dev/packages/share) package in [at_backup_key](https://pub.dev/packages/at_backup_key) such that it will share the file with other apps but won't save it to local storage.

[2021-09-21 12:47] Rajasekhar695 commented on #1610
@sachins-geekyants can you send that atsign at_keys.zip file so that i can reproduce it from my side.
mail id: rajasekharkttpll45@gmail.com

[2021-09-21 17:56] yahu1031 commented on #1612
@tinashe404 can you please re-check all the options and let me know if it has **copy to** option.

[2021-09-22 11:22] sachins-geekyants commented on #1610
while using wavi.ng , when we have more follows data. we are getting this exception.
I was using @ minorgettingplayed7 on prod server.

![Screenshot 2021-09-22 at 11 05 29 AM](https://user-images.githubusercontent.com/74917871/134334036-6346b47a-c19a-4030-bc21-d1a8edfb9b4b.png)

[2021-09-22 11:36] Rajasekhar695 commented on #1610
@sachins-geekyants  Tested issue with 3 atsigns all 3 having more than 20 following, out of them it was is working fine with testing atsigns but not with blindtahugejrot atsign. so it is atsign specific issue. below i attached screen recording.

https://user-images.githubusercontent.com/60208690/134336045-7d754300-ea63-451c-910c-4bdf9ee8679b.mp4

[2021-09-24 05:56] sachins-geekyants opened #300 "sync failure on first onboarding"
**Describe the bug**
On fresh install of wavi.ng after clearing previous data , getting sync failure.
I was using  'adorabledinosaur' atsign.

**To Reproduce**
Steps to reproduce the behavior:
1. delete previous installed app and clear cached data.
2. re install wavi.ng and onboard (In my case , I was using @ adorabledinosaur)
3. after some time sync onDone callback gets called with status as fail

[2021-09-28 09:03] yahu1031 commented on #300
Hey @sachins-geekyants, I can able to reproduce the issue but not the `FormatException`. Can you please recheck the and retry.
Here are my logs
[code]

[2021-09-28 10:19] yahu1031 commented on #300
Logs on Physical device
Redmi Note 8
Android 10
[code]

[2021-09-28 11:10] sachins-geekyants opened #302 "Exception while sending stream acknowledgement"
**Describe the bug**
when sending stream acknowledgement , I am getting exception for some atsigns.
In this case I was sending file from @ adorabledinosaur to @ minorgettingplayed7.

**To Reproduce**
Steps to reproduce the behavior:
1. send file request with atmosphere basic
2. while accepting , we get exception in encryption service.

**Expected behavior**
file should be downloaded on receiver's

[2021-09-28 13:42] murali-shris commented on #227
fixed a bug raised during testing
https://github.com/atsign-foundation/at_server/issues/323

[2021-09-28 14:36] tinashe404 commented on #1612
update, there is no copy-to option in the current app version

[2021-09-29 06:05] sachins-geekyants commented on #300
@yahu1031 what was the sync status on physical device ?

[2021-09-29 06:06] yahu1031 commented on #300
It was success

[2021-09-30 06:31] murali-shris commented on #272
@nitesh2599 does this issue happen with test flight build of arrive in mobile device ?

[2021-09-30 06:32] murali-shris commented on #227
@purnimavenkatasubbu please verify and close this issue

[2021-09-30 10:09] purnimavenkatasubbu commented on #227
Tested both the apps wavi and buzz with the server branch "scan_with_pagination" in my local environment. Also tested the scan verb from the terminal. Adding POT's below.

[paginationData.docx](https://github.com/atsign-foundation/at_client_sdk/files/7258675/paginationData.docx)

https://user-images.githubusercontent.com/43639593/135436133-8b96051b-0791-47b4-a0f7-78770e41c023.mp4

https://user-ima

[2021-09-30 10:09] #227 closed, assigned to murali-shris

[2021-09-30 14:04] sarika01 commented on #272
As per @tinashe404 on 24th Sep testing:
Arrive - No one received event invites, location sharing didn’t work, app kept refreshing, error messages

As of yesterday, @kalluriramkumar is looking into debugging the issue.

[2021-09-30 14:25] murali-shris commented on #292
* RSDK document is done.
https://docs.google.com/document/d/1J_WIJCIZDN24Q3FTFMrW1CZczTM0SEwyppt3tCS4660/edit
Will be publishing to website once review is done.
* SDK Cookbook update in progress
https://docs.google.com/document/d/19A0g0AIJU3x2MiwgRgcguGmimrNLr03CdmZg0RdnU_Y/edit

[2021-10-01 03:42] sitaram-kalluri commented on #272
@sarika01: I have debugged the issue using blindtahugejrot staging atsign (atsign which @sachins-geekyants provided), The secondary server of the atsign keeps restarting and hence the SocketException

[2021-10-03 03:13] VJag commented on #115
- [ ] Create a sample app that makes use of gDrive
- [ ] Write binary data to gDrive and verify where is the data is being transferred in drive and verify if this data can be made public
- [ ] Analyse what it takes to upload the data from an app to drive to a public URL
- [ ] Implement the above using an app
- [ ] Update the sample app to makes use of iCoud
- [ ] Write binary data to iCloud and ve

[2021-10-03 03:14] VJag commented on #289
- [x] Create a sample app that makes use of gDrive
- [x] Write binary data to gDrive and verify where is the data is being transferred in drive and verify if this data can be made public
- [x] Analyse what it takes to upload the data from an app to drive to a public URL
- [ ] Implement the above using an app
- [ ] Update the sample app to makes use of iCoud
- [ ] Write binary data to iCloud and ve

[2021-10-03 03:17] VJag commented on #289
![pk_change](https://user-images.githubusercontent.com/20091120/135738140-c5760c70-78a8-4003-adfd-350ffb45a17c.png)

[2021-10-03 03:18] VJag commented on #289
Did some analysis and could not complete it as we have shifted the focus to Sync improvements.

[2021-10-03 03:19] VJag commented on #115
![pk_change](https://user-images.githubusercontent.com/20091120/135738140-c5760c70-78a8-4003-adfd-350ffb45a17c.png)

[2021-10-03 03:19] VJag commented on #115
Did some analysis and could not complete it as we have shifted the focus to Sync improvements.

[2021-10-04 07:26] murali-shris commented on #292
SDK cookbook completed

[2021-10-04 07:38] #290 closed, assigned to sitaram-kalluri, murali-shris

[2021-10-04 09:37] sachins-geekyants commented on #302
@murali-shris I tried sending file between 3 atsigns and none of them were able to download file.
I saw similar error msg in terminal , which is shown in screenshot on receiver's end.

[2021-10-04 10:43] murali-shris commented on #292
Samples and examples
https://github.com/atsign-foundation/at_demos/tree/trunk/at_chats
https://github.com/atsign-foundation/at_demos/tree/trunk/at_cookbook
https://github.com/atsign-foundation/at_demos/tree/trunk/at_hello_world

[2021-10-04 12:15] cpswan commented on #292
Reopening until Google Docs have been put into atsign.dev

[2021-10-04 15:14] murali-shris opened #303 "rsdk publish docs to website"

[2021-10-04 16:58] sarika01 commented on #1613
Moving to backlog to give priority to other P1 issues.
Current changes available on: https://github.com/atsign-foundation/at_widgets/tree/feature/switch-theme

[2021-10-04 23:39] ksanty commented on #272
Will be resolved through issues @murali-shris can you please tag here?  TY!

[2021-10-05 13:48] cpswan opened #305 "Migrate from package:pedantic to package:lints"
**Describe the solution you'd like**

Per the guidance from [dart-lang/lints](https://github.com/dart-lang/lints#migrating-from-packagepedantic):

in each `pubspec.yaml`:

[code]

and in each `analysis_options.yaml`:

[code]

[2021-10-05 19:00] con-mark commented on #305
can you assign to me I will do

[2021-10-07 08:44] #305 closed, assigned to con-mark

[2021-10-07 08:49] cpswan opened #309 "Deal with lint issues from flutter analyze of at_client_mobile"
**Describe the bug**
Since switching to package:lints/recommended.yaml CI is failing due to a large number of lint issues found:

[code]

**To Reproduce**
Take a look at any recent [workflow runs for at_client_sdk CI](https://github.com/atsign-foundation/at_client_sdk/actions/workflows/at_client_sdk.yaml)

**Expected behavior**
No lint issues

[2021-10-07 08:55] cpswan opened #310 "Lift Pub points for at_client_mobile"
at_client has 120 pub points, whilst at_client_mobile only has 80

**Describe the solution you'd like**

* Correct docs URL in pubspec.yaml
* Increase dartdoc comments for public API

[2021-10-07 10:01] yahu1031 commented on #300
Any other updates on this issue @sachins-geekyants?

[2021-10-07 11:16] sachins-geekyants commented on #300
today I was running at_setting , I noticed sync failure here as well.
[code]

[2021-10-08 14:51] yahu1031 commented on #300
Here are some logs when I used `@adorabledinosaur` in @\rrive app. I have mentioned somewhere **refer from here** please make sure analyze logs about this atsign from there.

**LOGS**
[arrive (1).log](https://github.com/atsign-foundation/at_client_sdk/files/7312168/arrive.1.log)

[2021-10-08 17:34] adityathakurxd commented on #309
Hello,
Should the fix of this issue be made by updating the `analysis_options.yaml` something like:
[code]
or, to work on this do we need to update the variable names to lowerCamelCase and make other changes?

I believe updating the `analysis_options.yaml` would be a temporary fix for CI and the changes to variable names and others can be made gradually by removing ignore from the `analysis_option

[2021-10-08 17:35] adityathakurxd commented on #309
Also, the package:lints can be migrated to package:flutter_lints (as suggested by Flutter team [here](https://flutter.dev/docs/release/breaking-changes/flutter-lints-package)).

[2021-10-11 08:30] sarika01 opened #1609 "QR code scanner flow not working properly"
**Describe the bug**
When QR code scanning is used in iPad and android phone, it throws error and does not work as expected.

**To Reproduce**
Steps to reproduce the behaviour:
1. First I ran @ wavi.ng with at_onboarding_flutter(v3.0.3) in debug mode on iPad and android phone separately.
2. Then I used the 'Scan QR code' option
3. And then I activated a new atsign and scanned the QR code from the

[2021-10-11 13:28] #292 closed, assigned to VJag, yahu1031, DivyaYadavareddy

[2021-10-18 06:16] Rajasekhar695 commented on #1610
@sachins-geekyants   https://github.com/atsign-foundation/at_server/issues/318
sync performance is improved and currently in testing.

[2021-10-18 06:20] yahu1031 commented on #300
As I have mentioned in above comments I can only reproduce

[code]
Only this but not `FormatException`.

[2021-10-18 06:24] sachins-geekyants commented on #300
@yahu1031 in the arrive logs that you have attached , I can see formatException happening with sync failure.

[2021-10-18 06:30] yahu1031 commented on #300
Yes in arrive it happens and not very sure it is because of what. We already have one issue opened.

[2021-10-18 15:00] murali-shris opened #315 "sync freeze issue - multiple updates on client"
* run multiple updates (e.g 50 updates) continuously on at_client update sample
* sometimes sync freezes and nothing happens on either client or server

[2021-10-18 18:55] yahu1031 commented on #1612
@tinashe404 Please update us with the Android version (Android 10 / above / below).

[2021-10-18 18:58] tinashe404 commented on #1612
@yahu1031 I have asked the person who reported the issue. Awaiting their response.

[2021-10-18 20:40] yahu1031 commented on #1612
Hmm doesn't Look like an issue with the android version. I have Android 11 RKQ1.200826 (MIUI 12.5.5). But still, I can access my internal storage(Can't create a folder though) and save my atkeys where ever I would like to. And while fetching, I can access my whole device storage to fetch atkeys. Maybe device-specific too. Need a deeper look.

[2021-10-18 21:07] yahu1031 commented on #1612
I have gone through
**Device**
Model: Samsung Tab A(2018, 10.5)
OS: Android
Version: 10
System UI: One UI 2.1

Here are logs(Saved the atkeys file and fetched the atkeys file)

<details>

[code]

</details>

I couldn't see any access to local storage on this device.
![image](https://user-images.githubusercontent.com/35523357/137805921-492ab58f-d90c-4321-bd7d-47da39f4f08d.png)

My be as I said abov

[2021-10-19 13:19] tinashe404 commented on #1612
@yahu1031 its a Samsung phone on Android version 10 and they have confirmed again that they cannot access local storage with the onboarding widgets on current playstore versions of buzz and wavi.

[2021-10-19 14:10] murali-shris commented on #315
unable to replicate the issue. will try few more test scenarios

[2021-10-20 07:28] Rajasekhar695 commented on #1610
@sachins-geekyants can you test with below apk and check whether it is still happening or not?

https://i.diawi.com/7565gv

[2021-10-20 08:10] yahu1031 commented on #300
@sachins-geekyants I have reproduced the issue today and recorded the session too. I'm attaching them here. In the logs, I can't see any sync failure issues.

Logs: https://cdn.sourceb.in/bins/xhfj8DYybu/0

- Found an issue, I will raise another issue for that.

[2021-10-20 14:13] sachins-geekyants commented on #300
today I was running at_settings  with @ adorabledinosaur atsign , I got these exceptions in sync.
Even after these exceptions , sync was running and I got data in some time.

![Screenshot 2021-10-20 at 7 35 42 PM](https://user-images.githubusercontent.com/74917871/138109393-b8fb9819-7292-4acb-a02f-97ca4346d32a.png)
.

[2021-10-20 14:16] sachins-geekyants commented on #1610
@Rajasekhar695 I tried at_settings with`at_client: ^3.0.4` and still got ResponseTimeOutException.

[2021-10-20 14:24] yahu1031 commented on #300
@sachins-geekyants Can you just please let us know if is also happening with the other atsigns...
I have tried with `@minnu💙` atsign

[2021-10-25 16:33] ksanty opened #318 "New Client Code needs to be included in builds"
at_client 3.0.4

- [x] @ wavi
- [x] @ buzz
- [x] @ mospherpro
- [x] @ rrive

[2021-10-25 16:35] ksanty commented on #318
@cconstab added this ticket.  Please add more detail if needed, also which dev will be working on.

[2021-10-26 08:12] yahu1031 commented on #303
Updated the docs to atsign.dev website. Check it from [here](https://atsign.dev/docs/rsdk_migration/).

[2021-10-26 08:12] #303 closed, assigned to yahu1031

[2021-10-26 13:44] yahu1031 opened #1608 "Need to hide the exposer of staging environment."
**Is your feature request related to a problem? Please describe.**
Yes, The staging environment must be removed when we are publishing the [at_onboarding_flutter](https://pub.dev/packages/at_onboarding_flutter) widget. This will allow the users(devs) to use the production environment. This discussion happened on **25-10-2021 Architecture call**.

**Describe the solution you'd like**
Hiding/removin

[2021-10-28 10:42] Rajasekhar695 commented on #1610
@sachins-geekyants fixed this issue .this fix is available in the latest versions of wavi .can you please retest?
Play store: 0.15.2(44)
Testflight:  0.15.9 (49)
Appstore: 1.3.6

[2021-10-29 07:05] sachins-geekyants commented on #300
@yahu1031 I faced it with several atsigns.
like @ minorgettingplayed7 , @ 25antwilling , @ adorabledinosaur

[2021-11-02 06:09] #315 closed, assigned to murali-shris

[2021-11-02 08:07] murali-shris opened #320 "sync enhancement - analysis and design"
- [x] Design work
- [x] Design plan

[2021-11-02 08:08] murali-shris opened #321 "Analyse decryption issues"
Analyse and come up with approach for below scenarios

- [ ] Public key changes
- [ ] Encryption key changes

[2021-11-02 12:52] sarika01 commented on #1617
Requires review and publishing.

[2021-11-02 15:48] murali-shris commented on #320
Analyse and design for the below scenarios
* syncing app updates when initial sync is running
* sync strategy when regex on sync changes

[2021-11-03 06:26] sachins-geekyants opened #1607 "Onboarding failing with error message"
**Describe the bug**
I am trying to onboard in wavi.ng app and onboarding is failing with
`NoSuchMethodError: The method '[]' was called on null.` in onError callback.

**To Reproduce**
Steps to reproduce the behavior:
1. use at_onboarding_flutter: 3.0.4
2. when backup key is selected to authenticate , onError callback gets called.

**Expected behavior**
onboard should be successful.

**Screenshot

[2021-11-03 14:18] yahu1031 commented on #300
@sachins-geekyants I too faced the `FormatException` today. Unfortunately didn't save the logs. Will try again and attach the logs if I can reproduce them. Can I please get a key for any of the above atsigns you have mentioned? I will try with them too from my end.

[2021-11-03 15:33] sarika01 commented on #318
@ mospherePro and @ rrive have been updated to at_client 3.0.4 and published.

[2021-11-03 17:42] sachins-geekyants commented on #300
@yahu1031 sure , I will send you.

[2021-11-06 06:21] cconstab opened #322 "Sometimes the previous value gets updated to the secondary not the new value sent to atClient"
**Describe the bug**
Sometimes the previous value gets updated to the secondary not the new value sent to atClient

**To Reproduce**
Steps to reproduce the behavior:
1. Send a new value to a key on a regular basis
2. Check what you send via the atClient logs
3. Compare what you see at the Secondary logs
4. Works some of the time when the updates are seconds apart
5. One thing to note I am setting

[2021-11-08 12:28] sachins-geekyants opened #324 "self encryption key is not set for atsign"
**Describe the bug**
I onboarded with @ minorgettingplayed7 on @ mosphere pro , when tried to add contact I started getting exception in encryption service and contact was not added.

`Exception: Self encryption key is not set for atsign @minorgettingplayed7`

after resetting the keychain and onboarding again I did not got this issue and was able add contacts.
This behaviour was seen on multiple d

[2021-11-08 13:56] yahu1031 commented on #300
@sachins-geekyants I have tried reproducing this with `@minorgettingplayed7`

Here are the [logs](https://cdn.sourceb.in/bins/akvwwZvq1f/0)

I got sync success but in middle, I found this. I'm checking this

[code]

[2021-11-09 07:03] cconstab commented on #322
Confirmed bug with test App..  https://github.com/cconstab/atclient_test

If two AtClient.puts are in close succession it seems updates with the latest data do not get to the secondary.

Removing the second AtClient.put results in perfect updates..

Example app running and key does not get updated correctly
![Screenshot_20211108-225505](https://user-images.githubusercontent.com/6131216/140877579-4

[2021-11-09 08:26] nitesh2599 opened #325 "Receiving multiple notifications instead of one"
**Describe the bug**
When we send a notification from sender's side, we are receiving multiple notifications with different notification id.
Faced this in arrive and atmosphere pro.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in to arrive and try sending a "share location" / "request location" / "create event"
2. On the receiver's side we get multiple notification
3. This does not ha

[2021-11-09 13:33] sachins-geekyants commented on #300
@yahu1031 I didn't get 'UnAuthenticatedException' , tried reproducing it.

[2021-11-09 13:35] yahu1031 commented on #300
@sachins-geekyants So the app runs smooth?
Like please LMK if still we have any expected and actual behavior. As of now till we get this issue again I will close this. And feel free to open it again if something goes wrong.

[2021-11-09 13:40] sachins-geekyants commented on #300
In my testing with @ minorgettingplayed7 on wavi.ng, app was working smoothly.
We need to test with other apps and atsigns as well, If this issue comes up again we can re open the ticket.

[2021-11-09 14:01] #300 closed, assigned to sitaram-kalluri, yahu1031

[2021-11-09 17:56] cconstab commented on #322
I have modified the test app to include the HTML data I am saving to the key and the failures I see in my app are now happening regularly in the test app. Hopefully this helps track down the underlying issue..

https://user-images.githubusercontent.com/6131216/140978211-bdb91112-a3d3-4798-b8bd-f2d4b820a2ff.mp4

[2021-11-10 13:00] kalluriramkumar commented on #322
Tested on android emulator with prod atsign's. Unable to reproduce the issue. Attaching the video. Trying on physical device

https://user-images.githubusercontent.com/16645698/141117506-c857be3d-5bd8-4428-b58f-1ab7ee5f41ca.mp4

.

[2021-11-10 14:20] sitaram-kalluri commented on #322
Able to reproduce the bug and found one the potential cause for the issue to occur.
![at_client_test_bug](https://user-images.githubusercontent.com/16645698/141129885-571bad97-f7e5-47dd-8758-59e1e7dfce58.png)

[2021-11-12 14:36] yahu1031 commented on #1607
@sachins-geekyants Try evaluating the value `atValue.value` at [line 85](https://github.com/atsign-foundation/at_client_sdk/blob/trunk/at_client/lib/src/service/notification_service_impl.dart#L85).

[2021-11-13 20:45] TylerTrott opened #327 "at_client-3.0.4 Storage Manager argument issue"
**Describe the bug**
Received this line when trying to Flutter Run:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run command: `flutter run` on an application

**Expected behavior**
Could not build the application for the simulator.

**Screenshots**
<img width="569" alt="Screen Shot 2021-11-13 at 12 41 15 PM" src="https://user-images.githubusercontent.com/66637408/141658571-25251c4

[2021-11-13 22:41] yahu1031 commented on #327
@TylerTrott Use `dependency_overrides:` in pubspec.yaml file for time being as follows.

[code]
This will resolve the issue for now. And this can be fixed on next release.

[2021-11-13 22:44] yahu1031 commented on #327
This issue is because [at_persistence_secondary_server](https://pub.dev/packages/at_persistence_secondary_server) has been released before the [at_client](https://pub.dev/packages/at_client) package release. And the latest changes regarding that are on the git repository in the `trunk` branch. Please make use of it.

[2021-11-13 22:51] cconstab commented on #327
If you prefer to stick with the previous version (I did) then for the moment at least, specify this in the dependencies section of pubspec.yaml.. Once we have this fixed you can obviously remove and then run `flutter pub get`
This will get your code working as it was yesterday..

[code]

[2021-11-15 05:54] sitaram-kalluri commented on #322
Analyzed the issue and following are the observations:
1. If the atsign has core commits, it takes the initial time to sync data (depending upon on the number of keys to sync). So any updates run during that time will be stored to local secondary and only gets to remote secondary after the initial sync is completed.
2. Intermittently, the remote secondary in production is yet times crashing. Becau

[2021-11-15 06:48] sachins-geekyants opened #328 "Encryption enhancement for large file size."
**Is your feature request related to a problem? Please describe.**
To share file in @ mosphere pro we are using `uploadFile` function of atClient.
The `_encryptionService!.encryptFile` function requires the entire file contents as a list of bytes.
Using a large file size , crashes the app as whole list of bytes is kept in memory.

**Describe the solution you'd like**
Can we encrypt the file in chu

[2021-11-15 07:07] VJag commented on #320
![sync_analysis](https://user-images.githubusercontent.com/20091120/141737253-f431d9ef-f85f-4f8b-a174-16f0d5878bf9.png)
[](url)

[2021-11-15 07:09] VJag commented on #320
Based on my analysis, the secondary should support exposing the First and Last key that matches a regex so that SDK can go back in time ask for the entries.

[2021-11-15 07:32] sitaram-kalluri commented on #321
Analyzed the decryption issues and below are the observations:
1. Trying to decrypt a null value.
2. The encryption shared key is not found.
Made defensive code fix to catch the error and return a proper message on the decryption is failing.

[2021-11-15 08:49] #320 closed, assigned to cpswan, nickelskevin, cconstab, sitaram-kalluri, murali-shris, VJag, purnimavenkatasubbu

[2021-11-15 09:28] murali-shris commented on #327
@TylerTrott latest version of persistence needs latest version of at_client. We will publish at_client today.Until then please use the old version of persistence

[2021-11-15 10:19] sitaram-kalluri commented on #327
@TylerTrott : The issue is fixed and published. Please use at_client: ^3.0.5.

[2021-11-15 10:35] #327 closed, assigned to sitaram-kalluri, murali-shris

[2021-11-15 13:30] sarika01 commented on #1617
Core functionality of reporting issues in string form with date and time is done.
Package requires further improvement:

- [x] renaming
- [ ] documentation
- [ ] generalised error/analytics categories

[2021-11-15 16:33] nickelskevin opened #329 "Get @ barbara's atsign working!"
@nickelskevin or @sarika01 or @tinashe404  which ticket is this connected to, so we can mark here?  TY!

[2021-11-15 20:57] ksanty commented on #321
@kalluriramkumar can you please update this ticket?  I think we said we would close this one and link to the new ticket.  Also, please use check boxes for lists, so we have a progress update against each ticket.  TY!!

[2021-11-16 01:50] ksanty commented on #322
@cconstab test link @kalluriramkumar https://github.com/cconstab/atclient_test

[2021-11-16 11:45] DivyaYadavareddy commented on #325
This issue is not appeared  while doing Request Location and Share Location. It appears in Create Event only. In my findings @31rudesardine5 sending an event to @6marvellousbat. sharedBy have 31rudesardine5 is fine but sharedwith has 6marvellousbat 2 times. beacuse of this 6marvellousbat  got notification 3 times.
Below attached screenshot
<img width="1440" alt="Screenshot 2021-11-16 at 12 35 49 P

[2021-11-16 15:40] DivyaYadavareddy commented on #325
Need to know why ShareWith has multiple atsigns. Once the root cause is found, it will be fixed

[2021-11-16 15:55] nitesh2599 commented on #325
@DivyaYadavareddy Thanks for noticing the multiple contacts in events, it was a bug from our side and we have fixed it now.

But, we faced the duplicate notifications issue in Share and Request location part. It is recorded in the request location part of this video at around 3: 20 https://drive.google.com/file/d/1MbynSmYsV7S4NCzMnDasVoAqRG_n5KcR/view

[2021-11-16 16:36] DivyaYadavareddy commented on #325
@nitesh2599  Can you please give me access to this video
mailid: divya@atsign.com

[2021-11-22 06:11] sitaram-kalluri commented on #329
The issue is because of bad data in the hive keystore. There is a key - "_no_smoke" which is triggering the exception during the construction of AtKey Object. Added a syntax check in atCommons package and a validation in at_client_sdk package which fixes the issue.
Tested with barbara atsign and able to load persona after the fix.

[2021-11-22 06:16] sitaram-kalluri commented on #322
Found the potential cause and fixed it. Tested in prod atsign's and works fine.
Changes are available in the following branch: https://github.com/atsign-foundation/at_client_sdk/tree/git-263
@cconstab: Request to please re-test from your side and let us know if you see any issues.

[2021-11-22 06:25] DivyaYadavareddy commented on #325
@nitesh2599  Is this issue resolved ?? Can you please close this issue if it is resolved ??

[2021-11-22 06:59] nitesh2599 commented on #325
@DivyaYadavareddy currently I am not facing this, lets keep it open for some time, if we still don't face it, I will close it.

[2021-11-22 15:38] sitaram-kalluri commented on #321
Further on decryption issue, there is an open ticket on when atsign is reset, the encryption key changes and hence data fails in decrypt process. There is open ticket on the issue. Attaching the git-issue and closing this.

https://github.com/atsign-foundation/at_client_sdk/issues/115

[2021-11-22 15:38] #321 closed, assigned to sitaram-kalluri, murali-shris, VJag

[2021-11-23 06:56] murali-shris commented on #328
"large_file_encryption" branch passed to geekyants team for testing on 19-Nov.Awaiting their feedback

[2021-11-24 22:13] cconstab opened #1606 "@Onboarding for desktops is using flutter_keychain which does not support desktop"
**Describe the bug**
Onboarding using a desktop (windows in my case) results in error due to flutter_keychain..
Suspect this is due to checking of old method of key storage ?

This issue is seen in the widget but is likely to actually be in at_client_sdk

**To Reproduce**
Steps to reproduce the behavior:
1. Create Windows desktop app using onboarding widget
2. Try to run then see error

**Expected

[2021-11-24 22:31] cconstab commented on #1606
Confirmed suspicion, app works moving back to previous bracnh version in pub spec yaml

[code]

[2021-11-25 04:48] cconstab commented on #322
Will do thank you

[2021-11-25 04:49] cconstab commented on #322
@gkc you might want to take a look as well

[2021-11-25 14:37] gkc commented on #322
The fix looks good to me

@kalluriramkumar are you implementing unit tests for this part of the codebase?

[2021-11-25 17:34] ksanty commented on #212
Hi @murali-shris we need to review this very old ticket for accuracy, potentially close it and divert to the new pub.dev publishing issue. Creating new issue cards today.

[2021-11-25 17:40] ksanty commented on #205
Hi @murali-shris we need to review this very old ticket for accuracy, potentially close it and divert to the new pub.dev publishing issue. Creating new issue cards today.

[2021-11-25 17:52] ksanty commented on #213
Hi @murali-shris we need to review this very old ticket for accuracy, potentially close it and divert to the new pub.dev publishing issue. Creating new issue cards today.

[2021-11-25 18:02] ksanty commented on #208
Hi @murali-shris we need to review this very old ticket for accuracy, potentially close it and divert to the new pub.dev publishing issue. Creating new issue cards today.

[2021-11-25 18:07] ksanty commented on #226
Hi @murali-shris we need to review this very old ticket for accuracy, potentially close it and divert to the new pub.dev publishing issue. Creating new issue cards today.

[2021-11-26 02:51] ksanty opened #337 "Pub.dev documentation at_client_mobile, at_client"
### Pub.dev content and (source)s - CHECKLIST OF TO DO's BELOW
All the content shown on pub.dev and where it comes from.
Example: [Shelf](https://pub.dev/packages/shelf) (will point to one of our own once completed)

- Package name, version <pubspec.yaml>
- Published date (generated)
- Platform support (generated based on project structure)
- Tabbed navigation
  - Readme (note: initial content com

[2021-11-26 04:28] ksanty opened #338 "Pub.dev documentation at_client"
### Pub.dev content and (source)s - CHECKLIST OF TO DO's BELOW
All the content shown on pub.dev and where it comes from.
Example: [Shelf](https://pub.dev/packages/shelf) (will point to one of our own once completed)

- Package name, version <pubspec.yaml>
- Published date (generated)
- Platform support (generated based on project structure)
- Tabbed navigation
  - Readme (note: initial content com

[2021-11-26 19:01] ksanty opened #339 "Decide Directory Structure pub.dev Packages"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-11-26 21:01] nickelskevin opened #335 "propose renaming at_client_mobile to at_client_flutter"
**Is your feature request related to a problem? Please describe.**
Now that we have support for desktops, at_client_mobile just seems wrong.

**Describe the solution you'd like**
Create a new package called at_client_flutter and add to the repo.
End of life the at_client_mobile platform over time

**Describe alternatives you've considered**
We could just leave it as at_client_mobile as it is not c

[2021-11-26 21:24] nickelskevin opened #1605 "propose creating a new widget that provides fido2 interoperability"
**Is your feature request related to a problem? Please describe.**
It would be useful to be able to authenticate in a browser using fido2 with an atsign where the private keys are on the mobile device under the control of the owner.

**Describe the solution you'd like**
Create a widget that can be included in any app that would allow an atsign to be used to authenticate in a browser running a flut

[2021-11-26 21:35] nickelskevin opened #1604 "propose creating a new file sharing widget that makes it easy for apps to include this functionality"
**Is your feature request related to a problem? Please describe.**
It would be nice to add a widget that makes it easy to developers to securely share files between people using their app.

**Describe the solution you'd like**
Store and forward is most important, but it would be great to give the options to:
1. share using store and forward with temporal storage
2. share from existing location via

[2021-11-27 03:30] ksanty commented on #339
See new issue cards:

https://github.com/atsign-foundation/at_widgets/issues/269
https://github.com/atsign-foundation/at_libraries/issues/123

[2021-11-29 08:16] #325 closed, assigned to DivyaYadavareddy

[2021-11-29 11:07] sitaram-kalluri commented on #329
Published buzz to testflight - version: 1.1.6+45;
Appstore - version -1.0.1;
Playstore - verison- 1.1.4+44

[2021-11-29 11:20] sitaram-kalluri commented on #322
@gkc : The fix is adding a try catch block around to handle exceptions (mostly the connection drop because of network issues) and set '_syncInProgress' variable to false. So did not add unit tests specific to this; However, we have a unit test related to sync in [sync_util_test.dart](https://github.com/atsign-foundation/at_client_sdk/blob/trunk/at_client/test/sync_util_test.dart) and @purnimavenka

[2021-11-29 12:25] sarika01 commented on #1617
Not yet completed.

[2021-11-29 12:33] purnimavenkatasubbu commented on #329
Tested with the play store app. Personas are being loaded.
![1637834742343](https://user-images.githubusercontent.com/43639593/143868770-50b8c8f0-c1e2-4a58-b778-a787c1d47fdf.JPEG)

[2021-11-29 12:36] sitaram-kalluri commented on #329
@tallent : We are able to load the persona's for @barbara, Can you please test on the latest version of buzz app and confirm if we are good to close this issue?

[2021-11-29 16:11] #329 closed, assigned to sitaram-kalluri

[2021-11-29 16:38] murali-shris commented on #338
duplicate of https://github.com/atsign-foundation/at_client_sdk/issues/337

[2021-11-29 17:19] #339 closed, assigned to gkc, cpswan, cconstab, sarika01, murali-shris, xavierchanth

[2021-11-30 16:22] cpswan commented on #335
@nickelskevin didn't you already propose an approach to this in https://github.com/atsign-foundation/at_client_sdk/issues/241#issuecomment-914412495

[2021-11-30 16:27] cpswan commented on #1612
@yahu1031 what would it take to get this closed, or should this just be a `won't fix` as there's nothing we can do about Samsung's breakage?

[2021-11-30 16:29] cpswan commented on #241
@sarika01 is this closed by #322?

[2021-11-30 16:31] cpswan commented on #220
Since we're touching a lot of pub.dev stuff in PR26 is now the time for this @anthonyvprakash ?

[2021-11-30 16:31] yahu1031 commented on #1612
@cpswan we can fix this but it needs sensitive storage permissions for Android. We must write functionality for saving atKeys locally. We will fix this once if we come to a confirmation that no SFA is there out for flutter w.r.t Android 11 and above.

[2021-11-30 16:33] cpswan commented on #1612
In which case... moved to 'Waiting for upstream dependencies'

[2021-11-30 16:34] #201 closed, assigned to nickelskevin, murali-shris, VJag, anthonyvprakash

[2021-11-30 16:41] cpswan commented on #310
Overtaken by #337

[2021-11-30 16:41] #310 closed, assigned to nobody

[2021-11-30 16:42] cpswan commented on #246
@yahu1031 do you expect this to be dealt with by #337 ?

[2021-11-30 16:44] yahu1031 commented on #246
@cpswan yes Chris. That can be. Lable this duplicate.

[2021-11-30 17:51] #246 closed, assigned to nobody

[2021-11-30 18:02] sarika01 commented on #241
No @cpswan . This is independent of that.

Changes have been made to use biometric_storage in place of flutter_keychain. Platform support for macos, windows and linux is now available in at_client_mobile: ^3.1.2

[2021-11-30 18:07] sarika01 commented on #166
At present, in `at_backupkey_flutter: ^3.1.0`,  BackupKeyWidget helps to take backup of existing keys from the keychain.

[2021-12-01 10:49] murali-shris commented on #194
@sachins-geekyants is this bug still valid?

[2021-12-01 10:54] sachins-geekyants commented on #194
@murali-shris haven't used @ mosphere in a while , have to check it again.

[2021-12-01 10:54] murali-shris commented on #148
@sachins-geekyants can this issue be closed?

[2021-12-01 11:14] yahu1031 commented on #309
I will push the changes tonight

[2021-12-01 12:54] yahu1031 commented on #309
@adityathakurxd correct, But you see we don't really use any flutter widgets in the package. so we don't necessarily need that to be `flutter_lints`

[2021-12-01 13:02] yahu1031 commented on #309
And also there is a fix for this in PR #330

[2021-12-01 13:19] #309 closed, assigned to yahu1031

[2021-12-01 13:26] adityathakurxd commented on #309
Hey @yahu1031,
Thank you for letting me know! I had totally forgotten about this issue. Got all these notifs just now (2 months later).

I had I remember worked on it but hadn't opened a Pull Request just in case someone from the team had a different and better approach.

The mentioned PR closing this issue doesn't specify much in the description. Seems like a bad open source practice to me.

But,

[2021-12-01 13:59] yahu1031 commented on #1612
Need to discuss with @charannnreddy

[2021-12-02 10:00] sachins-geekyants opened #340 "Sync failure for @mightysanddollar"
**Describe the bug**
while running @ mightysanddollar atsign with wavi.ng app and I am getting sync failure consistently.
[code]

where as with other atsign , sync is working fine.

**To Reproduce**
Steps to reproduce the behavior:
1. try running wavi.ng
2. onboard with mightysanddollar
3. check sync status

**Expected behavior**
sync should success.

**Were you using an @‎application when the bug

[2021-12-05 12:07] gkc commented on #322
@cconstab Have you had a chance to re-test yet?

[2021-12-05 18:59] cconstab commented on #322
Plan to tomorrow

[2021-12-06 15:14] murali-shris commented on #328
Worked on a POC code to check backward compatibility - if sender uses new version which uses chunk based encryption and receiver uses old version, decryption will fail. Tried salsa20 dart impl which is a stream cipher. But still unable to decrypt file in single shot
https://github.com/atsign-company/murali-snippets/tree/master/stream/lib/file_encryption

[2021-12-07 06:32] yahu1031 opened #341 "Need to change this to org by default"
https://github.com/atsign-foundation/at_client_sdk/blob/472469e67d2f34fd38072dc19cc188ebf61ecc55/at_client/lib/src/preference/at_client_preference.dart#L33

As of the last discussion during one of the hackathons, The API Keys has moved to prod and @cconstab suggested using `root.atsign.org` instead of `root.atsign.wtf` everywhere even for testing.

[2021-12-08 09:08] sarika01 commented on #318
@DivyaYadavareddy Please confirm on wavi and buzz.

[2021-12-08 11:32] DivyaYadavareddy commented on #318
@ wavi and @ buzz have been updated to at_client 3.0.6 and published.

[2021-12-08 11:51] cpswan commented on #318
Ticking off the last two and closing based on @DivyaYadavareddy update

[2021-12-08 11:51] #318 closed, assigned to cconstab, DivyaYadavareddy

[2021-12-09 12:02] nitesh2599 commented on #1610
@Rajasekhar695 I am getting _Instance of 'ResponseTimeOutException'_ while calling _AtFollowServices().initializeFollowService()_ in wavi.ng for _at_follows_flutter: ^3.0.4_.

Any fix for this ?

[2021-12-09 12:57] Rajasekhar695 commented on #1610
@nitesh2599 wavi with at_follows_flutter: ^3.0.4 is working perfectly, i suppose if you are using staging atsigns for testing there seem to be server down in staging environment that's why you may getting ResponseTimeOutException.

[2021-12-09 14:27] nitesh2599 commented on #1610
@Rajasekhar695 We are using production atsigns, and the package works fine for atsigns which don't have much data, but for atsigns having a lot of data, it is throwing _Instance of 'ResponseTimeOutException'_.

[2021-12-09 19:41] danielgoncalves25 opened #345 "Failure to store public data within atsign"
**Describe the bug**
I am trying to store data within my atsign and make that data public for everyone. I am getting error code AT0003 Invalid syntax.

**To Reproduce**
This is the code where im creating the AtKey object and setting its attributes.
[code]

**Screenshots**

![error DIY](https://user-images.githubusercontent.com/66567808/145462186-d2b44582-c779-4b4a-a530-f248695d4afb.png)

**Smartph

[2021-12-10 00:23] cconstab commented on #345
@danielgoncalves25 sorry this is a little tricky and the error is not useful, we will raise a an enhancement ticket to make both of those a thing of the past...

But to the answer I will provide an example from one of my [apps](https://github.com/cconstab/catweb). In my case I am also adding some other metadata so the key times out after an hour..

The catch is that for public data you have to say

[2021-12-10 17:43] nickelskevin commented on #345
Also - you can remove isDedicated as it is being deprecated.
[/// Starting version 3.0.0 [isDedicated] is deprecated
](https://github.com/atsign-foundation/at_client_sdk/blob/472469e67d2f34fd38072dc19cc188ebf61ecc55/at_client/lib/src/client/at_client_spec.dart)

[2021-12-10 17:47] nickelskevin commented on #345
Will categorize this as an enhancement request as follows:
We should consider adding additional information for Invalid syntax errors.

[2021-12-11 15:50] gkc opened #346 "Testing opening issues from google chat via GitHub bot"
@nickelskevin hello

[2021-12-12 15:01] gkc opened #347 "Split unit tests from functional and end-to-end tests"
**Describe the bug**
Unit tests should have no external dependencies. Currently unit tests, functional tests and end-to-end testss are mixed together in at_client/test; instead we should have unit tests only in at_client/test and create new top-level directories for functional tests and end-to-end tests as we have in the at_server repo

**To Reproduce**
run dart test from the command line or IDE.

[2021-12-12 16:35] gkc commented on #347
Fixed by #348

[2021-12-13 07:59] sarika01 commented on #1617
Putting it into backlog for now for more priority items.

[2021-12-13 09:32] yahu1031 commented on #337
Change versions, and changelogs, bump version for example, and package, adding links of atsign docs will be handled at the end of everything. atsign docs will be added when they are done. Necessary/important functions/methods usages were given in the readme file. Need more info regarding what needs to be added and what is not in the readme.

[2021-12-13 10:28] murali-shris opened #350 "refactor _get and _put in at_client_impl"
Lead: @murali-shris (please update if labeled incorrectly)

**Is your feature request related to a problem? Please describe.**
Need to simplify _get() which is currently *very* long with lots of ‘if’ statements, frequently nested

**Describe the solution you'd like**
refactor get and put methods

[2021-12-13 10:32] murali-shris opened #351 "refactor at_client_impl notify to use NotificationService"
**Is your feature request related to a problem? Please describe.**
notify(...) is deprecated which is fine but it retains its previous implementation. In order to prevent accidents, need to
 refactor notify(...) to use the NotificationService

**Describe the solution you'd like**

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features y

[2021-12-13 12:40] gkc commented on #347
After a chat with cpswan earlier, I will move those two test files (atclient_notify_test.dart and atclient_put_test.dart) into at_functional_tests rather than at_end2end_tests so we're consistent on definitions of functional vs end2end across our repos

[2021-12-13 12:44] gkc commented on #345
1) isPublic and isEncrypted are effectively inverses of each other. We should change code to enforce that and deprecate one of them (I’d suggest deprecating isEncrypted - this is an implicit developer expectation that things are always encrypted unless isPublic is set)
2) sharedWith is fully irrelevant when isPublic is true. We should either (a) actively prevent that combination or (b) just silent

[2021-12-13 12:45] murali-shris commented on #340
@purnimavenkatasubbu please get the keys and replicate the issue

[2021-12-13 13:02] gkc opened #352 "Increase unit test coverage of at_client package to > 80%"
**Describe the bug**
*Unit test* coverage of the at_client package is currently very low (< 10%)

**Additional context**
https://stackoverflow.com/a/34698711 is a good summary of why this matters. Excerpt:

[2021-12-13 13:28] murali-shris opened #353 "replace AtClientManager.getInstance()"
eliminate use of AtClientManager.getInstance() and instead have AtClientImpl, NotificationService, SyncService become aware of each other. An interim step would be to add methods like getNotificationServiceForAtSign(atSign), getSyncServiceForAtSign(atSign), getAtClientForAtSign(atSign)

[2021-12-13 13:37] gkc commented on #353
Intent is to remove the static dependency and make it dynamic, primarily for testability and code correctness reasons. For backwards-compatibility, the existing uses of AtClientManager outside of the group of objects it's co-ordinating *must* continue to work as they do now.

[2021-12-13 13:47] gkc commented on #353
We are all likely to have different proposals for what to do here. Let's make and discuss those proposals here and once we're agreed then we can implement what we have agreed on.

[2021-12-13 13:52] gkc opened #354 "Increase unit test coverage of at_client_mobile package to > 80%"
**Describe the bug**
There are currently no unit tests of the at_client_mobile package 😞

**Additional context**
https://stackoverflow.com/a/34698711 is a good summary of why this matters. Excerpt:

[2021-12-13 14:41] murali-shris commented on #328
moving this to backlog since there is no work to be done on SDK

[2021-12-13 15:30] VJag opened #356 "Review Public API of rSDK and improvise it for maintainability"

[2021-12-13 15:44] #167 closed, assigned to nobody

[2021-12-13 22:28] ksanty commented on #345
@cconstab I put you on this issue card.  Please update if I got it wrong.  :)

[2021-12-13 22:29] ksanty commented on #354
@gkc put you on this issue card.  Please update if I got it wrong.  :)

[2021-12-14 06:07] purnimavenkatasubbu commented on #340
Tested the issue with the play store wavi.ng app. I could replicate the issue.

SEVERE|2021-12-14 11:26:23.093990|AtLookup|Error in remote verb execution Instance of 'UnAuthenticatedException'
I/flutter (20623): error in follows package init : AT0401: Client authentication failed
I/flutter (20623): syncStatus type : Sync status: SyncStatus.failure lastSyncedOn: 2021-12-14 05:56:27.210909Z Exceptio

[2021-12-15 11:45] murali-shris commented on #340
root cause is due to memory issue on server. Server is getting restarted and the initial sync response doesn't reach the client.
Removed logging of values for sync progressive verb handler
https://github.com/atsign-foundation/at_server/pull/440
Will push the above change to prod and then increase the memory limit for this atsign based on the outcome.

[2021-12-15 14:35] sarika01 opened #1603 "at_onboarding_widget: Does not give option to enter re-enter OTP"
**Describe the bug**
Sometimes when there is mismatch in OTP entered, there is no option to re-enter the OTP

**To Reproduce**
Steps to reproduce the behavior:
1. First I entered an activated @ sign
2. Then the widget prompted to enter OTP
3. The OTP was not received for 5 mins and I pressed "resend"
4. The first attempt OTP was delivered and hence authentication failed.
5. There was no option to

[2021-12-16 10:32] nitesh2599 opened #358 "Encrypted Shared key not found"
Lead: @kalluriramkumar

**Describe the bug**
For all notifications sent from 'minorgettingplayed7'  to 'amateurduma94', the decryption fails with the exception:
"Exception: encrypted Shared key not found"

**To Reproduce**
Steps to reproduce the behavior:
1. Log in with 'minorgettingplayed7' and 'amateurduma94' on the arrive app.
2. Send a 'Share Location' notification from 'minorgettingplayed7' t

[2021-12-20 15:04] #351 closed, assigned to gkc, murali-shris, VJag

[2021-12-20 23:50] cconstab commented on #345
Not something I was going to fix in the code but I did answer the original question. Jagan/Murali/GKC this needs you guys to agree an approach to make the enhancement.. Might be worth opening a new ticket if this one is too confusing..

[2021-12-21 00:12] cconstab commented on #322
I can no longer get the code to fail so I would say that passes my tests

[2021-12-21 00:12] #322 closed, assigned to cconstab

[2021-12-21 13:49] gkc opened #364 "Provide better API to AtKey in the at_client library"
**Is your feature request related to a problem? Please describe.**
See bug report in #345 - in summary, there are no current validations which will prevent conflicting attributes being set on AtKey's metadata (e.g. isPublic and isEncrypted)

**Describe the solution you'd like**
Additions to the API which will allow developers to confidently set metadata knowing that it will all be validated early.

[2021-12-21 14:01] gkc opened #365 "Deprecate either isPublic or isEncrypted in Metadata"
Lead: @gkc

**Is your feature request related to a problem? Please describe.**
isEncrypted and isPublic are inverses of each other, and one of them is therefore redundant and should be deprecated

**Describe the solution you'd like**
I'd suggest we deprecate isEncrypted, since everything is always encrypted unless it is marked public.

See also #345

In order to fully determine that deprecation is

[2021-12-21 14:01] gkc commented on #345
Hi @danielgoncalves25 - see [cconstab's suggestion above](https://github.com/atsign-foundation/at_client_sdk/issues/345#issuecomment-990441244) which should help you resolve your problem.

Have opened feature request #364 for a better API, and feature requests #365 and #366 for better guidance / protections when using the existing API

[2021-12-21 14:20] gkc opened #366 "provide validation around combined use of AtKey.sharedWith and Metadata.isPublic"
**Is your feature request related to a problem? Please describe.**
AtKey.sharedWith is fully irrelevant when MetaData.isPublic is true. We lack validation / guidance to prevent this, and resulting behaviour is not determinable

**Describe the solution you'd like**
* When `isPublic == true` && `sharedWith != null`, either (a) throw an exception or (b) set isPublic to false and log a WARNING

This f

[2021-12-21 14:21] gkc commented on #364
As well as providing a better API, we should provide more guidance to developers on avoiding problems with the current API.

1) isPublic and isEncrypted are inverses of each other. See #365

2) sharedWith is fully irrelevant when isPublic is true. See #366

[2022-01-04 15:11] yahu1031 commented on #337
Documentation done and deployed to pub.dev

[2022-01-04 15:11] #337 closed, assigned to sitaram-kalluri, yahu1031

[2022-01-05 01:28] cconstab commented on #345
Closing this ticket but noting that [ #364  ](https://github.com/atsign-foundation/at_client_sdk/issues/364)was opened

[2022-01-05 01:28] #345 closed, assigned to gkc, cconstab, murali-shris, VJag

[2022-01-06 17:31] xavierchanth opened #1602 "Feature Idea: Subscription contact groups"
**Is your feature request related to a problem? Please describe.**

This originates from the idea that someone could host their newsletter on atmosphere pro.
The problem is that the newsletter issuer would have to manually update their contact group for the newsletter.

**Describe the solution you'd like**
Be able to create a new type of contact group, where other people could subscribe/request to

[2022-01-10 07:17] murali-shris commented on #353
Exploring approaches and yet to finalise on the design.

[2022-01-10 13:32] sachins-geekyants commented on #340
Initial sync worked fine and I was able to get data for mightysanddollar atsign.

[2022-01-10 13:32] #340 closed, assigned to murali-shris, purnimavenkatasubbu

[2022-01-10 13:54] sachins-geekyants opened #371 "updates are not reflecting on wavi page for @mightysanddollar"
**Describe the bug**
Change on wavi app does not reflects on wavi website for mightysanddollar atsign.

**To Reproduce**
Steps to reproduce the behavior:
1. Onboard on wavi with mightysanddollar
2. make any changes
3. changes does not reflect on wavi webpage

**Expected behavior**
Updates should sync with wavi webpage.

**Were you using an @‎application when the bug was found?**
  - @ wavi

**Addi

[2022-01-10 14:38] sitaram-kalluri opened #372 "Request and response going through well-known paths"
Lead: @kalluriramkumar (please update if labeled incorrectly)

**Is your feature request related to a problem? Please describe.**
Right now the marshaling and unmarshalling of requests and responses do not happen through well-defined code paths.

**Describe the solution you'd like**
**Define abstractions and provide the implementations

**Describe alternatives you've considered**
None

**Additiona

[2022-01-10 14:39] sitaram-kalluri opened #373 "Atkey validation & parsing"
Lead: @VJag (please update if labeled incorrectly)

**Is your feature request related to a problem? Please describe.**
Right now what makes a key valid is not clearly defined. Idea is to come up with the definition and then implement it in the code.

**Describe the solution you'd like**
The below document captures the thoughts:
https://docs.google.com/document/d/16wQTDo2Lb9G9Pti_LnTc726FlUKO_aMcuI

[2022-01-10 15:32] gkc commented on #352
This is too huge to track as one issue. Going to break this up into multiple issues : 1) get to > 40% 2) get to > 60% 3) get to >70% 4) get to > 75% 5) get to > 80%

[2022-01-10 15:35] gkc opened #374 "Increase unit test coverage of at_client package to > 25%"
Lead: @gkc

**Describe the bug**
*Unit test* coverage of the at_client package is currently very low (< 10%)

**Additional context**
https://stackoverflow.com/a/34698711 is a good summary of why this matters. Excerpt:

Previously we just had #352 but this is too big for a single issue

[2022-01-10 15:37] #352 closed, assigned to gkc

[2022-01-10 15:45] gkc commented on #347
Forgot to close this, was done before the holidays

[2022-01-10 15:45] #347 closed, assigned to gkc

[2022-01-10 16:36] gkc commented on #356
Whole bunch of work got done on this. Nothing more to do in this particular issue, will close.

TODO: link in other tickets and issues to this one for the record; then close this ticket.

[2022-01-10 16:44] gkc commented on #374
Adjusting target to reduce the size of this issue.

[2022-01-10 22:08] yahu1031 commented on #358
Looks like this is fixed in [#atsign-foundation/apps#391](https://github.com/atsign-foundation/apps/issues/391)

[2022-01-11 11:47] VJag commented on #372
**Sub tasks**
- [ ] Propose new abstractions for request and response parsers and design review
- [ ] Implement request parsing abstractions
- [ ] Implement response parsing abstractions

[2022-01-11 11:50] VJag commented on #373
** Sub tasks

 - [ ] Define a "Valid Key"
 - [ ] Implement the validation of the AtKey
 - [ ] Plug the validation into SDK and the server

[2022-01-11 12:37] nitesh2599 commented on #358
#atsign-foundation/apps#391 this is only a front end fix where we show a toast of why the decryption has failed.

[2022-01-11 13:02] yahu1031 commented on #358
okie, I will look into it then.

[2022-01-11 16:28] gkc commented on #373
I added some subtasks to the main issue description following team discussion today

[2022-01-12 11:29] gkc commented on #353
Let's clarify the objectives.

1. We're trying to make it possible to test the three collaborators AtClientImpl, NotificationServiceImpl and SyncServiceImpl independently of each other. This means that we can't have any of those implementations refer to their collaborators via *static* AtClientManager.getInstance().getXxx
2. Ideally we would inject the required collaborators into each instance via

[2022-01-12 11:36] murali-shris commented on #353
Thanks for the clarification Gary. I am clear on what exactly needs to be done from here.

[2022-01-17 12:02] nitesh2599 opened #377 "Missing keys in getAtKeys"
Lead: @yahu1031

**Describe the bug**
The atsign `tina_she` created a key `custom_me_-_what_i’m_all_about.wavi` using the old wavi app and the new wavi app is not able to get that key in the `getAtKeys` call.

While the api used in the wavi website is able to get that key.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in to the new wavi app (previously called wavi.ng) with atsign `tina

[2022-01-17 15:49] VJag commented on #373
Definition of a valid @key is defined here:
https://docs.google.com/document/d/16wQTDo2Lb9G9Pti_LnTc726FlUKO_aMcuIAnkT7iqew/edit?usp=sharing

[2022-01-18 19:53] yahu1031 commented on #377
Looks like this is not a `'`. It looks more similar, `’` which is a unicode character. Need to investigate it more. The scan verb gives us the key `custom_me_-_what_i’m_all_about.wavi@tina_she`. But when looking up in the core code it doesn't give it.

[2022-01-18 19:59] yahu1031 commented on #377
This is a similar issue that is happening with `@armadillocoffeesilky`. I have a key as zero-width whitespace. wavi.ng website is able to fetch it but not wavi app.

[2022-01-19 06:14] VJag commented on #373
<img width="1336" alt="Screenshot 2022-01-19 at 8 23 50 PM" src="https://user-images.githubusercontent.com/20091120/150155457-943b2672-28ec-4ed2-966a-74853dbee5be.png">

[2022-01-19 06:14] VJag commented on #373
Above diagram should give us an idea into where to plug-in the key validations

[2022-01-19 06:42] VJag commented on #373
@gkc IMO action plan for the implementation.

1. Implement toString on AtKey and its subclasses to get on the wire representation
2. Implement validators for various key types. This should be in at_commons.
3. AtKey should be validated before and after creation
      3.1. New builders of AtKey should validate the AtKey before the creation
      3.2 Introduce validate() on AtKey to validate after c

[2022-01-19 10:20] gkc commented on #373
Agreed

[2022-01-19 11:56] VJag commented on #373
Analysis of the key types and their behaviour:
https://docs.google.com/spreadsheets/d/1EOcF_vznBoKWXxRT8dbeG47RP7wnF30ubwXghganTlk/edit?usp=sharing

[2022-01-19 12:35] #353 closed, assigned to gkc, murali-shris, VJag

[2022-01-19 12:38] murali-shris commented on #374
https://github.com/atsign-foundation/at_client_sdk/pull/378
coverage improved from 4.6 to 8.6%

[2022-01-21 11:07] gkc commented on #358
@yahu1031 any progress on this?

[2022-01-21 11:08] yahu1031 commented on #358
@gkc not yet Gary. I will work on it.

[2022-01-21 11:29] sachins-geekyants opened #379 "Not receiving notification after switching atsign"
Lead: @kalluriramkumar

**Describe the bug**
If we have onboarded with @ a , we receive notification.
On switching to @ b , we still receive notifications.
If we switch back to @ a , we stop receiving notification.

**To Reproduce**
Steps to reproduce the behavior:
1. onboard with any atsign (@ a)
2. switch to second atsign (@ b)
3. switch back to @ a and we stopped receiving notifications.

**Exp

[2022-01-23 23:54] nickelskevin opened #380 "How should we implement groups in The atPlatform?"
There have been a number of requests for supporting a "group" capability for the @ platform. This issue seeks to gather needs and ideas for what capabilities we should provide.

The desired outcome is a definition of the capabilities we need to satisfy that we can architect and implement once agreed.

One alternative approach is to leave it to individual app developers to implement as they see fit

[2022-01-23 23:58] nickelskevin commented on #380
Please see the Peer to [Peer Groups Google Doc](https://docs.google.com/document/d/1tYEd7dy5BGboxQCAixcRqwdbXfN5V5y3B6WODBSABn8/edit#) as one conceptual approach we might use.

[2022-01-24 08:57] sarika01 commented on #377
@yahu1031 What is the fix or solution for this?

[2022-01-24 09:03] yahu1031 commented on #377
Started working on it @sarika01 will update you soon

[2022-01-24 11:37] VJag commented on #373
Burned down an 8 still a 5 to 8 is remaining. Will carry over to this sprint too.

[2022-01-24 12:09] murali-shris commented on #366
@gkc Work planned in this issue has been done as a part of
https://github.com/atsign-foundation/at_client_sdk/issues/373
Closing this one as duplicate

[2022-01-24 12:10] murali-shris commented on #366
duplicate of https://github.com/atsign-foundation/at_client_sdk/issues/373

[2022-01-24 12:10] #366 closed, assigned to gkc, VJag

[2022-01-24 12:45] sarika01 commented on #1617
Partially done.

[2022-01-24 12:48] sitaram-kalluri commented on #350
Refactored the get and put method in at_client_impl. Currently the functional test related to notifications are failing because of a minor bug (changes related to support reset of ttb and ttl) in at_persistence_secondary_server. Fixed the issue.
Need to publish the at_persistence_secondary_server for the functional tests to pass.

Require 3 sprint point to bring this task to closure.

[2022-01-24 13:10] murali-shris opened #381 "publish packages for refactoring changes"
Lead: @kalluriramkumar (please update if labeled incorrectly)

Test and publish the packages in the below order
server:

- [x] at_commons
- [x] at_peristence_spec
- [x] at_persistence_secondary_server
- [x] deploy server with updated package version at_client
- [x] at_client
- [x] at_client_mobile
- [ ] update widgets dependent on at_client to latest version

[2022-01-24 13:20] gkc commented on #365
@murali-shris can we incorporate this into the AtKey refactoring PR also?

[2022-01-24 13:21] sitaram-kalluri commented on #372
Completed coding for Response Transformers and for getAtkeys method on at_client_impl

[2022-01-24 13:23] gkc commented on #374
Remaining: Once #350 and #370 have been merged then @gkc will resolve merge conflicts in their unit tests branch and merge in. Effort for #350 and #370 is included in those tickets; remaining effort here is 2SP approx

[2022-01-24 13:28] sarika01 commented on #379
This is a blocker for apps functionality.

[2022-01-24 13:32] gkc commented on #372
@kalluriramkumar can you update the subtasks section in the main issue description above please?

[2022-01-24 13:54] gkc commented on #354
We'll be getting to this over time. Target for PR29 is > 25%. Once we hit that we'll set target > 40% and so on

[2022-01-24 13:58] gkc commented on #364
Closing this ticket; work is covered by #373

[2022-01-24 13:58] #364 closed, assigned to gkc, VJag

[2022-01-24 13:59] gkc commented on #1602
See also https://github.com/atsign-foundation/at_client_sdk/issues/380

[2022-01-24 14:05] gkc commented on #115
@murali-shris @cconstab @nickelskevin In which situations is this a problem? Are there any workarounds? (Trying to assess this ticket's priority)

[2022-01-24 14:07] gkc commented on #241
@sarika01 Can this ticket be closed?

[2022-01-24 14:10] gkc commented on #1615
@cconstab a few months have passed ... is it time to take a look at this again?

[2022-01-24 14:15] gkc commented on #1573
@nickelskevin Now that notify and monitor have been implemented, do we want to revisit this and think about making a stand-alone library that developers can include just for this purpose?

[2022-01-24 14:20] gkc commented on #166
@nickelskevin  @cconstab Now that some more time has passed ... How important do you think this now is from a usability standpoint?

[2022-01-24 14:22] gkc commented on #169
Not sure what ended up being done here. Going to bump into current sprint for discussion at least.

[2022-01-24 14:24] gkc commented on #152
@sarika01 @murali-shris @cconstab @XavierChanth How much of a problem has this been? Is it still important enough to keep open in the backlog at least?

[2022-01-24 14:27] gkc commented on #42
@murali-shris very old ticket ... can we close it, now that metadata changes are very infrequent?

[2022-01-24 14:28] xavierchanth commented on #152
I'm not sure of the context for this issue, is it the Flutter environment, secondary environment?
I can add on a command for dess or at_app, if necessary.

[2022-01-24 14:29] sarika01 commented on #1615
This can be taken up along with UX change.
https://github.com/atsign-foundation/at_widgets/issues/321

[2022-01-24 14:59] #241 closed, assigned to sarika01, murali-shris

[2022-01-24 15:42] gkc commented on #169
Work in this sprint will be to assess if there is a problem and how much of a problem it is.

[2022-01-25 09:31] yahu1031 commented on #377
@nitesh2599 Can you please check it now? Cause Latest changes are in canary and the atsign is also in canary.

[2022-01-25 10:21] purnimavenkatasubbu opened #382 "refactor_atkey: Data not being displayed in the wavi_app"
Lead: @purnimavenkatasubbu

**Describe the bug**
Saved data is not being displayed in the new wavi app

**To Reproduce**
Steps to reproduce the behavior:
1. First point to branch of refactor_atkey in dependency overrides
2. Then install the wavi app
3. And then add details as firstname,lastname , phone and save
4. Check the saved details

**Expected behavior**
Details entered should be saved and d

[2022-01-27 07:02] sachins-geekyants opened #384 "Missing value for atKey"
Lead: @sachins-geekyants

**Describe the bug**
while fetching value for atKey, data was missing.
Form @ minorgettingplayed7 , I sent some files  to @ significantredpanda.
We are able to fetch the atKeys on receiver's end but value is coming as "".

This is one of the key that is failing.
`cached:@significantredpanda:file_transfer_143d3c8a-7092-4bb8-a6e3-f846efce17b4.mospherepro@minorgettingplayed7

[2022-01-27 08:57] murali-shris commented on #379
@sachins-geekyants is this issue appearing in mobile app as well?

[2022-01-27 10:12] sitaram-kalluri commented on #384
Had call with @sachins-geekyants  and below are the initial analysis from the secondary server logs. Looks like when running TTR job if empty data is received, the keys are updated with empty data.
[code]

[2022-01-27 11:18] sachins-geekyants commented on #379
@murali-shris yes .

[2022-01-28 13:28] yahu1031 commented on #377
@nitesh2599 Server logs need to be checked. I pinged @kalluriramkumar about it and he will LMK what was logged there.

[2022-01-31 06:24] yahu1031 commented on #358
I see `minorgettingplayed7:shared_key@@amateurduma94`. It has 2 `@`.

[2022-01-31 07:18] sitaram-kalluri commented on #350
Publishing packages is in-progress. The progress is tracked using the following git issue: #https://github.com/atsign-foundation/at_client_sdk/issues/381

[2022-01-31 07:20] sitaram-kalluri commented on #381
Published the packages of at_client for refactoring of get and decryption service
at_commons: 3.0.3
at_utils: 3.0.5
at_lookup: 3.0.7
at_persistence_secondary_server: 3.0.15
at_client: 3.0.9
at_client_mobile: 3.1.5

[2022-01-31 10:31] sachins-geekyants opened #386 "Not able to get value for AtKey who doesn't have a shared with"
**Describe the bug**
while running @ mosphere pro mobile , I noticed many keys were failing with the message `key does not exist in keystore `.
i.e
`Exception: @:sentHistory_v2.mospherepro@daily3bossanova does not exist in keystore `

`SEVERE|2022-01-31 15:48:51.205563|AtContactsImpl|Invalid atsign contact found @AtKey{key: atconnections.thethingaboutmyfolksdry.daily3bossanova.at_contact.mospherep

[2022-01-31 13:11] gkc commented on #386
Which versions of client libraries are you using?

[2022-01-31 14:04] sachins-geekyants commented on #386
at_commons: ^3.0.3
  at_contact: ^3.0.3
  at_lookup: ^3.0.6
  at_onboarding_flutter: ^3.1.3
  at_common_flutter: ^2.0.4
  at_contacts_flutter: ^4.0.0
  at_contacts_group_flutter: ^4.0.0

[2022-01-31 15:05] gkc commented on #386
And is this with your local build, and presumably not the version that is
in the App Store and Google Play?

[2022-01-31 15:27] VJag commented on #386
@sachins-geekyants. Can you please update what operation led to the key "@:sentHistory_v2.mospherepro@daily3bossanova"?  I mean how did we build the AtKey to get what we got.

[2022-01-31 15:48] sachins-geekyants commented on #386
@VJag
I created this AtKey and then performed get operation on it.

        ..key = ‘sentHistory_v2’
        ..sharedBy = ‘atsign’
        ..metadata = Metadata();

[2022-02-01 07:18] sachins-geekyants commented on #386
By overriding `at_utils` to [this](https://github.com/atsign-foundation/at_tools/tree/git-386) branch , it's working fine.

[2022-02-02 23:04] cconstab opened #389 "Background notifications on the @platform"
Lead: @cconstab

**Is your feature request related to a problem? Please describe.**
Currently the @ application needs to be active to receive notifications. This causes problems when for example a notification for a file transfer has arrived at the secondary but there is no way to notify a device/app that is not running.

**Describe the solution you'd like**
Notifications that can be received in a

[2022-02-03 14:59] murali-shris commented on #379
When atsign is switched instance of NotificationServiceImpl is not getting cleared from serviceMap.So when the same atsign is switched back again, monitor will not be started.Fixed the issue and pushed to "switch_atsign_bug" branch.
@sachins-geekyants please test from this branch

[2022-02-03 21:44] gkc commented on #386
(Fixed by https://github.com/atsign-foundation/at_tools/pull/141 )

[2022-02-04 13:54] #386 closed, assigned to sitaram-kalluri

[2022-02-06 01:57] #226 closed, assigned to sarika01, murali-shris

[2022-02-06 01:58] #212 closed, assigned to murali-shris

[2022-02-06 02:00] #205 closed, assigned to murali-shris

[2022-02-06 02:05] #213 closed, assigned to murali-shris

[2022-02-06 02:09] #208 closed, assigned to murali-shris

[2022-02-07 01:31] sitaram-kalluri commented on #350
Completed refactoring the get and put method in at_client_impl. Further refactored the encryption_service.dart as well. The get method changes are published. The put method changes are completed and yet to publish will be tracked in [#392](https://github.com/atsign-foundation/at_client_sdk/issues/392)

[2022-02-07 01:31] #350 closed, assigned to gkc, murali-shris, VJag

[2022-02-07 01:34] #381 closed, assigned to sitaram-kalluri, murali-shris

[2022-02-07 01:36] sitaram-kalluri commented on #372
Added request - response transformers to enable all requests/responses go through a single path. Integrated the code with get method and put method. The get method changes are published to pub.dev packages in at_client: 3.0.9. The put method changes are completed and yet to be published.

[2022-02-07 01:36] #372 closed, assigned to sitaram-kalluri, VJag

[2022-02-07 09:45] sitaram-kalluri opened #392 "Test and publish refactored put method"
Lead: @kalluriramkumar

**Is your feature request related to a problem? Please describe.**
Test the refactored put method in at_client_impl and publish the packages.

- [x] Merge changes to trunk branch in at_client
- [x] Test the changes
- [x] Publish the packages.

[2022-02-07 09:55] kalluriramkumar opened #393 "Implement AtKey validations"
**Is your feature request related to a problem? Please describe.**
Implement the new design for Atkey Validation.
Following is the reference for design - [#373](https://github.com/atsign-foundation/at_client_sdk/issues/373)

- [ ] Implement the changes in at_commons

- [ ]  If we end up with existing characters that we do not wish to add to our allow list, then we need to decide what to do. It is

[2022-02-07 10:30] yahu1031 commented on #377
![image](https://user-images.githubusercontent.com/35523357/152771039-b0a99435-360d-405e-9800-cb2970d9792f.png)
Here is the result after the fix

[2022-02-07 10:54] sachins-geekyants commented on #379
@murali-shris I can still see this issue in "switch_atsign_bug" branch.

[2022-02-07 11:22] sitaram-kalluri commented on #379
Moving the issue to PR30 and re-estimating to 1SP.

[2022-02-07 11:25] sarika01 commented on #1617
Requires review, testing and publishing.

[2022-02-07 12:29] sachins-geekyants commented on #384
@kalluriramkumar we are still facing this issue, do we have any update on this ?

[2022-02-07 12:44] sitaram-kalluri commented on #384
@sachins-geekyants: we will take this issue into coming sprint(PR-30).

[2022-02-07 12:55] sitaram-kalluri opened #394 "Atkey validation uptake"
Lead: @kalluriramkumar

Uptake the AtKey Validation design.

- [x] Implement toString on the AtKey and its subclasses
- [x] Validate() on AtKey and its subclasses
- [x] Invoking validate in the key creation paths like "put and notify"
- [x] If we end up with existing characters that we do *_not_* wish to add to our allow list, then we need to decide what to do. It is certainly _possible_ for us to

[2022-02-07 12:59] sitaram-kalluri commented on #373
The AtKey validation implementation is tracked in [#394](https://github.com/atsign-foundation/at_client_sdk/issues/394). Closing this issue.

[2022-02-07 12:59] #373 closed, assigned to VJag

[2022-02-07 13:06] gkc commented on #377
@yahu1031 You marked this Fixed and said

How was the fix verified?

[2022-02-07 13:11] gkc commented on #358
@yahu1031 @murali-shris  What are the next steps here?

[2022-02-07 13:12] gkc commented on #374
No progress in PR29 sprint, more urgent unplanned work appeared

[2022-02-07 13:19] yahu1031 commented on #358
Well, I spent 3SP on this issue, and the next few days I was on leave. Some changes have been done in SDK and deployed to canary it seems. I request @nitesh2599 to recheck/ try reproducing this issue. If it still exists, I would like to continue on the upcoming sprint. I tested this issue today but couldn't reproduce it.

**Additional context (atSigns Location)**
amateurduma94 - hornet
minorgettin

[2022-02-07 13:41] yahu1031 commented on #377
Sorry @gkc for not writing up anything. Cause, This was reproduced with collaboration with @purnimavenkatasubbu. And then later I was on leave and During that time @kalluriramkumar made some fixes and pushed to canary servers. As @tinashe404 atsign(@tina_she) was a canary atsign, It got fixed. Maybe Sitaram can give more info about it.

[2022-02-07 14:10] nitesh2599 commented on #358
@yahu1031 I can still see the issue.
<img width="730" alt="Screenshot 2022-02-07 at 7 37 41 PM" src="https://user-images.githubusercontent.com/74917928/152803673-3a44e6e6-d576-4435-bceb-8bc6f7bdd03b.png">

[2022-02-07 14:14] sitaram-kalluri commented on #377
@gkc : I believe the following PR might have fixed the issue: [#492](https://github.com/atsign-foundation/at_server/pull/492)

[2022-02-07 14:18] yahu1031 commented on #358
cool, I will continue investigating this.

[2022-02-07 15:20] yahu1031 commented on #358
Maybe I need 3SP or 5SP in this sprint.

[2022-02-07 16:42] gkc commented on #358
Since this is related to encryption / decryption and has been open for ~8 weeks, I'm going to mark this P1

[2022-02-07 17:24] nitesh2599 commented on #377
@yahu1031 I tested this now. On the device that already had `@tina_she` logged in (in which the issue was reported), that device is not able to get the `custom_me_-_what_i’m_all_about.wavi` key still.

Tried it on a new device and it was able to get the `custom_me_-_what_i’m_all_about.wavi` key.

[2022-02-07 17:25] yahu1031 commented on #377
Cache cleaning works I think

[2022-02-08 11:44] yahu1031 commented on #377
@nitesh2599 can we close this issue?

[2022-02-08 15:05] nitesh2599 commented on #377
Yes, I think we can. Thanks.

[2022-02-08 15:05] #377 closed, assigned to yahu1031

[2022-02-08 15:42] murali-shris commented on #379
After switching atsign, monitor is getting started but sync is getting called from -1 and no stats notification is received via monitor which is an issue. Currently investigating this issue

[2022-02-09 08:12] purnimavenkatasubbu commented on #382
refactor_atkey branch is no longer valid. Tested the issue with the latest client and commons pub dev versions. The issue does not exist.

![Screenshot from 2022-02-09 13-36-48](https://user-images.githubusercontent.com/43639593/153153118-908c1bbc-b114-45c0-9a13-74207268bf80.png)

[2022-02-09 08:12] #382 closed, assigned to sitaram-kalluri

[2022-02-09 15:15] sitaram-kalluri opened #397 "Implement handling error responses in SDK"
**Is your feature request related to a problem? Please describe.**
Handle the `error:` responses sent by the server in the SDK.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other

[2022-02-10 04:10] ksanty opened #398 "Update archetype to new template"
Before we can update the Pub.dev unlisted packages, we need to update the Github [archetype](https://github.com/atsign-foundation/archetype).  See [example](https://github.com/atsign-foundation/at_client_sdk/tree/trunk/at_client_mobile) for framework.

- [x] [Readme.md](https://github.com/atsign-foundation/archetype/blob/trunk/README.md)
- [x] [Contributing.md](https://github.com/atsign-foundation

[2022-02-10 17:16] murali-shris commented on #379
https://github.com/atsign-foundation/at_client_sdk/pull/396
Awaiting app testing feedback from Purnima

[2022-02-10 17:20] murali-shris opened #400 "Sync progress callback"
**Is your feature request related to a problem? Please describe.**
Currently apps don't have any callbacks from client SDK to know sync progress

**Describe the solution you'd like**
* Expose an abstract listener which widgets can implement and listen to sync progress state

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've

[2022-02-11 08:38] purnimavenkatasubbu commented on #379
Tested with the branch "switch_atsign_bug". was able to receive notifications after switching atsigns.

https://user-images.githubusercontent.com/43639593/153560437-e439b0db-b3bc-4973-9b47-e43d2f5bb837.mp4

[2022-02-11 21:23] xavierchanth opened #402 "Depend on biometric_storage ^4.0.0 in at_client_mobile"
**Describe the bug**
biometric_storage has a bug in ^3.0.0 that crashes when building with kotlin version >= 1.6.
This will allow support for kotlin 1.6

**To Reproduce**
Steps to reproduce the behavior:
1. First I pulled atsign-company/mwc_demo
2. Then I ran the app with commit id: 46bcb49b8907ad7ce9eb2203efceba981dafd08a
3. And then it fails to build

[Link to the original issue in biometric_sto

[2022-02-14 08:28] sachins-geekyants commented on #379
working fine with "switch_atsign_bug" branch.

[2022-02-15 11:51] murali-shris commented on #400
draft PR https://github.com/atsign-foundation/at_client_sdk/pull/399/files

[2022-02-15 23:27] cconstab opened #404 "AtClientManager.synchService.isInSync crashes after a few calls ."
**Describe the bug**
Crashed app when checking that status of Sync between local and remote secondaries

**To Reproduce**
Steps to reproduce the behavior:
When using this code

[code]

  I always get a Unhandled exception after a few cycles..
[code]

Looks like a low level protocol problem

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If ap

[2022-02-15 23:34] gkc commented on #404
@murali-shris please can you take a look since you're working on the sync progress listener at the moment

[2022-02-16 04:01] murali-shris commented on #404
Sure Gary.

[2022-02-16 07:45] yahu1031 commented on #384
[code]

Logs after the fix was done.

[2022-02-16 08:13] sitaram-kalluri commented on #384
Following [PR](https://github.com/atsign-foundation/at_server/pull/522) fixes this issue.

[2022-02-16 10:22] murali-shris commented on #404
root cause:
The call to isInSync from the main method, interferes with a sync from server. Both share the same remote secondary. Hence we get sync verb response in the place we are expecting latest server commit Id.
possible resolution:
in the call to isInSync create a new remote secondary instead of reusing the remote secondary.

To be discussed in architecture call

[2022-02-16 14:56] murali-shris commented on #404
Pull request
https://github.com/atsign-foundation/at_client_sdk/pull/405

[2022-02-17 01:11] #379 closed, assigned to murali-shris

[2022-02-17 04:23] #397 closed, assigned to sitaram-kalluri, VJag

[2022-02-17 14:49] murali-shris commented on #384
@kalluriramkumar removing fixed label until changes are published

[2022-02-18 06:07] Intiserahmed commented on #402
The error goes away and build successfully when you upgrade your  kotlin version to 1.5.10. Which can be found in android/build.gradle.

The probable cause of this happening is biometric storage requires kotlin version greater 1.4 and old projects don't have that.

[2022-02-18 16:00] gkc commented on #358
@yahu1031 please can you update this ticket so it's up to date for the sprint planning on Monday

[2022-02-18 16:10] gkc commented on #404
@cconstab the fix (#405) has been merged to trunk; can you try to reproduce please so we can verify the fix?

[2022-02-21 04:09] murali-shris commented on #404
Fixed in at_client version 3.0.10

[2022-02-21 04:10] murali-shris commented on #400
Feature completed and published at client version 3.0.10

[2022-02-21 04:10] #400 closed, assigned to murali-shris, VJag

[2022-02-21 04:22] murali-shris commented on #384
fix published in at_client version 3.0.10

[2022-02-21 04:32] sitaram-kalluri commented on #358
Connected via the open-ssl to the remote secondary of `minorgettingplayed7` does not have the shared_key created for the `amateurduma94`. Hence the issue. The potential cause is the shared_key not sync'ed to the remote secondary of 'minorgettingplayed7'. However, with recent changes the sync and notification are more reliable that would prevent the issue.

[2022-02-21 07:18] sitaram-kalluri commented on #358
approach: Extend metadata to include encryptionKey/sharedKey and publicKeyChecksum

Description:
Let's say @ jagan wants to share the phone with @ sitaram (@ sitaram:phone@jagan), details look like this.

Meta:
	ttl:
	ttb:
	ccd:
	encryptionKey/sharedKey: <AES key encrypted with @ sitaram's public key>
	publicKeyChecksum: <Checksum of Sitaram's public key at the time of encryption>

Data: <Data enc

[2022-02-21 08:24] #392 closed, assigned to sitaram-kalluri, purnimavenkatasubbu

[2022-02-21 08:25] sitaram-kalluri commented on #392
The changes are available in the latest at_client library: at_client: 3.0.10

[2022-02-21 08:26] sitaram-kalluri commented on #394
Burnt down 2 story points in PR-30. Carry over to next sprint.

[2022-02-21 10:44] sarika01 commented on #389
@cconstab For this https://pub.dev/packages/background_fetch was evaluated.
• It works fine on Android. There might be still risk of OS killing in times of resource shortage.
• On iOS, there are challenges in testing itself.
A useful article enlisting the OS behaviour in this scenario (shared by Son Le):
https://www.andyibanez.com/posts/common-reasons-background-tasks-fail-ios/

Next steps: We can

[2022-02-21 12:17] murali-shris opened #410 "APKAM continue SPIKE and start implementation"
We have analyzed various ideas for:

How apps can claim ownership of a namespace
How an @ app becomes known
Potential use of the secondary server for @ company can potentially solve some of the issues related to publishing and exchanging data with the apps.
Conclusions and next steps:

An @ app need not prove that it is a genuine @ app
@ app's writing to each other namespace is a separate problem

[2022-02-21 13:59] gkc opened #411 "Streaming sync - complete the server-side work"
**Describe the bug**
* Local updates made before initial sync is complete do not sync to the cloud secondary server
* Initial sync does not appear to be triggered immediately upon creation of AtClientManager (or switching to another @ sign)
* Sync runs periodically. As a result it can be up to 5 seconds before an update (e.g. creating a new key) is synced to the cloud secondary server. Developer e

[2022-02-21 14:57] sitaram-kalluri commented on #358
Analysis on potential causes of exceptions on decrypting the data:

1. When an atsign is logged into two different devices:
	When the same atsign is onboarded on two different devices. When a key is created and shared to the same atsign from the two devices, since initially, the shared_key does not exist, both devices create two different shared keys. When synced to remote secondary, the former sh

[2022-02-21 15:00] gkc opened #412 "Automated tests for atmospherePro use of core platform"
**Describe the bug**
We need automated tests which will exercise core @mospherePro functionality without involving the UI. The core scenario is
* atsign1 shares file with atsign2, atsign3, atsign4, ..., atsign50
* notifications are delivered within expected timeframe
* files are received successfully

[2022-02-21 15:16] VJag commented on #358
We will solve some of the issues once we implement:

1. Sync progress listener to prevent an update before full sync on app side
2. Validations are plugged in during key creation in SDK

However, we still need the approach discussed above to solve other problems.

[2022-02-21 15:31] gkc commented on #412
This is the automated test equivalent of https://github.com/atsign-foundation/apps/issues/482

[2022-02-21 16:01] gkc commented on #411
There are multiple engineer-weeks of work required here. Sprint estimates should be "how much do we want to invest in this sprint" rather than "how much work will this take"

[2022-02-21 18:28] yahu1031 commented on #402
## INFO: ##
In case the latest kotlin version doesn't work, then having the same version as biometric_storage uses will work.

[code]
This will work.

[2022-02-24 07:31] murali-shris commented on #411
@srieteja please update this ticket with changes you are currently working on

[2022-02-24 20:58] cconstab opened #418 "Automatic sync not working on at_client: 3.0.10 / at_utils 3.0.6 onwards"
**Describe the bug**
When setting a AtKey and putting a value using at_client: 3.0.10 / at_utils 3.0.6 onwards no client sync is happening so no notification is sent and the receiving @ sign does not know about the shared information

**To Reproduce**
Steps to reproduce the behavior:
1. Using the MWC demo code use the previous version of the libs and everything works as it should
2. Then I updated

[2022-02-24 22:11] cconstab commented on #418
As a side note I watched the video and found/saw the '42' I changed it to '0' so that would zero out the dials at first rather than give a false reading..

[2022-02-25 09:12] srieteja commented on #411
The above-mentioned PR makes sync params available to the developers to configure as required. I tested it by setting values 1, 1, 1(syncRequestTriggerInSeconds, syncRequestThreshhold, syncRunIntervalInSeconds) and the values were being synced by the next second as expected. This should solve the real-time sync requirement.

[2022-02-25 12:15] sitaram-kalluri commented on #418
The changes are published in at_client : 3.0.12

[2022-02-25 21:55] cconstab commented on #418
Suggest we leave this ticket open under we have end to end tests in place to check this works

[2022-02-25 22:06] cconstab opened #423 "Notifications being marked as delivered but client app does not see them"
**Describe the bug**
Confirmation of notification is received by the sending app (presumably to the secondary being sent to) but the client app does not see the notification.

**To Reproduce**
Steps to reproduce the behavior:
1. First I migrated all my code from using auto notify to manual notification/update
2. Then I ran many test notifications and most of the time they worked
3. And then one fa

[2022-02-25 22:16] cconstab commented on #423
The full logs

Sender:-
[code]

The receiver

[code]

[2022-02-25 22:19] cconstab commented on #423
I suspect the smoking gun here is the double notification of the last two value which should have been 9. then 10. not 10 then 10.

Worth noting this is the code to pick up the value rather than trying to decode the notification.. Perhaps thats the error ??

[code]

[2022-02-27 10:46] snowrlax commented on #1603
Hey! I had the same problem with the OTP too when I was using the @wavi app. The problem is that the first OTP arrives after requesting to resend the second OTP and still you don't get the second OTP, but after you hit resend again you will get the second OTP you requested for and the third one won't be there. I hope it will be fixed soon.

[2022-03-02 06:01] sitaram-kalluri opened #427 "Enable deletion of cached keys to sync to remote secondary."
**Describe the bug**

The deletion of cached keys does not sync to remote secondary.

**To Reproduce**
1. Delete the cached key.
2. Upon sync local changes to remote, the deleted cached key commit does not sync to remote secondary.

**Expected behavior**
1. The deletion cached key should be sync'ed to remote secondary.

[2022-03-03 06:32] #427 closed, assigned to sitaram-kalluri

[2022-03-03 16:56] cconstab opened #430 "Connection to root fails and the exception is not caught"
**Describe the bug**
If you have a long running program the connection to root may well fail (it may also fail to secondaries)

**To Reproduce**
Steps to reproduce the behavior:
1. Set up a long running program using the SDK (I used the MWC demo code)
2. Then run it for a long time (oiver night) or just pull the network cable :-)
3. And then see the call to to toot fail and crash your program

**E

[2022-03-03 16:58] cconstab commented on #430
@gkc perhaps while we open up this code we think about the caching of root information for a set period to save all the noise hitting the root server ?

[2022-03-03 17:21] cpswan commented on #430
@gkc and I were seeing this at MWC22. We put a shell script around the Dart sender app to restart it when it crashed due to connectivity issues (which were pretty frequent with the mobile connection).

[2022-03-03 23:22] gkc commented on #430
Colin - yes caching of the secondary info from root lookup is something we
should do. Cache invalidation trigger could be if the client fails to
(re)connect to the secondary even if internet connection seems to be OK.

[2022-03-07 04:49] sitaram-kalluri commented on #394
Progress in PR-31
----------------------------
1. Completed implementing the toString method in AtKey and its sub-classes.
2. Updated the unit tests
3. Plugged in AtKey validations in at_client put method and notify method.

[2022-03-07 06:45] murali-shris commented on #358
Code changes done in sharedkey_metadata across repos and PRs currently under review.
I am looking into an issue reported by Purnima..
Moving this issue to next sprint. pending tasks - testing and publishing packages

[2022-03-07 06:52] murali-shris commented on #404
@cconstab can you please verify the fix in latest version of at_client

[2022-03-07 06:52] murali-shris commented on #404
pending fix verification.Moving to next sprint

[2022-03-07 07:14] sitaram-kalluri opened #434 "Tests to verify notify data real-time."
Written tests to notify data real time

Following is the commit for tests that  notify data in real time:

https://github.com/atsign-foundation/at_client_sdk/commit/02a3857463f83b6912e00f0a048bf1b52992195a

[2022-03-07 07:14] #434 closed, assigned to sitaram-kalluri

[2022-03-07 07:25] murali-shris commented on #418
end to end test to be taken up in PR 32

[2022-03-07 07:47] murali-shris commented on #410
carry over to PR32. no updates in PR31

[2022-03-07 13:09] sitaram-kalluri opened #435 "Decrypting notification values"
**Is your feature request related to a problem? Please describe.**
At the moment, the value in the notifications are not decrypted out of the box. The apps have to decrypt the notification value.

**Describe the solution you'd like**
Provide out of the box feature to decrypt the notification value.

[2022-03-07 13:14] sitaram-kalluri opened #436 "Enhance the notify method to use the new encryption process"
**Is your feature request related to a problem? Please describe.**
At the moment notify method in the at_client uses the old encryption process.

**Describe the solution you'd like**
Replace the old encryption process with the new encryption process.

[2022-03-07 15:07] murali-shris opened #437 "support for atmosphere pro testing"
*place holder task to support and release atmosphere pro

[2022-03-07 15:28] murali-shris commented on #328
resume work on this for atmosphere pro release

[2022-03-07 15:59] #418 closed, assigned to gkc, sitaram-kalluri, murali-shris

[2022-03-08 13:43] Intiserahmed opened #439 "Cannot run at_client_mobile example app"
**Describe the bug**
The at_client_mobile example app is not currently working due to it's missing env file.
![Screenshot 2022-03-08 at 7 40 50 PM](https://user-images.githubusercontent.com/57252940/157249285-660c09fb-cbd4-4dad-a75f-d0ea549fed16.png)

**To Reproduce**
Need to add the .env file .

[2022-03-08 14:06] murali-shris commented on #328
Pull request: https://github.com/atsign-foundation/at_client_sdk/pull/438

[2022-03-08 14:07] murali-shris commented on #328
@sachins-geekyants @nitesh2599
please test "large_file_encryption" branch of at_client using atmosphere pro app on mobile
on my laptop - 4 core and 16GB memory..1GB file encryption took 140 seconds, CPU usage was 100% out of 400%..memory usage was 1.5-2%

[2022-03-09 02:15] CurtlyCritchlow opened #440 ".getKeys() does not provide a list with sharedWith parameter."
**Describe the bug**
The `.getKeys()` does not provide a list with sharedWith parameter.

**To Reproduce**
Steps to reproduce the behavior:
1. First I sent a key using the `.put()` method.
[code]
2. Then I retrieve a key using the `.get(key)` successfully
[code]
the result is 'duude'
3. And then I tried to retrieve a list of keys using the `.getKeys()` method but was unsuccessful.

[code]
The resu

[2022-03-10 00:02] #440 closed, assigned to nobody

[2022-03-10 14:18] murali-shris commented on #435
draft PR.
https://github.com/atsign-foundation/at_client_sdk/pull/442
functional test added is not working. have to investigate further

[2022-03-10 15:30] sitaram-kalluri commented on #394
Ran the new AtKey validations on all the production @ Sign and following is the [link](https://docs.google.com/spreadsheets/d/1I31fBNl2-Hwc1guE-I8tjevL-mUsaBpV2qKHyeIr8fU/edit?usp=sharing) that has the special characters/emojis and keys that fail the with new validations.

Burnt  5 SP in Sprint PR-32

[2022-03-10 16:34] sachins-geekyants commented on #328
I tried uploading a file of 500MB size on an android phone with 4GB ram, it took around 9 minutes to encrypt the file.

[2022-03-10 16:52] gkc commented on #328
9 minutes to encrypt, or 9 minutes to encrypt *and* transmit to filebin2 server?

[2022-03-10 17:26] sachins-geekyants commented on #328
9 minutes to only encrypt the file.

[2022-03-11 08:42] sachins-geekyants commented on #384
I am running @ mospherePro with at_client:3.0.13

I can still reproduce this issue.

The following key was sent by significantredpanda to dying36dragonfly on 9th march 2022. On receiver's end data is coming as "".

`data:{“key”:“cached:@dying36dragonfly:file_transfer_6284349d-7921-40d5-9c08-cca9e786f99a.mospherepro@significantredpanda”,“data”:“”,“metaData”:{“createdBy”:null,“updatedBy”:null,“creat

[2022-03-11 10:59] gkc commented on #394
Thank you Sitaram this is *great* work! @cconstab @nickelskevin please take a look at the spreadsheet Sitaram created (link in previous comment) ... the number of invalid keys overall is quite low and, eyeballing the data, it looks like most of them are in at-signs of people within the company

[2022-03-11 11:02] gkc commented on #440
@CurtlyCritchlow was this fixed or not a bug or ... ?

[2022-03-11 11:06] gkc commented on #439
@Intiserahmed can you point me at a repo with an app which has a .env file please

[2022-03-11 11:14] gkc commented on #439
@kalluriramkumar maybe this issue has been caused by https://github.com/atsign-foundation/at_client_sdk/pull/433

[2022-03-11 12:28] CurtlyCritchlow commented on #440
It's not a bug. @cconstab explained that isPublic must be false in the metadata or the shareWith atSign will not be associated with the key. Maybe this should be mentioned in the documentation.

[2022-03-11 14:33] gkc commented on #440
Ah yes. There's been a fair bit of work over the past couple of months around this part of the SDK as there are a few pitfalls like this (there still are, so we could keep backwards compatibility for now).

Most relevant would be https://github.com/atsign-foundation/at_tools/pull/133 which made various AtKey builders available.

[2022-03-14 11:46] gkc commented on #411
I'll be working on this over the next couple of days

[2022-03-14 11:51] Gayathri-GA commented on #324
I have faced the similar issue, While I am trying to add contact on @mosphere pro app, The contacts is not getting added also it results below exception

<img width="900" alt="Screenshot 2022-03-14 at 5 20 25 PM" src="https://user-images.githubusercontent.com/60135944/158166331-d151413f-4ac6-43da-acac-0ecf92431f95.png">

[2022-03-14 15:57] sachins-geekyants commented on #328
Changes are available on [feat/large-file-encryption](https://github.com/atsign-foundation/atmosphere_pro/tree/feat/large-file-encryption) branch and is tested by @pavithragk .

[2022-03-14 17:31] sitaram-kalluri commented on #384
The secondary server is restarted on 11th March and unable to fetch the earlier logs. Requested to @sachins-geekyants to share the files today and captured the id's. Will keep an eye on the server logs.

[2022-03-14 19:31] cconstab opened #443 "at_client decryption_service/decryption_manager unhandled exception"
**Describe the bug**
When sending the service something that is not encrypted or badly formated results in uncaught exception

**To Reproduce**
Steps to reproduce the behavior:
1.  Set up a notification callback (with wrong regex)
2. Then caught call back and tried to decrypt the regaulr 15 second keep alive on the monitor
3. Decrypt fails and crashes program unless I catch in my code

**Expected

[2022-03-15 00:05] cconstab commented on #443
Demo code here in the ssh_control folder

https://github.com/atsign-company/Colin-snippets

[2022-03-21 09:28] murali-shris commented on #328
SDK changes merged to trunk
https://github.com/atsign-foundation/at_client_sdk/pull/438
Issue can be close once at_client is published

[2022-03-21 09:47] murali-shris commented on #404
@cconstab I am closing this issue.Please re-open if you face the issue again.

[2022-03-21 09:47] #404 closed, assigned to gkc, murali-shris, VJag

[2022-03-21 10:03] cpswan opened #447 "Add new CICD atsigns for end to end tests"
**Is your feature request related to a problem? Please describe.**

#446 needs to have its own atsigns for CICD to prevent any crosstalk between at_server and at_client_sdk end-end tests.

**Describe the solution you'd like**

Create new atsigns: cicd7 & cicd8

**Describe alternatives you've considered**

Do these need to be dess atsigns, or can they just run on staging (comes down to which versio

[2022-03-21 11:57] Intiserahmed commented on #439
yeah I believe this causing the issue.

[2022-03-21 12:54] #437 closed, assigned to sitaram-kalluri, murali-shris

[2022-03-21 13:15] murali-shris commented on #358
server 3.0.13 released to production

[2022-03-21 13:15] #358 closed, assigned to sitaram-kalluri, VJag

[2022-03-21 13:49] gkc commented on #374
less important than continuing to enhance functional and end-to-end test coverage

[2022-03-21 13:50] gkc commented on #354
less important than continuing to enhance functional and end-to-end test coverage

[2022-03-21 13:51] gkc commented on #411
Lots of progress; needs another 2-3 days to make sure all functionality and error handling is fully covered by tests

[2022-03-21 14:20] murali-shris opened #449 "Option to delete notifications"
**Is your feature request related to a problem? Please describe.**
Currently there is no option from app/at client to delete notifications

**Describe the solution you'd like**
- change notification syntax and verb handler to delete notification

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional con

[2022-03-22 03:24] sitaram-kalluri commented on #447
@cpswan : We need 4 atsigns. 2 atsigns running on at_secondary_server trunk branch code and another 2 atsigns running on latest canary releases.

[2022-03-22 09:56] sitaram-kalluri opened #451 "Generate notification id on the at_client."
**Is your feature request related to a problem? Please describe.**
At the moment, the notification Id is generated in the cloud secondary. As a result, we have to await until  the notification Id is generated on the cloud returned.

**Describe the solution you'd like**
Generate the notification id on the at_client and make necessary changes in downstream layers to support the changes.

[2022-03-22 14:59] cpswan commented on #447
There are 4 new atsigns:

@ce2e1 host cicd1.atsign.wtf image atsigncompany/secondary:dess_cicd
@ce2e2 host cicd2.atsign.wtf image atsigncompany/secondary:dess_cicd
@ce2e3 host cicd1.atsign.wtf image atsigncompany/secondary:canary
@ce2e4 host cicd2.atsign.wtf image atsigncompany/secondary:canary

[2022-03-23 10:40] #447 closed, assigned to cpswan

[2022-03-25 17:14] murali-shris commented on #328
at_client 3.0.14 is published

[2022-03-25 17:14] #328 closed, assigned to murali-shris

[2022-03-25 17:19] murali-shris commented on #436
PR review done.at client will be published after next server release
https://github.com/atsign-foundation/at_client_sdk/pull/452/files

[2022-03-28 12:31] sachins-geekyants opened #455 "lookup on public key doesn't gives updated data."
**Describe the bug**
When we do a lookup for a public atkey, we get the value of the old cached key.

**To Reproduce**
Steps to reproduce the behavior:
1. create a public key with @ a
2. try to fetch the key on @ b side
3. update the key from creator side(@ a)
4. fetch the key value again on @ b side, we get old cached data not the updated one.

**Expected behavior**
we should be getting the updat

[2022-03-28 17:35] gkc commented on #455
We discussed this today and agreed that in addition to the existing ability to use ttr where appropriate, we would implement an optional parameter for cached public key retrieval which, if set, will mean that we (1) always attempt to refresh from the remote secondary (2) if get successful response, replace the cached key or if not then (3) return the cached key we already had.

[2022-03-29 10:53] murali-shris commented on #430
@gkc @VJag we have findSecondary method in at_lookup library. there are multiple calls to this method from at_client. Should the logic to cache the secondary url result be implemented in at_lookup or the caller (at_client) ?

[2022-03-29 11:09] sachins-geekyants commented on #384
Can still see this issue for ID: `cached:@dying36dragonfly:file_transfer_2b3b7446-7003-40f0-a78c-8f2ad1e00514.mospherepro@significantredpanda `

had a discussion with Sitaram, he pointed

For some reason the secondary server is running on 3.0.10 version
we have the fix on 3.0.12 version. Hence you are still seeing the issue

[2022-03-29 14:54] sitaram-kalluri commented on #384
@sachins-geekyants : Even if the server is upgraded to a new version, the key will not have the old value because, as far as i remember app does not store the key (setting sharedWith to dying36dragonfly in significantredpanda atSign)

[2022-03-30 06:25] sachins-geekyants commented on #384
We can not recover the old value but if the server is upgraded to 3.0.12 version, we should not be seeing this issue?

[2022-03-30 08:46] gkc commented on #430
Good question.

findSecondary's responsibility is simply to look up the secondary's address
from the root server, so I'd say we should leave that responsibility as is,
and have the caching implemented in the caller. (Note that the caching is
required not just in the client but on the server as well, both outbound
and inbound where there's an auth handshake)

We should also file a ticket for the ba

[2022-03-31 02:07] cconstab opened #1572 "at_lookup causes a crash when lookups fail to root (possibly other places too)"
**Describe the bug**
If a device is offline then at_lookup can cause the application to crash rather than wait for connectivity to come back. Looks to be a failure in name lookup in this case but if the network is down nothing @ should crash it should wait until network is available..

**To Reproduce**
Steps to reproduce the behavior:
1. Create a small app that connects to a secondary (ColinSnippe

[2022-03-31 02:09] cconstab commented on #1572
@VJag would love your thoughts on this one and how to handle gracefully at the @ platform level.. Thanks

[2022-03-31 02:20] VJag commented on #1572
I will certainly analyse.

[2022-03-31 06:09] sitaram-kalluri commented on #384
@sachins-geekyants : Correct.

[2022-03-31 12:43] VJag commented on #1572
@cconstab  I have captured my analysis here:

https://docs.google.com/spreadsheets/d/1KE22RrWzIKPvR1NTDZWKcfaU1sFnCEhJeHoDYjd3QBA/edit?usp=sharing

In the "Network usage analysis" tab I tried to capture the network usage, in the "Solution" tab tried to capture the new abstraction I am trying to propose.

Please let me know if my analysis is in line what was expected.

[2022-03-31 22:12] cconstab opened #458 "at_client "crashes" when decryptionService.decrypt() returns a null"
### [gkc] Update 2023-02-20
* The fatal bug was fixed in 2022.
* However we have not yet tackled the follow-on issue of how the contacts widget should deal with atSigns which no longer exist.
* Created [ticket in at_widgets](https://github.com/atsign-foundation/at_client_sdk/issues/1597) which will need an architecture discussion.
* Closing this issue.

**Describe the bug**
This was originally not

[2022-03-31 22:40] cconstab commented on #458
After digging into the problem that causes the issue is in :-

https://github.com/atsign-foundation/at_client_sdk/blob/trunk/at_client/lib/src/transformer/response_transformer/get_response_transformer.dart

lines 38/39

[code]

I put in a null check and the app now works as it should

[code]

[2022-03-31 22:50] cconstab commented on #458
Although that fixes things it is probably not the ideal solution.. Would appreciate your thoughts on the best way to fix the bug.

@VJag @gkc @murali-shris @kalluriramkumar

[2022-03-31 23:34] cconstab commented on #458
With this 'fix' in place still get plenty of errors from the contact lib @sarika01 / @murali-shris

My guess is that these are contact entries that we used to be able to decrypt but cannot now as the @  sign keys changed for some reason..

If that is the case I think we should remove (carefully :-)) the contact if is not longer decryptable ... What do you think ?

[code]

[2022-04-01 05:59] VJag commented on #458
It is possible to do remove a 'no longer valid' contact.

One way to do that is:

1. Self key decryption throws the exception back to app

2. Give an option to the widget to decide if the contact can be deleted or not

@override
Future<List<AtContact>> listContacts({bool removeInvalid = false}) async

3. Handle the exception in the contacts library when contact is no longer decryptable

    try {

[2022-04-01 06:16] VJag commented on #458
I think even better would be to return a bad contact back so that the "user will not have silently removed without any information" kind of experience.

For that we have to do the following:

1. Introduce isValid on AtContact defaulting it to true
2. In the contacts library we catch the exception during decryption failure and still add the contact to the return set with @sign and isValid populated

[2022-04-01 08:00] sachins-geekyants commented on #384
Similar issue was observed on different atsign as well - 5distinctiveaquabike

`data:{“key”:“cached:@5distinctiveaquabike:file_transfer_0731d300-06e4-4d60-94d9-8e5ed92e2577.mospherepro@jetskiracingpetite”,“data”:“”,“metaData”:{“createdBy”:null,“updatedBy”:null,“createdAt”:“2022-03-31 09:01:11.246Z”,“updatedAt”:“2022-03-31 09:01:11.247Z”,“availableAt”:null,“expiresAt”:“2022-04-30 09:01:11.247Z”,“re

[2022-04-01 11:22] murali-shris commented on #458
Fix in at_client
https://github.com/atsign-foundation/at_client_sdk/pull/459

[2022-04-01 11:54] VJag commented on #458
@sarika01 @cconstab  Fix is 1st piece of the puzzle. We have to brainstorm an approach to deal with it on the side of the contacts.

[2022-04-02 18:26] cconstab commented on #1572
Dealing with on/off  and intermittent network needs to be core to @.. it's important in mobile but critical in IoT .

 I think this needs to be looked at this sprint..

Thoughts ?

@gck @VJag @nickelskevin

[2022-04-02 19:00] gkc commented on #1572
I agree. Every network-related error needs to have clearly defined predictable well-tested behaviour, and also have reliable predictable well tested behaviour on reconnect

I'd like the focus for this sprint to be

1) Graceful reliable fully tested handling of intermittent network availability in the client libraries
2) Lots more tests ensuring we cover all recovery scenarios for inter-server conn

[2022-04-03 02:51] cconstab opened #462 "Demo code on atsign.dev no longer compiles cleanly"
**Describe the bug**
Error when following the instructions on atsign.dev

**To Reproduce**
Steps to reproduce the behavior:
1. First go to https://atsign.dev/docs/get-started/tryatplatform/
2. When running the app compile time errors (tested on windows)

[code]

**Expected behavior**
The demo should always run and be tested when we push new code (lets automate this !)

**Screenshots**
See above

*

[2022-04-03 02:55] cconstab commented on #462
I think maybe we canary builds on the client side.. Thoughts welcome

[2022-04-03 16:52] gkc commented on #462
Ideally I think we would run a straight compile only (because we won't have a device connected) on this demo (and any other 'interesting' code) every time there is a merge to trunk of a PR in the at_client_sdk, at_tools or at_libraries repos

I don't know if cross-server hooks like that are possible, so a good alternative might be to compile this demo periodically - maybe a few times per day.

I w

[2022-04-03 21:41] gkc commented on #1572
I'd add

3) Review how errors are passed from the underlying core libraries to application code, agree on any enhancements that need to be made, implement them
4) Ensure that the apps have clear visibility of all client-side state which is relevant - i.e. document and agree what enhancements need to be made in order to give the visibility that app code needs, and implement those enhancements

[2022-04-03 21:47] gkc commented on #1572
Tagging @sarika01 also. Making all of this happen will need close collaboration across all of the engineers irrespective of whether they've been more focussed on apps or client SDK or server - the more cross-pollination that happens, the better. It'd be great to see 'core' developers working on app widgets and 'app' developers working on 'core' libraries!

[2022-04-04 08:36] murali-shris commented on #436
server release is pending..moving to next sprint

[2022-04-04 08:41] murali-shris commented on #443
defensive fix done in at_client
https://github.com/atsign-foundation/at_client_sdk/pull/459

[2022-04-04 10:46] sitaram-kalluri commented on #439
As per the discussion with @gkc, we are not adding the `.env` file into the repository. The action item on this to make the user know that .env file is required either through the readme or describe in the error message.

[2022-04-04 10:47] sitaram-kalluri commented on #412
Added end2end tests for in for put and get methods in at_client

[2022-04-04 11:21] sitaram-kalluri commented on #455
On further discussion, Along with optional parameter(skip cache) it would be better to have tolerance which indicates the interval. Tolerance decides if the skip cache should be honoured or not. Discussion to continue

[2022-04-04 11:27] gkc commented on #411
LOL Gary-from-the-past "2-3 days"

Burned another 8SP in sprint PR33

Server-side looks pretty solid. Client side seems solid but I still don't have enough coverage of all of the edge cases in order to be sure.

[2022-04-04 11:37] gkc commented on #412
Little progress in sprint PR33. Move to sprint PR34

[2022-04-04 11:48] gkc opened #466 "MVP Java client library"
**Is your feature request related to a problem? Please describe.**
Have had requests from customers for a Java library to talk to the cloud secondary.

**Describe the solution you'd like**
For this first MVP, a Java client library covering key management, connection, authentication, and verbs. Remote secondary only (no local secondary)

[2022-04-04 11:51] sitaram-kalluri commented on #423
@gkc has identified a potential cause for flakiness in the sending the notifications. Following is the git issue: [#617](https://github.com/atsign-foundation/at_server/issues/617) and the issue is fixed using the following [PR](https://github.com/atsign-foundation/at_server/pull/616)

[2022-04-04 11:54] gkc commented on #423
It is likely that #617 would have then (in some cases) further compounded the flakiness by triggering #621

[2022-04-04 14:24] gkc commented on #451
Covered by https://github.com/atsign-foundation/at_server/issues/546 - closing this one

[2022-04-04 14:24] #451 closed, assigned to sitaram-kalluri, VJag

[2022-04-04 15:28] murali-shris opened #467 "Analysis of error exposure and handling"
**Is your feature request related to a problem? Please describe.**
Capture various scenarios where errors need to be properly handled and document the expected behavior

**Describe the solution you'd like**
NA

**Describe alternatives you've considered**
NA

**Additional context**
[Doc](https://docs.google.com/spreadsheets/d/17CiHbwOFCcQLvg8jCmUGaYkkwUFBMULPBwIdzzosMOo/edit?usp=sharing)

[2022-04-04 15:28] murali-shris opened #468 "Design of error exposure and handling"
**Is your feature request related to a problem? Please describe.**
Based on what comes out of https://github.com/atsign-foundation/at_client_sdk/issues/467 we should come up with a design for the problems we intend to solve

**Describe the solution you'd like**
NA

**Describe alternatives you've considered**
NA

**Additional context**
https://docs.google.com/spreadsheets/d/17CiHbwOFCcQLvg8jCmUGaYk

[2022-04-04 15:30] murali-shris opened #469 "Implement error exposure and handling"
**Is your feature request related to a problem? Please describe.**
Place holder for the implementation work for the design produced in task https://github.com/atsign-foundation/at_client_sdk/issues/468

**Describe the solution you'd like**
NA

**Describe alternatives you've considered**
NA

**Additional context**
NA

- [x] Design
- [x] Implement exception chaining for get method
- [x] Implement ex

[2022-04-04 15:37] sitaram-kalluri commented on #435
Coding complete. Need to publish the changes. Adding - 1SP.

[2022-04-04 16:02] VJag opened #470 "Capture changes needed in protocol to support the apps"
**Is your feature request related to a problem? Please describe.**
There have been requests coming from the app developers for the enhancements needed in the protocol. The objective of this task is to capture and analyze the requests and brainstorm them further.

**Describe the solution you'd like**
NA

**Describe alternatives you've considered**
NA

**Additional context**
[Doc](https://docs.googl

[2022-04-04 16:05] sarika01 commented on #455
This was important to get version stored in public key. We have moved to github release tags to achieve the same.

[2022-04-04 19:47] cconstab commented on #462
So upgraded flutter to latest version and everything works just fine now...

Very odd as I cannot find any notes covering this issue..

Will look into a job to build this every so often and keep flutter etc at the latest version

Will raise a ticket for that  and close this ticket...

[2022-04-04 19:49] gkc commented on #462
That's just plain weird.

[2022-04-05 20:52] xavierchanth commented on #462
This has been in the back of my mind with at_app, I'd like to automate as much maintenance work with the repository as possible. All verification and testing of the cli and generated apps should eventually be automated, but I still have plenty of work to do before it gets there. I plan to resume my progress on this goal in May.

[2022-04-06 04:06] sitaram-kalluri commented on #324
Analysed the code and found the root cause of the issue. The issue occurs only in iOS devices. When an app in iOS is uninstalled the local storage gets cleared but the keychain remains as is. Hence, during onboarding the app gets the data from the key-chain manager. But in `onboard` method in `at_client_service.dart`, we do not have the logic to persist the keys from key-chain manager to local sto

[2022-04-06 12:38] sachins-geekyants commented on #324
@kalluriramkumar is this fix available to test by pointing to any branch ?

[2022-04-06 13:13] gkc commented on #324
@sachins-geekyants I just spoke to @kalluriramkumar - he has fix in local branch which resolves this, and he will be raising a PR shortly

[2022-04-06 13:16] gkc commented on #324
Going to add this into the current sprint as it looks important to resolve for the next AtmospherePro release

[2022-04-06 14:00] gkc commented on #324
@sachins-geekyants Sita's created the PR #473 branch https://github.com/atsign-foundation/at_client_sdk/tree/persist_keys

[2022-04-06 14:07] gkc commented on #324
@kalluriramkumar previously in this ticket you said, "As a temporary fix, calling persistKeys in onboard method in at_client_service.dart after line no. 220 resolved the issue."

Does Sachin still need to do that, or does [this PR ](https://github.com/atsign-foundation/at_client_sdk/pull/473) fix the issue such that your suggested temporary fix is no longer needed?

[2022-04-06 14:39] sitaram-kalluri commented on #324
This PR fixes the issue and the temporary fix is not needed.

[2022-04-06 20:58] kmahon99 opened #474 "Invalid Or Corrupted Pad Block"
**Describe the bug**
Adding an base 64 encoded image entry to the local secondary seems to work, but the data that is being returned when I get the image entry is throwing an AT0023: "Invalid argument(s): Invalid or corrupted pad block" error.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an AtKey: `var key = AtKey()`
2. Assign a Uuid to the key name: `atKey.key = const Uuid().v1();

[2022-04-07 13:20] gkc commented on #324
@sachins-geekyants once you've done a test against at_client trunk to verify this fix, we can publish a new at_client package version which includes this fix

[2022-04-07 13:32] sachins-geekyants commented on #324
It's working fine with the trunk branch.

[2022-04-07 14:31] sachins-geekyants commented on #384
@kalluriramkumar
This happened again on atsigns whose servers are updated(curiousrazzledazzlerose , 5distinctiveaquabike).

data:{"key":"cached:@curiousrazzledazzlerose:file_transfer_00660614-602d-4c8d-9042-338439e34803.mospherepro@5distinctiveaquabike","data":"","metaData":{"createdBy":null,"updatedBy":null,"createdAt":"2022-04-07 14:21:33.795Z","updatedAt":"2022-04-07 14:21:33.795Z","availableAt

[2022-04-07 14:50] sitaram-kalluri commented on #384
The value of the key is changed before the server is updated to the latest version. From the logs, the key is updated at `2022-04-07 06:00:36.348092` and the server is updated at `2022-04-07 07:58:11`

Log snippet of key update
-----------------------------------

`f2d60436-eca2-597f-9a6a-df5d8c2f8325_secondary.1.smxyer0m34e5@swarm0001-09.us-central1-c.c.secondaries.internal    | FINER|2022-04-07

[2022-04-08 06:08] murali-shris commented on #435
published
at_client - 3.0.16
at_client_mobile - 3.1.12